@charset "UTF-8";
.switch {
  position: relative;
  display: block;
  margin: 0 0 !important;
  padding: 0 0 !important;
}

.switch input {
  opacity: 0 !important;
}

input:checked + .slider {
  background-color: #73b129;
}

input:focus + .slider {
  box-shadow: 0 0 1px #73b129;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-horizontal {
  width: 27px;
  height: 16px;
}

.switch-horizontal input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.switch-vertical {
  height: 27px;
  width: 16px;
}

.switch-vertical input:checked + .slider:before {
  -webkit-transform: translateY(11px);
  -ms-transform: translateY(11px);
  transform: translateY(11px);
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 992px) {
  .switch-horizontal {
    width: 36px;
    height: 20px;
  }
  .switch-horizontal input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  .switch-vertical {
    height: 36px;
    width: 20px;
  }
  .switch-vertical input:checked + .slider:before {
    -webkit-transform: translateY(16px);
    -ms-transform: translateY(16px);
    transform: translateY(16px);
  }
  .slider:before {
    height: 18px;
    width: 18px;
    left: 1px;
    top: 1px;
  }
  .slider.round {
    border-radius: 20px;
  }
}

@media (min-width: 1200px) {
  .switch-horizontal {
    width: 40px;
    height: 22px;
  }
  .switch-horizontal input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  .switch-vertical {
    height: 40px;
    width: 22px;
  }
  .switch-vertical input:checked + .slider:before {
    -webkit-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
  }
  .slider:before {
    height: 20px;
    width: 20px;
    left: 1px;
    top: 1px;
  }
  .slider.round {
    border-radius: 22px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1270px;
  }
}

.text-success {
  color: #73b12a !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #252525;
  font-weight: 500;
}

a {
  color: #73b12a;
  text-decoration: none;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}

a:hover {
  color: #669c25;
  text-decoration: none;
}

h2 {
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 36px;
  }
}

ul {
  padding-left: 1.1em;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.h2-after {
  display: block;
  text-align: center;
  color: #979d9d;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
}

.line-height-high {
  line-height: 1.9em;
}

.btn {
  background-color: transparent;
  outline: 0;
  padding: 0.8em 1.75em;
  border-radius: 2em;
  border: 1px solid #d0d0d0;
  font-size: 1rem;
  color: #73b12a;
  -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.btn .fa {
  font-size: 0.7em;
}

.btn:hover {
  color: #fff;
  background-color: #73b12a;
  border-color: #73b12a;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-invert {
  color: #fff;
  background-color: #73b12a;
  border-color: #73b12a;
}

.btn-invert:hover {
  color: #73b12a;
  background-color: #fff;
  border-color: #d0d0d0;
}

.dotted {
  padding-left: 0;
}

.dotted li {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.dotted li:before, .dotted li:after {
  position: absolute;
  content: '';
}

.dotted li:before {
  top: 0;
  left: 0;
  content: '•';
  line-height: 1.3em;
  color: #73b12a;
}

.nav-pills {
  border: 1px solid #cbcece;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav-pills .nav-item {
  height: 80px;
  width: 100%;
}

@media (min-width: 576px) {
  .nav-pills .nav-item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .nav-pills .nav-item {
    width: 25%;
  }
}

.nav-pills .nav-link {
  position: relative;
  padding-left: 80px;
  font-size: 0.875rem;
  line-height: 1.1rem;
  display: flex;
  align-items: center;
  height: 100%;
  color: #252525;
}

.nav-pills .nav-link:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 70px;
  height: 100%;
  background-image: url("../img/equipment-sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.nav-pills .nav-link#tab3:before {
  top: 24px;
  left: 20px;
  width: 39px;
  height: 29px;
  background-position: -5px -5px;
}

.nav-pills .nav-link#tab3:hover:before,
.nav-pills .nav-link.active#tab3:before {
  width: 39px;
  height: 29px;
  background-position: -54px -5px;
}

.nav-pills .nav-link#tab4:before {
  top: 22px;
  left: 20px;
  width: 30px;
  height: 31px;
  background-position: -103px -5px;
}

.nav-pills .nav-link#tab4:hover:before,
.nav-pills .nav-link.active#tab4:before {
  width: 30px;
  height: 31px;
  background-position: -143px -5px;
}

.nav-pills .nav-link#tab2:before {
  top: 22px;
  left: 20px;
  width: 48px;
  height: 31px;
  background-position: -183px -5px;
}

.nav-pills .nav-link#tab2:hover:before,
.nav-pills .nav-link.active#tab2:before {
  width: 48px;
  height: 31px;
  background-position: -241px -5px;
}

.nav-pills .nav-link#tab1:before {
  top: 22px;
  left: 20px;
  width: 46px;
  height: 31px;
  background-position: -299px -5px;
}

.nav-pills .nav-link#tab1:hover:before,
.nav-pills .nav-link.active#tab1:before {
  width: 46px;
  height: 31px;
  background-position: -355px -5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #73b12a;
  background-color: #f4f6f6;
}

.main-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 480px;
  max-width: 100%;
  height: 100vh;
  overflow: scroll;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 35px;
  background-color: #393957;
  color: #afafb8;
  z-index: 5;
}

@media (min-width: 1200px) {
  .main-menu {
    width: 520px;
  }
}

.main-menu a {
  color: #afafb8;
}

.main-menu a:hover {
  color: #fff;
}

.main-menu .btn {
  color: #afafb8;
  border-color: #afafb8;
}

.main-menu .btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.main-menu__close {
  z-index: 1;
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  width: 38px;
  height: 38px;
  cursor: pointer;
  font-size: 38px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-menu__close:before, .main-menu__close:after {
  position: absolute;
  content: '';
  background-color: #afafb8;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 3px;
}

.main-menu__close:before {
  top: 49%;
  top: calc(50% - 2px);
  left: 0;
  width: 100%;
  height: 4px;
}

.main-menu__close:after {
  top: 0;
  left: 49%;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.main-menu__close:hover:before, .main-menu__close:hover:after {
  background-color: #fff;
}

.main-menu-block__header {
  font-size: 20px;
}

.main-menu-block {
  margin-top: 5px;
  margin-bottom: 15px;
  list-style: none;
  padding-left: 0;
  line-height: 1.7em;
  font-size: 15px;
}

.main-menu__list {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .main-menu {
    padding-top: 80px;
  }
  .main-menu-block__header {
    font-size: 20px;
  }
  .main-menu-block {
    margin-bottom: 25px;
    font-size: 16px;
  }
  .main-menu__list {
    margin-top: 0px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .main-menu {
    padding-top: 140px;
  }
  .main-menu__close {
    top: 12px;
    right: 12px;
  }
  .main-menu-block {
    font-size: 16px;
    line-height: 1.95em;
    margin-top: 5px;
    margin-bottom: 60px;
  }
  .main-menu-block__header {
    font-size: 24px;
  }
  .main-menu__list {
    font-size: 24px;
  }
  .main-menu__list li {
    margin-bottom: 8px;
  }
}

.header {
  background-color: #fff;
  width: 100%;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 16px;
}

.home-page .header {
  position: absolute;
  top: 0;
  left: 0;
}

.header-white {
  background-color: #fff;
  -webkit-filter: drop-shadow(0 0 3px #aaa);
  filter: drop-shadow(0 0 3px #aaa);
}

.header-logo {
  margin-top: 8px;
  display: inline-block;
}

.header-slogan {
  margin-left: 12px;
  margin-top: 6px;
  font-size: 12px;
  line-height: 1.25em;
  color: #9a9a9a;
}

.header-tel {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #252525;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header-tel i {
  color: #ec6707;
}

.header-tel:hover {
  color: #ec6707;
}

.header-tel__mobile i {
  color: #ec6707;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  line-height: 36px;
  background-color: #eee;
}

.header-callback {
  display: inline-block;
  margin-top: 2px;
  border-radius: 25px;
  padding: 0.55em 1.2em;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  font-size: 14px;
  color: #ec6707;
}

.header-callback:hover {
  color: #ec6707;
  border-color: #ec6707;
}

.header-callback:visited {
  color: #ec6707;
}

.menu-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2px;
  margin-left: auto;
  margin-right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #252525;
  height: 38px;
}

.menu-toggler:focus {
  outline: none;
}

.menu-toggler i {
  position: relative;
  font-size: 32px;
  margin-right: 12px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.menu-toggler:hover i {
  -webkit-transform: scaleY(1.1);
  transform: scaleY(1.1);
}

.header-actions {
  margin-bottom: 10px;
  margin-top: -2px;
}

.header-actions a {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border-radius: 50%;
}

.header-actions a:before, .header-actions a:after {
  position: absolute;
  content: '';
}

.header-actions a:before {
  top: 0;
  left: 11px;
  width: 20px;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-login {
  background-color: #ec6707;
}

.header-login:hover {
  background-color: #d15002;
}

.header-login:before {
  background-image: url("../img/login-icon.png");
}

.header-payment {
  background-color: #73b129;
}

.header-payment:hover {
  background-color: #568f13;
}

.header-payment:before {
  background-image: url("../img/payment-icon.png");
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 8px;
  }
  .header-actions {
    padding-left: 14px;
    margin-bottom: 0;
  }
  .header-actions a {
    margin-right: 0;
    margin-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .home-page .header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .header-slogan {
    margin-left: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .header-slogan {
    margin-left: 8px;
    margin-right: 24px;
  }
}

.home {
  position: relative;
}

.home-slider .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: block;
  padding-left: 0;
  width: 100%;
  text-align: center;
}

.home-slider .slick-dots li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.home-slider .slick-dots button {
  position: relative;
  margin-top: 1px;
  font-size: 0%;
  border-radius: 50%;
  background-color: #6c6c6c;
  width: 10px;
  height: 10px;
  line-height: 16px;
  padding: 0;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 1px #aaa);
  filter: drop-shadow(0 0 1px #aaa);
}

.home-slider .slick-active button {
  top: -2px;
  width: 14px;
  height: 14px;
  background-color: #fff;
}

.home-slider__arrows {
  display: none;
  position: absolute;
  top: 46%;
  top: calc(50% - 42px);
  left: 0;
  width: 100%;
}

.home-slider__arrows button {
  display: block;
  position: relative;
  background-color: #fefefe;
  background-color: rgba(200, 200, 200, 0.5);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 78px;
  width: 78px;
  text-align: center;
  cursor: pointer;
}

.home-slider__arrows button i {
  line-height: 72px;
  font-size: 44px;
}

.home-slider__arrows .slick-prev {
  position: absolute;
  left: 20px;
  padding-left: 4px;
}

.home-slider__arrows .slick-next {
  position: absolute;
  right: 20px;
  padding-right: 4px;
}

.home-slide {
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 110px;
  padding-bottom: 40px;
  min-height: 530px;
}

.home-slide .container {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 375px) {
  .home-slide {
    min-height: 500px;
  }
}

.home-slide__darken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111115;
  opacity: 0.2;
}

.home-slide1 {
  background-image: url("../img/home-slide1-bg.jpg");
}

.home-slide__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.home-slide__theses {
  font-size: 18px;
  line-height: 1.7em;
}

.home-slide__btn {
  margin-top: 20px;
  padding: 1em 2em;
}

.home-slide__btn:hover {
  color: #fff;
  background-color: #568f13;
  -webkit-filter: drop-shadow(0 1px 4px #ccc);
  filter: drop-shadow(0 1px 4px #ccc);
}

@media screen and (min-width: 768px) {
  .home-slider .slick-dots {
    bottom: 50px;
  }
  .home-slide {
    color: #252525;
    -webkit-filter: none;
    filter: none;
    background-position: center center;
    padding-top: 120px;
    padding-bottom: 120px;
    min-height: 80vh;
  }
  .home-slide__darken {
    display: none;
  }
  .home-slider__arrows {
    display: block;
  }
  .home-slide__title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .home-slide__theses {
    font-size: 18px;
  }
  .home-slide__btn {
    margin-top: 30px;
    padding: 1.3em 2.5em;
  }
}

@media screen and (min-width: 1200px) {
  .home-slide {
    padding-top: 190px;
    padding-bottom: 200px;
    min-height: 100vh;
  }
  .home-slide__title {
    font-size: 72px;
    margin-bottom: 50px;
  }
  .home-slide__theses {
    font-size: 18px;
  }
  .home-slide__btn {
    margin-top: 30px;
    padding: 1.3em 2.5em;
  }
}

.benefits {
  padding-top: 40px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 95px;
    padding-bottom: 70px;
  }
}

.benefits__item {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-top: 76px;
  position: relative;
}

.benefits__item:before, .benefits__item:after {
  position: absolute;
  content: '';
}

.benefits__item:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    margin-top: 55px;
  }
}

.benefit1:before {
  background-image: url("../img/benefit1.png");
}

.benefit2:before {
  background-image: url("../img/benefit2.png");
}

.benefit3:before {
  background-image: url("../img/benefit3.png");
}

.benefit4:before {
  background-image: url("../img/benefit4.png");
}

.benefit5:before {
  background-image: url("../img/benefit5.png");
}

.benefit6:before {
  background-image: url("../img/benefit6.png");
}

.benefits__item__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.benefits__item__desc {
  line-height: 1.7em;
  font-weight: 500;
}

.internet {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #393957;
  color: #fff;
}

.internet__item {
  padding-top: 10px;
  padding-bottom: 20px;
}

.internet__item__title {
  color: #73b12a;
  font-size: 24px;
  margin-bottom: 15px;
}

.internet__item__desc {
  font-weight: 400;
  min-height: 60px;
  line-height: 1.7em;
}

.internet__item__desc li {
  line-height: 1.5em;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .internet {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .internet__item__desc {
    min-height: 170px;
  }
}

@media screen and (min-width: 992px) {
  .internet__item__desc {
    min-height: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .internet {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .internet__item__title {
    margin-bottom: 35px;
  }
}

.loyalty {
  padding-top: 40px;
  padding-bottom: 40px;
}

.loyalty .btn {
  margin-top: 30px;
}

.loyalty__items {
  margin-top: 20px;
}

.loyalty__items a {
  color: #252525;
}

.loyalty__items a:hover {
  color: #252525;
}

.loyalty__item {
  margin-bottom: 20px;
}

.loyalty__item:hover .loyalty__item__title {
  color: #ec6707;
}

.loyalty__item__img img {
  max-width: 100%;
  border-radius: 50%;
}

.loyalty__item__date {
  margin-top: 10px;
  font-size: 12px;
  color: #979d9d;
}

.loyalty__item__title {
  margin-top: 15px;
  font-size: 24px;
}

.loyalty__item__desc {
  line-height: 1.7em;
}

@media screen and (min-width: 992px) {
  .loyalty {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .loyalty .btn {
    margin-top: 50px;
  }
  .loyalty__items {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .loyalty {
    padding-top: 95px;
    padding-bottom: 100px;
  }
  .loyalty .btn {
    margin-top: 60px;
  }
  .loyalty__items {
    margin-top: 70px;
  }
}

.offers {
  position: relative;
}

.offers-slider__arrows {
  display: none;
  position: absolute;
  top: 46%;
  top: calc(50% - 42px);
  left: 0;
  width: 100%;
}

.offers-slider__arrows button {
  display: block;
  position: relative;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 78px;
  width: 78px;
  text-align: center;
  cursor: pointer;
}

.offers-slider__arrows button i {
  line-height: 72px;
  font-size: 30px;
  opacity: 0.7;
}

.offers-slider__arrows .slick-prev {
  position: absolute;
  left: 20px;
  padding-left: 4px;
}

.offers-slider__arrows .slick-next {
  position: absolute;
  right: 20px;
  padding-right: 4px;
}

@media screen and (min-width: 768px) {
  .offers-slider__arrows {
    display: block;
  }
}

.offers-slide {
  padding-top: 30px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  font-size: 14px;
  min-height: 420px;
}

.offers-slide__title {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 700;
  color: #191919;
}

.offers-slide__label {
  background-color: #fff;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0.35em 0.75em 0.2em 0.75em;
  display: inline-block;
  color: #ec6707;
}

.offers-slide__label-primary {
  color: #73b12a;
}

.offers-slide__theses ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.7em;
  min-height: 100px;
}

.offers-slide__prices {
  margin-top: 22px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #fff;
}

.offers-slide__prices-val {
  font-size: 18px;
}

.btn-offer {
  margin-top: 10px;
  background-color: #ec6707;
  color: #fff;
  border-color: transparent;
  -webkit-filter: drop-shadow(0 2px 3px #555);
  filter: drop-shadow(0 2px 3px #555);
}

.btn-offer:hover {
  border-color: #ec6707;
  background-color: #ec6707;
  color: #fff;
}

.btn-offer-primary {
  background-color: #73b12a;
  border-color: transparent;
}

.btn-offer-primary:hover {
  background-color: #73b12a;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .offers-slide {
    font-size: 16px;
  }
  .offers-slide__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 992px) {
  .offers-slide {
    font-size: 18px;
    background-position: center center;
  }
  .offers-slide__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .offers-slide {
    padding-top: 80px;
    padding-bottom: 90px;
    min-height: 560px;
  }
  .offers-slide__title {
    margin-right: -5px;
    margin-left: -5px;
    font-size: 48px;
  }
  .btn-offer {
    padding: 1.2em 2.5em;
  }
}

.news {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f4f6f5;
}

.news .btn {
  margin-top: 30px;
}

.news__items {
  margin-top: 25px;
}

.news__items a {
  color: #252525;
}

.news__item {
  background-color: #fff;
  padding-bottom: 12px;
  margin-top: 25px;
}

.news__item:hover {
  -webkit-filter: drop-shadow(0 0 5px #dedede);
  filter: drop-shadow(0 0 5px #dedede);
}

.news__item:hover .news__item__title {
  color: #ec6707;
}

.news__item__img {
  min-height: 150px;
  overflow: hidden;
}

.news__item__img img {
  width: 100%;
}

.news__item__title {
  margin-top: 20px;
  padding: 0 15px;
  min-height: 38px;
}

.news__item__title h3 {
  font-size: 20px;
  text-align: center;
}

.news__item__short {
  padding: 0 15px;
  min-height: 90px;
  line-height: 1.7em;
}

.news__item__date {
  text-align: right;
  padding: 0 15px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  color: #979d9d;
}

@media screen and (min-width: 768px) {
  .news {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .news__items {
    margin-top: 50px;
  }
}

@media screen and (min-width: 992px) {
  .news {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .news .btn {
    margin-top: 50px;
  }
  .news__item__title {
    min-height: 60px;
  }
  .news__item__short {
    min-height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .news {
    padding-top: 120px;
    padding-bottom: 130px;
  }
  .news .btn {
    margin-top: 70px;
  }
  .news__item {
    min-height: 435px;
  }
  .news__item__title {
    margin-top: 25px;
    min-height: 32px;
  }
  .news__item__short {
    min-height: 110px;
  }
}

.about {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: gray;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
}

.about .btn {
  margin-top: 30px;
}

.about__video-link {
  margin-top: 15px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  height: 95px;
  width: 95px;
  border-radius: 50%;
  background-color: #252525;
  background-color: rgba(0, 0, 0, 0.3);
  color: #efefef;
}

.about__video-link i {
  color: #efefef;
  margin-left: 15px;
  font-size: 48px;
  line-height: 95px;
}

.about__video-link:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .about__video-link {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews .h2-after {
  margin-top: 20px;
}

.reviews-slider {
  margin-top: 80px;
}

.reviews-slider .slick-dots {
  position: absolute;
  top: -60px;
  left: 0;
  display: block;
  padding-left: 0;
  width: 100%;
  text-align: center;
}

.reviews-slider .slick-dots li {
  display: inline-block;
}

.reviews-slider .slick-dots button {
  position: relative;
  font-size: 16px;
  border-radius: 50%;
  background-color: #fff;
  width: 38px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  border: none;
  outline: none;
  color: #73b12a;
  cursor: pointer;
}

.reviews-slider .slick-dots button:hover {
  color: #252525;
}

.reviews-slider .slick-active button {
  color: #252525;
  background-color: #eeeeee;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .reviews-slider {
    margin-top: 100px;
  }
  .reviews-slider .slick-dots {
    top: -75px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .reviews-slider {
    margin-top: 140px;
  }
  .reviews-slider .slick-dots {
    top: -95px;
  }
}

.reviews-slide__speed {
  background-color: #73b129;
  margin-top: 10px;
  padding: 1.5em 1.75em;
  color: #e8e9eb;
}

.reviews-slide__speed i {
  color: #fff;
  font-size: 16px;
}

.reviews-slide__speed-upload {
  margin-top: 0;
  padding-top: 0;
}

.reviews-slide__speed-val {
  margin-left: 5px;
  font-size: 16px;
  color: #fff;
}

.reviews-slide__name {
  margin-top: 20px;
  font-size: 16px;
}

.reviews-slide__city {
  font-size: 14px;
  color: #979d9d;
  font-weight: 300;
  margin-left: 5px;
}

.reviews-slide__text {
  line-height: 1.75em;
}

.callback-block {
  text-align: center;
  background-color: #393957;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.callback-block__form {
  height: 0;
  transition: height 0.9s;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.callback-block__form input, .callback-block__form textarea {
  padding: 1rem 1rem;
  width: 100%;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.callback-block__form.active {
  height: initial;
}

.callback-block__policy {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #979d9d;
  font-size: 0.875rem;
  font-weight: 400;
}

.callback-block__policy a {
  color: inherit;
  text-decoration: underline;
}

.callback-block__policy a:visited {
  color: inherit;
}

.callback-block__policy a:hover {
  color: #a7adad;
}

.callback-block__toggler {
  margin-top: -25px;
  position: relative;
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #ec6707;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  top: 25px;
  cursor: pointer;
  outline: none;
}

.callback-block__toggler:focus {
  outline: none;
}

.callback-block__container {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}

.callback-block__container a {
  color: #fff;
}

.callback-block__container:before {
  position: absolute;
  top: 0;
  right: 102%;
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 0;
  height: 0;
}

@media (min-width: 992px) {
  .callback-block__container:before {
    background-image: url("../img/callback-icon.png");
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1200px) {
  .callback-block__container:before {
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 1920px) {
  .callback-block__container:before {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 992px) {
  .callback-block__container.wifi:before {
    background-image: url("../img/wifi-network-application.png");
  }
}

@media (min-width: 992px) {
  .callback-block__container.video:before {
    background-image: url("../img/video-application.png");
  }
}

@media (min-width: 992px) {
  .callback-block__container.security:before {
    background-image: url("../img/security-application.png");
  }
}

@media (min-width: 992px) {
  .callback-block__container.hdtv:before {
    background-image: url("../img/hdtv-application.png");
  }
}

.callback-block__title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
}

.callback-block__slogan {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 576px) {
  .callback-block__container {
    padding-top: 35px;
  }
}

@media screen and (min-width: 680px) {
  .callback-block__container {
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .callback-block__title {
    font-size: 28px;
  }
  .callback-block__slogan {
    line-height: 1.7em;
  }
}

@media screen and (min-width: 1200px) {
  .callback-block__title {
    font-size: 30px;
  }
}

.home-subscribe {
  background-color: #f4f6f6;
  padding-top: 50px;
  padding-bottom: 55px;
}

.home-subscribe__label {
  font-size: 16px;
}

.home-subscribe__form {
  margin-top: 30px;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #979d9d;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #979d9d;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #979d9d;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #979d9d;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #979d9d;
}

.home-subscribe__mail {
  border: none;
  outline: none;
  padding-left: 16px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 80%;
}

.home-subscribe__submit {
  width: 80%;
  padding-top: 11px;
  padding-bottom: 11px;
}

.home-subscribe__submit .fa {
  font-size: 16px;
  margin-right: 6px;
}

.home-subscribe__submit:hover {
  color: #fff;
  background-color: #73b12a;
  border-color: #73b12a;
  -webkit-filter: drop-shadow(0 2px 3px #777);
  filter: drop-shadow(0 2px 3px #777);
}

@media screen and (min-width: 576px) {
  .home-subscribe {
    padding-top: 70px;
  }
  .home-subscribe__mail {
    width: 280px;
  }
  .home-subscribe__submit {
    width: initial;
  }
}

@media screen and (min-width: 768px) {
  .home-subscribe__mail {
    position: relative;
    right: -15px;
    padding-right: 30px;
  }
  .home-subscribe__submit {
    position: relative;
    left: -15px;
  }
}

@media screen and (min-width: 992px) {
  .home-subscribe__mail {
    width: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .home-subscribe__mail {
    width: 450px;
  }
}

.footer {
  padding-top: 35px;
  padding-bottom: 30px;
  color: #969d9d;
  font-size: 14px;
  line-height: 1.7em;
}

.footer a {
  color: #969d9d;
}

.footer a:hover {
  color: #505555;
}

.footer .socials {
  margin-top: 20px;
}

.footer-logo img {
  max-width: 110px;
}

.copyright {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: 300;
  color: #252525;
}

.footer-block {
  list-style: none;
  padding-left: 0;
  font-size: 13px;
  margin-bottom: 20px;
  line-height: 1.4em;
  font-weight: 300;
}

.footer-block-header {
  margin-bottom: 5px;
}

.footer-info-links a {
  font-weight: 300;
  margin-bottom: 0.5em;
}

.footer-menu {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

.footer-menu li {
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 75px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 992px) {
  .footer .socials {
    margin-top: 0;
  }
  .footer-block-header {
    margin-bottom: 0;
  }
  .footer-menu {
    margin-top: 0;
  }
}

.socials a {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  font-size: 14px;
  color: #969d9d;
}

.socials a:hover {
  color: #979d9d;
  text-decoration: none;
}

.socials a:hover .fa {
  text-decoration: initial;
  border-color: #979d9d;
  background-color: #979d9d;
}

.socials .fa {
  margin-right: 6px;
  font-size: 16px;
  color: #fff;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%;
  border-color: #cbcece;
  background-color: #cbcece;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

.secodary-page {
  position: relative;
  padding-top: 20px;
}

.secodary-page:before, .secodary-page:after {
  position: absolute;
  content: '';
}

.secodary-page:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: url("../img/about-small-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.secodary-page .content {
  background-color: #fff;
}

.banner-breadcrumbs {
  height: 80px;
  padding-top: 20px;
  margin-bottom: -80px;
}

@media (min-width: 576px) {
  .banner-breadcrumbs {
    padding-top: 30px;
    margin-bottom: -100px;
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .banner-breadcrumbs {
    padding-top: 50px;
  }
}

.breadcrumbs {
  margin-bottom: 15px;
  color: #73b12a;
  font-weight: 300;
}

.breadcrumbs ul {
  list-style: none;
  padding-left: 0;
}

.breadcrumbs ul li {
  display: inline;
}

.breadcrumbs ul .B_currentCrumb {
  color: #fff;
}

.breadcrumbs i {
  font-size: 8px;
  position: relative;
  top: -2px;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.content {
  padding: 20px 15px;
}

.secondary-page__title {
  font-size: 24px;
  margin-bottom: 15px;
}

@media screen and (min-width: 576px) {
  .secodary-page {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .secodary-page:before, .secodary-page:after {
    position: absolute;
    content: '';
  }
  .secodary-page:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -1;
  }
  .content {
    padding: 25px 20px;
  }
}

@media screen and (min-width: 768px) {
  .secodary-page:before {
    height: 130px;
    background-image: url("../img/about-bg.jpg");
  }
  .secodary-page .content {
    position: relative;
  }
  .secodary-page .content:before, .secodary-page .content:after {
    position: absolute;
    content: '';
  }
  .secodary-page .content:before, .secodary-page .content:after {
    top: 0;
    height: 110px;
    width: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(transparent));
    background: linear-gradient(#ccc, transparent);
    -webkit-filter: drop-shadow(0 0 5px #888);
    filter: drop-shadow(0 0 5px #888);
    z-index: -1;
  }
  .secodary-page .content:before {
    left: 0;
  }
  .secodary-page .content:after {
    right: 0;
  }
  .breadcrumbs {
    margin-bottom: 25px;
  }
  .content {
    padding: 30px 30px;
  }
  .secondary-page__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .secodary-page {
    min-height: 200px;
    padding-top: 50px;
  }
  .secodary-page:before {
    height: 215px;
  }
  .secodary-page .content:before, .secodary-page .content:after {
    height: 180px;
  }
  .breadcrumbs {
    margin-bottom: 45px;
  }
  .content {
    padding: 65px 80px;
  }
  .secondary-page__title {
    font-size: 36px;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    width: 1240px;
  }
}

.news-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.news-page__item__date {
  font-size: 12px;
  color: #979d9d;
  margin-top: 15px;
  margin-bottom: 10px;
}

.news-page__item__title {
  color: #73b12a;
  font-size: 18px;
  margin-bottom: 5px;
}

.news-page__item__short {
  color: #252525;
  line-height: 1.75em;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .news-page__item {
    padding-bottom: 35px;
    margin-bottom: 30px;
  }
  .news-page__item__img {
    width: 30%;
  }
  .news-page__item__info {
    width: 70%;
    padding-left: 15px;
  }
  .news-page__item__title {
    font-size: 20px;
  }
  .news-page__item__date {
    margin-top: 2px;
    margin-bottom: 15px;
  }
  .news-page__item__short {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .news-page__item {
    padding-bottom: 55px;
    margin-bottom: 50px;
  }
  .news-page__item__img {
    width: 30%;
  }
  .news-page__item__info {
    width: 70%;
    padding-left: 20px;
  }
  .news-page__item__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.article {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
}

.article a {
  color: #73b12a;
}

.article a:hover {
  color: #669c25;
}

.article a.btn:hover {
  color: #fff;
}

.article__date {
  font-size: 12px;
  color: #979d9d;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .article {
    position: relative;
  }
  .article__date {
    margin-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 992px) {
  .article {
    font-size: 16px;
  }
}

a.btn-payment {
  background-color: #73b12a;
  color: #fff;
  padding-left: 40px;
  padding-right: 16px;
  position: relative;
}

a.btn-payment:before, a.btn-payment:after {
  position: absolute;
  content: '';
}

a.btn-payment:before {
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  background-image: url("../img/payment-icon.png");
  background-repeat: no-repeat;
  background-position: right center;
}

a.btn-payment:hover {
  color: #fff;
  background-color: #568f13;
  -webkit-filter: drop-shadow(0 1px 4px #ccc);
  filter: drop-shadow(0 1px 4px #ccc);
}

@media screen and (min-width: 360px) {
  a.btn-payment {
    padding-left: 55px;
    padding-right: 25px;
  }
  a.btn-payment:before {
    width: 42px;
  }
}

.payment-methods {
  background-color: #f4f6f6;
  font-weight: 400;
  font-size: 16px;
}

.payment-methods__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: -5px;
  margin-right: -5px;
}

.payment-methods__item {
  padding: 0 5px 10px 5px;
  width: 50%;
  height: 80px;
}

.payment-methods__item a {
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.payment-methods__item a img {
  max-height: 100%;
}

.payment-methods__item a:hover {
  -webkit-filter: drop-shadow(0 1px 4px #ddd);
  filter: drop-shadow(0 1px 4px #ddd);
}

.confident-payment {
  font-weight: 300;
  line-height: 1.7em;
}

@media screen and (min-width: 576px) {
  .payment-methods__item {
    height: 100px;
    width: 33.3333%;
  }
}

@media screen and (min-width: 768px) {
  .payment-methods__items {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .payment-methods__item {
    width: 25%;
    height: 120px;
  }
  .payment-methods__item a {
    padding: 10px 10px;
  }
  .confident-payment {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .payment-methods__items {
    margin-top: 45px;
    margin-bottom: 25px;
  }
  .payment-methods__item {
    height: 152px;
  }
  .confident-payment {
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 1.9em;
  }
  .confident-payment__title {
    margin-bottom: 35px;
  }
}

.payment-article {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
}

.payment-article h3 {
  font-weight: 400;
}

.payment-item__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.payment-item__intro-text {
  min-width: 320px;
  padding: 8px 8px;
  background-color: #f4f6f6;
  font-size: 14px;
  font-weight: 400;
}

.payment-item__logo {
  margin-bottom: 10px;
  border: 1px solid #aaa;
  height: 100px;
  width: 260px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment-item__logo img {
  max-width: 100%;
}

.payment-item__site {
  margin-top: 15px;
  font-size: 14px;
}

.payment-item__site__val {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .payment-item__logo {
    height: 140px;
    margin-bottom: 0;
  }
  .payment-item__intro-text {
    padding: 12px 12px;
    width: 380px;
  }
  .payment-item__site {
    margin-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .payment-item__intro-text {
    width: 620px;
  }
}

@media screen and (min-width: 1200px) {
  .payment-item__logo {
    height: 140px;
  }
  .payment-item__intro-text {
    padding: 15px 20px;
    width: 720px;
  }
  .payment-item__site {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .payment-item__intro-text {
    width: 800px;
  }
}

.equip-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0 25px 0;
  border-bottom: 1px solid #eee;
}

.equip-item-last {
  border: none;
  padding-bottom: 0 !important;
  margin-bottom: 2rem;
}

.equip-item__img {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
}

.equip-item__info {
  font-weight: 300;
}

.equip-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.equip-item__desc {
  font-size: 14px;
  line-height: 1.9em;
}

.equip-item__spec__title {
  font-weight: 500;
  font-size: 1rem;
}

.equip-item__spec table td {
  border-top: none;
}

.equip-item__price {
  font-size: 15px;
  border-radius: 6px;
  padding: 15px 10px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.equip-item__price__title {
  color: #ec6707;
  font-size: 18px;
}

.equip-tab__info {
  border-radius: 6px;
  background-color: #f4f6f6;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #979d9d;
  margin-top: 20px;
  padding: 15px 10px;
}

@media screen and (min-width: 576px) {
  .equip-item__price {
    font-size: 16px;
    padding: 15px 20px;
  }
}

.equip-item__price__desc {
  margin-bottom: 0;
  font-size: 12px;
  color: #979d9d;
}

.equip-item__price__val {
  font-size: 1.125rem;
  font-weight: 700;
}

.equip-item__price__buy .btn {
  font-size: 14px;
  background-color: #73b129;
  color: #fff;
}

.equip-item__price__buy .btn:hover {
  color: #fff;
  border-color: #669c24;
  background-color: #669c24;
}

@media screen and (min-width: 768px) {
  .equip-item {
    padding: 30px 0;
  }
  .equip-item__img {
    width: 35%;
  }
  .equip-item__info {
    width: 65%;
    padding-left: 15px;
  }
  .equip-item__price {
    margin-top: 25px;
  }
  .equip-item__price__buy .btn {
    padding: 1.1em 3.5em;
  }
}

@media screen and (min-width: 1200px) {
  .equip-item {
    padding: 65px 0;
  }
  .equip-item__img {
    width: 35%;
  }
  .equip-item__info {
    width: 65%;
    padding-left: 45px;
  }
  .equip-item__price {
    padding: 25px 25px;
    margin-top: 45px;
  }
  .equip-tab__info {
    margin-top: 45px;
    padding: 25px 25px;
  }
}

.application .content {
  background-color: #393957;
  color: #fff;
}

.application .secondary-page__title {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .application .content {
    position: relative;
  }
  .application .content:before, .application .content:after {
    position: absolute;
    content: '';
  }
  .application .content:before {
    top: 0;
    left: 50px;
    background-image: url("../img/callback-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 110px;
    width: 50px;
    z-index: 1;
  }
  .application .secondary-page__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 992px) {
  .application .content:before {
    left: 15%;
    height: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .application .content {
    padding-top: 115px;
  }
  .application .content:before {
    left: 17%;
    width: 70px;
    height: 170px;
  }
  .application .secondary-page__title {
    font-size: 36px;
  }
}

.application__form {
  margin: 0 auto;
  max-width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.application__form select,
.application__form input {
  height: 38px;
}

.application__form select,
.application__form input,
.application__form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
}

.application__form select:focus,
.application__form input:focus,
.application__form textarea:focus {
  outline-color: #ec6707;
}

.application__form input, .application__form textarea {
  padding-left: 10px;
}

.application__form textarea {
  padding: 15px 10px;
  line-height: 1.5em;
}

.application__form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.application__form .input-group input {
  width: 31%;
  width: calc(33% - 10px);
}

.application__form .application__submit {
  width: 235px;
  margin: 20px auto 0 auto;
  background-color: #73b12a;
  color: #fff;
  border-radius: 30px;
  padding: 1em 1.7em;
  height: initial;
}

@media screen and (min-width: 768px) {
  .application__form {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .application__form {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .application__form select,
  .application__form input {
    height: 50px;
    margin-bottom: 20px;
  }
  .application__form .application__submit {
    margin-top: 30px;
    padding: 1.125em 1.7em;
  }
}

/* .squaredTwo */
.checkbox-container {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.checkbox {
  width: 26px;
  height: 26px;
  position: relative;
  display: block;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 5px;
  background: transparent;
  border: 2px solid #fff;
}

.checkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 4px;
}

.checkbox label:after {
  content: '';
  width: 12px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 3px solid #73b12a;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox label:hover::after {
  opacity: 0.2;
}

.checkbox input[type=checkbox] {
  visibility: hidden;
}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.checkbox-label {
  width: 80%;
  width: calc(100% - 32px);
  display: block;
  padding-top: 3px;
  padding-left: 5px;
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 12px;
}

.checkbox-label a {
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .checkbox-container {
    margin-top: 35px;
  }
}

/* end .squaredTwo */
.card-header {
  background: transparent;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-toggler {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 0 0;
  text-align: center;
  line-height: 38px;
  position: relative;
}

.card-toggler:before, .card-toggler:after {
  position: absolute;
  content: '';
}

.card-toggler:hover:before, .card-toggler:hover:after {
  background-color: #fff;
}

.card-toggler:before {
  top: 49%;
  top: calc(50% - 1px);
  left: 6px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: #73b12a;
}

.card-toggler:after {
  top: 6px;
  left: 49%;
  left: calc(50% - 1px);
  height: 24px;
  width: 2px;
  border-radius: 2px;
  background-color: #73b12a;
  opacity: 0;
}

.card-toggler.collapsed:after {
  opacity: 1;
}

.card-header__title {
  font-size: 20px;
  font-weight: 400;
  width: calc(100% - 40px);
}

.card-body {
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .article .accordion.services-accordion .card {
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    -webkit-filter: drop-shadow(0 0 8px #eee);
    filter: drop-shadow(0 0 8px #eee);
  }
  .card-header {
    padding-left: 55px;
    position: relative;
  }
  .card-header:before, .card-header:after {
    position: absolute;
    content: '';
  }
  .card-header:before {
    top: 8px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

@media screen and (min-width: 992px) {
  .card-header {
    padding-left: 60px;
  }
  .card-header:before {
    top: 16px;
    left: 8px;
  }
  .card-header__title {
    font-size: 24px;
    width: initial;
  }
  .card-toggler {
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: 38px;
  }
  .card-toggler:before {
    top: 49%;
    top: calc(50% - 2px);
    left: 10px;
    width: 28px;
    height: 4px;
  }
  .card-toggler:after {
    top: 10px;
    left: 49%;
    left: calc(50% - 2px);
    height: 28px;
    width: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card-header {
    padding-left: 105px;
  }
  .card-header:before {
    top: 8px;
    width: 60px;
    height: 60px;
  }
  .card-header__title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .card-body {
    padding-left: 105px;
    padding-right: 105px;
  }
}

#heading1:before {
  background-image: url("../img/services-toggle1.png");
}

#heading2:before {
  background-image: url("../img/services-toggle2.png");
}

#heading3:before {
  background-image: url("../img/services-toggle3.png");
}

#heading4:before {
  background-image: url("../img/services-toggle4.png");
}

#heading5:before {
  background-image: url("../img/services-toggle5.png");
}

#heading6:before {
  background-image: url("../img/services-toggle6.png");
}

#heading7:before {
  background-image: url("../img/services-toggle7.png");
}

.tel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tel-container .text-small {
  font-size: 0.7em;
}

.tel-container a {
  display: block;
  margin-bottom: 15px;
  color: #252525;
  font-weight: 400;
  font-size: 16px;
}

.tel-container a i {
  margin-right: 6px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background-color: #393957;
}

.tel-container .phone i {
  background-color: #ec6707;
}

.tel-container .viber i {
  background-color: #7f539d;
}

.tel-container .skype i {
  background-color: #00b0ef;
}

.tel-container .telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tel-container .telegram i {
  background-color: #fff;
  color: #393957;
  font-size: 36px;
}

.tel-container .facebook i {
  background-color: #3b5998;
}

.tel-group {
  width: 100%;
}

.tel-group a {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .tel-group {
    width: initial;
  }
}

@media screen and (min-width: 768px) {
  .tel-container a {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .tel-container a {
    font-size: 24px;
  }
  .tel-container a i {
    width: 42px;
    height: 42px;
    line-height: 42px;
  }
  .tel-container .telegram i {
    font-size: 42px;
    line-height: 42px;
  }
}

.documentation {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #f4f6f6;
}

.documentation__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.documentation__item {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-left: 46px;
  position: relative;
  color: #252525;
  font-size: 15px;
  font-weight: 300;
}

.documentation__item:before, .documentation__item:after {
  position: absolute;
  content: '';
}

.documentation__item:before {
  top: 0;
  top: calc(50% - 20px);
  left: 0;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.documentation__item:hover {
  color: #252525;
  text-decoration: underline;
}

.documentation__pdf:before {
  background-image: url("../img/pdf-icon.png");
}

.documentation__zip:before {
  background-image: url("../img/zip-icon.png");
}

@media screen and (min-width: 576px) {
  .documentation__title {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .documentation {
    padding-top: 60px;
    padding-bottom: 55px;
  }
  .documentation__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .documentation__item {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .documentation {
    padding-top: 95px;
    padding-bottom: 85px;
  }
  .documentation__title {
    margin-bottom: 60px;
  }
  .documentation__item {
    margin-bottom: 25px;
  }
}

.rates__table-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}

.table {
  font-size: 15px;
}

.table .table-header-orange {
  background-color: #ec6707;
  color: #fff;
}

.table .table-header-orange th {
  vertical-align: middle;
  font-weight: 400;
  border: none;
}

.table .table-header-green {
  background-color: #73b129;
  color: #fff;
}

.table .table-header-green th {
  vertical-align: middle;
  font-weight: 400;
  border: none;
}

@media screen and (min-width: 768px) {
  .rates__table-title {
    margin-top: 30px;
    min-height: 45px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .rates__table-title {
    margin-top: 50px;
  }
  .table-header-orange th,
  .table-header-green th {
    padding: 1em;
  }
}

.banner-page {
  padding-top: 50px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.optical-in-house {
  background-color: #3a3958;
  background-image: url("../img/optical-small-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.optical__opportunities {
  margin-top: 30px;
  margin-bottom: 30px;
}

.optical__opportunities__item {
  min-height: 80px;
  margin-bottom: 25px;
  padding-left: 80px;
  position: relative;
}

.optical__opportunities__item:before, .optical__opportunities__item:after {
  position: absolute;
  content: '';
}

.optical__opportunities__item:before {
  top: 0;
  left: 0;
  height: 46px;
  width: 70px;
  padding-top: 25px;
  padding-bottom: 60px;
  color: #e9e9e9;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid #73b12a;
}

.optical__opportunities__item1:before {
  content: '1';
}

.optical__opportunities__item2:before {
  content: '2';
}

.optical__opportunities__item3:before {
  content: '3';
}

.optical__opportunities__item4:before {
  content: '4';
}

.optical__opportunities__item5:before {
  content: '5';
}

.optical__opportunities__item__title {
  font-size: 18px;
  font-weight: 500;
}

.optical__opportunities__item__desc {
  font-size: 16px;
  font-weight: 400;
}

.optical-item__price {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
  .banner-page {
    padding-bottom: 30px;
  }
  .optical__opportunities__item {
    min-height: 60px;
    margin-bottom: 35px;
  }
  .optical__opportunities__item:before {
    padding-bottom: 0;
    -webkit-transition: padding-bottom 0.3s;
    transition: padding-bottom 0.3s;
  }
  .optical__opportunities__item:hover:before {
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .optical-in-house {
    background-image: url("../img/optical-bg.jpg");
    background-position: center center;
  }
  .optical__opportunities {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .optical__opportunities__item {
    margin-bottom: 35px;
    padding-left: 90px;
  }
  .optical-item__price {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .banner-page {
    min-height: 520px;
    padding-top: 80px;
  }
  .optical__opportunities {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .optical__opportunities__item {
    margin-bottom: 35px;
  }
}

.paginator {
  text-align: center;
}

.paginator li {
  display: inline-block;
}

.paginator a {
  display: block;
  position: relative;
  font-size: 16px;
  border-radius: 50%;
  background-color: #fff;
  width: 38px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  border: none;
  outline: none;
  color: #73b12a;
  cursor: pointer;
}

.paginator a:hover {
  color: #252525;
}

.paginator .active {
  color: #252525;
  background-color: #eeeeee;
}

.home-internet__cities-links {
  border-radius: 6px;
  border: 1px solid #eee;
  padding-left: 0;
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .home-internet__cities-links {
    margin-right: 2rem;
    margin-bottom: 3rem;
  }
}

.home-internet__cities-links li {
  list-style: none;
  border-top: 1px solid #eee;
}

.home-internet__cities-links .first {
  border-top: none;
}

.home-internet__cities-links a {
  color: #252525;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-internet__cities-links a i {
  position: relative;
  left: -0.5rem;
  color: #73b12a;
  transition: left 0.2s;
}

.home-internet__cities-links a:hover {
  color: #73b12a;
  background-color: #f8f8f8;
}

.home-internet__cities-links a:hover i {
  left: 0.5rem;
}

@media (min-width: 992px) {
  .home-internet__cities-links a {
    padding: 2rem 2rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .home-internet__cities-links a {
    padding: 2.5rem 2.5rem;
  }
}

.page-application {
  background-color: #f6f6f6;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .page-application {
    padding-top: 8rem;
  }
}

.page-application__step {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding-left: 38px;
  position: relative;
}

@media (min-width: 1200px) {
  .page-application__step {
    margin-right: 40px;
    margin-bottom: 2.5rem;
    padding-left: 50px;
  }
}

.page-application__step:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #393957;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

@media (min-width: 1200px) {
  .page-application__step:before {
    top: -5px;
    height: 36px;
    width: 36px;
    line-height: 36px;
  }
}

.page-application__step__title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.page-application__step__desc {
  font-weight: 400;
}

.page-application__step1:before {
  content: '1';
}

.page-application__step2:before {
  content: '2';
}

.page-application__step3:before {
  content: '3';
}

.page-application__step4:before {
  content: '4';
}

.page-application .application__form {
  padding-top: 0;
}

.page-application .application__form select {
  background-color: #fff;
}

.page-application .application__form input,
.page-application .application__form select,
.page-application .application__form textarea {
  border: 1px solid #ddd;
}

.page-application .application__submit {
  background-color: #ec6707;
}

.page-application .application__submit:hover {
  background-color: #d35c06;
}

@media (min-width: 768px) {
  .page-application .application__submit {
    width: 100%;
  }
}

.page-application__policy {
  text-align: center;
  color: #979d9d;
  font-size: 0.875rem;
  font-weight: 400;
}

.page-application__policy a {
  color: inherit;
  text-decoration: underline;
}

.additional-services {
  padding-top: 1rem;
  margin-bottom: -1rem;
}

@media (min-width: 768px) {
  .additional-services {
    padding-top: 3rem;
    margin-bottom: -3.5rem;
  }
}

.additional-services__item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

@media (min-width: 1200px) {
  .additional-services__item {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.additional-services__item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.additional-services__item__toggler {
  width: 48px;
}

@media (min-width: 1200px) {
  .additional-services__item__toggler {
    width: 50px;
  }
}

.additional-services__item__title {
  font-weight: 500;
  font-size: 1.125rem;
  flex-grow: 1;
}

.additional-services__item__price {
  font-size: 1.125rem;
  font-weight: 700;
  width: 100px;
  text-align: center;
}

@media (min-width: 1200px) {
  .additional-services__item__price {
    width: 140px;
  }
}

.additional-services__item__content {
  display: flex;
}

@media (min-width: 1200px) {
  .additional-services__item__content {
    margin-left: 50px;
  }
}

.additional-services__item__desc {
  font-weight: 400;
}

.additional-services__item__desc a {
  display: inline-block;
  margin-top: 0.5rem;
}

.additional-services__item__img {
  border-radius: 50%;
  min-width: 100px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .additional-services__item__img {
    min-width: 140px;
    width: 140px;
    height: 140px;
    margin-left: 2rem;
  }
}

.additional-services__item__img img {
  width: 100%;
}

.additional-services__item.last {
  border-bottom: none;
}

.additional-services__summary {
  filter: drop-shadow(0 0 5px #ddd);
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 2rem 1rem;
  position: relative;
  z-index: 1;
}

@media (min-width: 576px) {
  .additional-services__summary {
    padding: 2rem 2rem;
  }
}

@media (min-width: 768px) {
  .additional-services__summary {
    padding: 2rem 3rem;
  }
}

@media (min-width: 992px) {
  .additional-services__summary {
    padding: 2.5rem 4rem 2rem 4rem;
  }
}

.additional-services__summary:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -30px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  transform: rotate(45deg);
}

.additional-services__summary__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .additional-services__summary__header {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .additional-services__summary__header {
    font-size: 1.5rem;
  }
}

.additional-services__summary__item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 992px) {
  .additional-services__summary__item {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.additional-services__summary__item.first {
  border-top: none;
}

.additional-services__summary .val {
  min-width: 80px;
}

@media (min-width: 768px) {
  .additional-services__summary .val {
    min-width: 130px;
  }
}

@media (min-width: 992px) {
  .additional-services__summary .val {
    min-width: 150px;
  }
}

.page-loyalty {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .page-loyalty {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1200px) {
  .page-loyalty {
    padding-top: 5rem;
  }
}

.page-loyalty__title {
  text-align: center;
  margin-bottom: 1rem;
}

.page-loyalty .nav-pills {
  border: none;
}

.page-loyalty .nav-pills .nav-link {
  border: none;
  font-size: 1rem;
}

.page-loyalty__item {
  background-color: #86726b;
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
  .page-loyalty__item {
    min-height: 185px;
    padding: 0 1rem;
  }
}

.page-loyalty__item__img {
  width: 20%;
  align-self: flex-start;
}

.page-loyalty__item__content {
  width: 80%;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 768px) {
  .page-loyalty__item__content {
    padding: 1.5rem 1.5rem;
  }
}

@media (min-width: 992px) {
  .page-loyalty__item__content {
    font-size: 1.4rem;
  }
}

.page-equip {
  background-color: #f6f6f6;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 1200px) {
  .page-equip {
    padding-top: 7em;
    padding-bottom: 6rem;
  }
}

.page-equip__title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

@media (min-width: 992px) {
  .page-equip__title {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .page-equip__title {
    margin-bottom: 4rem;
  }
}

.page-equip__item {
  background-color: #fff;
  filter: drop-shadow(0 2px 5px #eee);
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .page-equip__item {
    padding: 1.5rem 1.5rem;
  }
}

.page-equip__item__img {
  width: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .page-equip__item__img {
    width: 30%;
  }
}

.page-equip__item__content {
  width: 100%;
  width: 75%;
  padding-left: 1rem;
}

@media (min-width: 576px) {
  .page-equip__item__content {
    padding-left: 1.5rem;
  }
}

@media (min-width: 768px) {
  .page-equip__item__content {
    width: 70%;
    padding-left: 3rem;
  }
}

@media (min-width: 992px) {
  .page-equip__item__content {
    padding-left: 2rem;
  }
}

.page-equip__item__title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.page-equip__item__desc {
  color: #6c7478;
  font-size: 0.85rem;
}

@media (min-width: 768px) {
  .page-equip__item__desc {
    min-height: 100px;
  }
}

@media (min-width: 992px) {
  .page-equip__item__desc {
    min-height: 80px;
  }
}

.page-equip__item__price__val {
  font-size: 1rem;
  font-weight: 700;
}

.page-price {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .page-price {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.page-price__slider {
  height: 600px;
}

.page-price__slider__arrows {
  display: none;
  position: absolute;
  top: 46%;
  top: calc(50% - 42px);
  left: 0;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .page-price__slider__arrows {
    display: block;
    left: -10%;
    width: 120%;
  }
}

.page-price__slider__arrows button {
  display: block;
  position: relative;
  background-color: #fefefe;
  background-color: rgba(200, 200, 200, 0.5);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 78px;
  width: 78px;
  text-align: center;
  cursor: pointer;
}

.page-price__slider__arrows button i {
  line-height: 72px;
  font-size: 44px;
}

.page-price__slider__arrows .slick-prev {
  position: absolute;
  left: 20px;
  padding-left: 4px;
}

.page-price__slider__arrows .slick-next {
  position: absolute;
  right: 20px;
  padding-right: 4px;
}

.page-price__item {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 1rem;
  filter: drop-shadow(0 0 3px #eed);
}

.page-price__item__header {
  background-color: #393957;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 1rem;
}

@media (min-width: 992px) {
  .page-price__item__header {
    padding: 2rem 2rem;
  }
}

.page-price__item__content {
  background-color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .page-price__item__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.page-price__item__content__row {
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.page-price__item__content__row i {
  margin-right: 0.5rem;
}

.page-price__item__key {
  font-weight: 400;
  font-size: 0.8125rem;
  color: #6c7478;
  width: 60%;
}

.page-price__item__val {
  font-weight: 1rem;
  padding-left: 0.5rem;
  font-weight: 500;
  width: 40%;
}

.page-price__item__price {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
}

.page-price__item__submit {
  margin-bottom: 1.5rem;
  display: block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 210px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.page-price__item__submit .fa {
  font-size: 1.5rem;
}

.page-price__item__additional-title {
  background-color: #ececf2;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.875rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: -16px;
  margin-right: -16px;
}

@media (min-width: 768px) {
  .page-price__item__additional-title {
    margin-top: 1.5rem;
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media (min-width: 992px) {
  .page-price__item__additional-title {
    margin-top: 2rem;
  }
}

.service-banner {
  padding: 2rem 0;
}

.hdtv-banner {
  padding: 1rem 1rem;
  background-color: #393957;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: #fff;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hdtv-banner {
    background-image: url("../img/hdtv-banner.jpg");
    padding: 1.5rem 1.5rem;
  }
}

@media (min-width: 992px) {
  .hdtv-banner {
    padding: 3rem 3rem;
  }
}

.hdtv-banner__content {
  padding-left: 20px;
}

@media (min-width: 1200px) {
  .hdtv-banner__content {
    padding-left: 35px;
  }
}

.hdtv-banner__title {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .hdtv-banner__title {
    font-size: 2.25rem;
  }
}

.hdtv-banner__subtitle {
  color: #ec6707;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .hdtv-banner__subtitle {
    font-size: 1.5rem;
  }
}

.hdtv-banner__desc {
  font-size: 0.8125rem;
}

.hdtv-banner__desc ul {
  padding-left: 0;
}

.hdtv-banner__desc ul li {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.hdtv-banner__desc ul li:before, .hdtv-banner__desc ul li:after {
  position: absolute;
  content: '';
}

.hdtv-banner__desc ul li:before {
  top: 0;
  left: 0;
  content: '•';
  line-height: 1.3em;
  color: #ec6707;
}

.bad-wifi {
  background-color: #f6f6f6;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .bad-wifi {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .bad-wifi {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .bad-wifi {
    padding: 7rem 0;
  }
}

@media (min-width: 1200px) {
  .bad-wifi__img {
    padding-right: 2rem;
  }
}

.bad-wifi__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .bad-wifi__title {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .bad-wifi__title {
    margin-bottom: 3rem;
  }
}

.bad-wifi__subtitle {
  font-size: 1.25rem;
}

@media (min-width: 1200px) {
  .bad-wifi__subtitle {
    font-size: 1.5rem;
  }
}

.bad-wifi__content {
  font-weight: 400;
}

.bad-wifi ul li {
  margin-bottom: 1rem;
}

.productivity {
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .productivity {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .productivity {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .productivity {
    padding: 7rem 0;
  }
}

.productivity__under-title {
  font-size: 1rem;
  color: #979d9d;
}

@media (min-width: 1200px) {
  .productivity__under-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.productivity__item {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.productivity__item__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.productivity__item__img img {
  min-width: 100%;
  min-height: 100%;
}

.productivity__item__title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.productivity__item__desc {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 400;
}

.service-steps {
  background-color: #f6f6f6;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .service-steps {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .service-steps {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .service-steps {
    padding: 7rem 0 5rem 0;
  }
}

.service-steps__item {
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 20px;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .service-steps__item {
    padding-left: 64px;
  }
}

.service-steps__item:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '1';
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #393957;
  color: #fff;
  text-align: center;
}

@media (min-width: 992px) {
  .service-steps__item:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
  }
}

.service-steps__item:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 16px;
  height: 100%;
  height: calc(100% - 36px);
  width: 1px;
  background-color: #ccc;
}

@media (min-width: 992px) {
  .service-steps__item:after {
    left: 20px;
    height: calc(100% - 44px);
  }
}

.service-steps__item__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.service-steps__item-1:before {
  content: '1';
}

.service-steps__item-2:before {
  content: '2';
}

.service-steps__item-3:before {
  content: '3';
}

.service-steps__item-4:before {
  content: '4';
}

.service-steps__item-5:before {
  content: '5';
}

.service-steps__item.last:after {
  display: none;
}

.service-results {
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .service-results {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .service-results {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .service-results {
    padding: 7rem 0;
  }
}

.service-results__under-title {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #979d9d;
}

@media (min-width: 1200px) {
  .service-results__under-title {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

.service-results__item {
  padding-left: 50px;
  padding-bottom: 20px;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .service-results__item {
    padding-left: 64px;
  }
}

.service-results__item:before {
  position: absolute;
  top: 5px;
  left: 0;
  content: '1';
  font-weight: 900;
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 2.5rem;
  color: #ececec;
  text-align: center;
}

@media (min-width: 992px) {
  .service-results__item:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .service-results__item:before {
    font-size: 3.75rem;
  }
}

.service-results__item__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.service-results__item-1:before {
  content: '1';
}

.service-results__item-2:before {
  content: '2';
}

.service-results__item-3:before {
  content: '3';
}

.service-results__item-4:before {
  content: '4';
}

.service-results__item-5:before {
  content: '5';
}

.service-results__item-6:before {
  content: '6';
}

.service-results__item-7:before {
  content: '7';
}

.office-speed-inet {
  background-color: #f6f6f6;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .office-speed-inet {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .office-speed-inet {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .office-speed-inet {
    padding: 7rem 0;
  }
}

@media (min-width: 1200px) {
  .office-speed-inet__content {
    padding-left: 1rem;
  }
}

.office-speed-inet__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .office-speed-inet__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.office-speed-inet li {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.office-speed-inet__img {
  padding-top: 0.5rem;
  text-align: center;
}

@media (min-width: 1200px) {
  .office-speed-inet__img {
    padding-right: 1rem;
  }
}

.optical-home-banner__banner {
  background-color: #fff;
  filter: drop-shadow(0 0 3px #eee);
  display: flex;
}

.optical-home-banner__banner__label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #ec6707;
  padding: 1rem 1rem;
  color: #fff;
}

@media (min-width: 768px) {
  .optical-home-banner__banner__label {
    padding: 2rem 2rem;
    width: 30%;
    position: relative;
  }
  .optical-home-banner__banner__label:before {
    position: absolute;
    top: 0;
    left: 98%;
    left: calc(100% - 20px);
    content: '';
    width: 40px;
    height: 100%;
    background-color: #ec6707;
    transform: skew(-15deg);
  }
}

.optical-home-banner__banner__content {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

@media (min-width: 768px) {
  .optical-home-banner__banner__content {
    padding-left: 2.5rem;
  }
}

.hdtv-office-info {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/hdtv-info-bg.jpg");
  text-align: center;
}

@media (min-width: 768px) {
  .hdtv-office-info {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .hdtv-office-info {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .hdtv-office-info {
    padding: 7rem 0;
  }
}

.hdtv-home-trial {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/hdtv-home-trial-banner.jpg");
  font-size: 1.125rem;
  color: #fff;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hdtv-home-trial {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .hdtv-home-trial {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .hdtv-home-trial {
    padding: 7rem 0;
  }
}

.hdtv-home-brochure {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/hdtv-home-brochure.jpg");
}

@media (min-width: 768px) {
  .hdtv-home-brochure {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .hdtv-home-brochure {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .hdtv-home-brochure {
    padding: 7rem 0;
  }
}

.hdtv-home-opportunities {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/hdtv-home-opportunities.jpg");
  color: #fff;
  font-weight: 400;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .hdtv-home-opportunities {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .hdtv-home-opportunities {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) {
  .hdtv-home-opportunities {
    padding: 7rem 0;
  }
}

.hdtv-home-opportunities__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .hdtv-home-opportunities__title {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .hdtv-home-opportunities__title {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .hdtv-home-opportunities__title {
    margin-top: 3rem;
  }
}

.hdtv-home-opportunities__plus {
  color: #73b12a;
  position: relative;
  padding-left: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .hdtv-home-opportunities__plus {
    margin-top: 2.5rem;
  }
}

.hdtv-home-opportunities__plus:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "+";
  color: #fff;
  background-color: #73b12a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.hdtv-home-opportunities__minus {
  color: #ed1c24;
  position: relative;
  padding-left: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .hdtv-home-opportunities__minus {
    margin-top: 2.5rem;
  }
}

.hdtv-home-opportunities__minus:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "-";
  color: #fff;
  background-color: #ed1c24;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.hdtv-home-opportunities ul li {
  margin-bottom: 0.25rem;
}

.smart-guard {
  padding: 2rem 0;
  padding-bottom: 15rem;
  background-color: #19181a;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/smart-guard-bg.jpg");
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .smart-guard {
    padding: 3rem 0;
    padding-bottom: 15rem;
  }
}

@media (min-width: 992px) {
  .smart-guard {
    padding: 5rem 0;
    padding-bottom: 16rem;
  }
}

@media (min-width: 1200px) {
  .smart-guard {
    padding: 7rem 0;
    padding-bottom: 18rem;
  }
}

.smart-guard__title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .smart-guard__title {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
}

.smart-guard__list {
  font-size: 0.875rem;
  margin-bottom: 3rem;
}

.smart-guard__list li {
  list-style: none;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 1rem;
  position: relative;
}

.smart-guard__list li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-image: url("../img/ajax-list.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
}

.smart-guard__list .separator {
  color: #43ff1d;
}

.tab-guard__logo {
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .tab-guard__logo {
    padding-bottom: 3rem;
  }
}

.tab-guard__starter-kit {
  color: #fff;
  background-color: #19181a;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .tab-guard__starter-kit {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.tab-guard__starter-kit__title {
  font-weight: 400;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .tab-guard__starter-kit__title {
    font-size: 2.25rem;
  }
}

@media (min-width: 992px) {
  .tab-guard__starter-kit__title {
    font-size: 2.75rem;
  }
}

@media (min-width: 1200px) {
  .tab-guard__starter-kit__title {
    font-size: 3.75rem;
  }
}

.tab-guard__starter-kit__title .bold {
  font-weight: 700;
}

.tab-guard__starter-kit__subtitle {
  font-weight: 700;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .tab-guard__starter-kit__subtitle {
    font-size: 1.5rem;
  }
}

.tab-guard__starter-kit__green {
  color: #3ef11b;
  font-weight: 400;
  font-size: 1.125rem;
}

@media (min-width: 992px) {
  .tab-guard__starter-kit__green {
    margin-bottom: 3rem;
  }
}

.tab-guard__ajax-hub {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .tab-guard__ajax-hub {
    padding-bottom: 3rem;
  }
}

.tab-guard__control {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #19181a;
  color: #fff;
}

.tab-guard__control h3 {
  font-weight: 400;
}

@media (min-width: 992px) {
  .tab-guard__control {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .tab-guard__control {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.tab-guard__components {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/ajax-components.jpg");
  font-size: 1rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .tab-guard__components {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .tab-guard__components {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.tab-guard__components__title {
  font-weight: 400;
}

.tab-guard__components__btn {
  display: inline-block;
  border: 1px solid #252525;
  color: #252525;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}

.tab-guard__full-guard {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .tab-guard__full-guard {
    padding-top: 5rem;
  }
}

@media (min-width: 1200px) {
  .tab-guard__full-guard {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}

.tab-guard__full-guard__title {
  font-weight: 400;
  text-align: center;
}

@media (min-width: 992px) {
  .tab-guard__full-guard__title {
    margin-bottom: 3rem;
  }
}

.tab-guard__full-guard__item {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 0.875rem;
  padding-left: 60px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .tab-guard__full-guard__item {
    min-height: 90px;
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .tab-guard__full-guard__item {
    min-height: 80px;
    margin-bottom: 3rem;
  }
}

.tab-guard__full-guard__item__title {
  font-size: 1rem;
  font-weight: 500;
}

.tab-guard__full-guard__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/full-guard.png");
  background-repeat: no-repeat;
  display: block;
}

.tab-guard__full-guard__item-1:before {
  width: 42px;
  height: 46px;
  background-position: -5px -5px;
}

.tab-guard__full-guard__item-2:before {
  width: 41px;
  height: 45px;
  background-position: -57px -5px;
}

.tab-guard__full-guard__item-3:before {
  width: 53px;
  height: 44px;
  background-position: -108px -5px;
}

.tab-guard__full-guard__item-4:before {
  width: 42px;
  height: 44px;
  background-position: -171px -5px;
}

.tab-guard__full-guard__item-5:before {
  width: 53px;
  height: 50px;
  background-position: -223px -5px;
}

.tab-guard__full-guard__item-6:before {
  width: 49px;
  height: 47px;
  background-position: -286px -5px;
}

.tab-guard__full-guard__item-7:before {
  width: 56px;
  height: 49px;
  background-position: -345px -5px;
}

.tab-guard__full-guard__item-8:before {
  width: 53px;
  height: 50px;
  background-position: -411px -5px;
}
