 @import 'libs/responsive.scss';
 @import 'libs/switchbox.scss';
 @import 'libs/slick.scss';
 
 @media screen and (min-width: 1280px){
     .container{
         max-width: 1270px;
     }
 }
 //****  variables  ****************************************
 $socials-color: #cbcece;
 $socials-color-hover: #979d9d;
 $primary-color: #73b12a;
 $primary-color-darken: #568f13;
 $black: #252525;
 $menu-color: #afafb8;

 .text-success{
     color: $primary-color !important;
 }
 
 //****  typography  ***************************************
 body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $black;
    font-weight: 500;
    // line-height: 1.4em;
 }
 a{
     color: $primary-color;
     text-decoration: none;
     -webkit-transition: color 0.25s, background-color 0.25s;
     transition: color 0.25s, background-color 0.25s;
     &:hover{
         color: darken($primary-color, 5%);
         text-decoration: none;
     }
 }

 h2{
     font-weight: 700;
 }

 @media screen and (min-width: 1200px){
     h2{
         font-size: 36px;
     }
 }

 ul{
     padding-left: 1.1em;
 }
 
 //****  general classes  **********************************
 .w-100{
     width: 100%;
 }
 .text-center{
     text-align: center;
 }
 .text-right{
     text-align: right;
 }
 .text-left{
     text-align: left;
 }
 .h2-after {
     display: block;
     text-align: center;
     color: #979d9d;
     margin-bottom: 10px;
     margin-left: auto;
     margin-right: auto;
     max-width: 560px;
     font-size: 15px;
     font-weight: 500;
     letter-spacing: 0.5px;
 }

 img {
     max-width: 100%;
 }

 .line-height-high{
     line-height: 1.9em;
 }

 .btn {
     background-color: transparent;
     outline: 0;
     padding: 0.8em 1.75em;
     border-radius: 2em;
     border: 1px solid #d0d0d0;
     font-size: 1rem;
     color: $primary-color;
     -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
     transition: color 0.3s, border-color 0.3s, background-color 0.3s;
     .fa {
         font-size: 0.7em;
     }
     &:hover {
         color: #fff;
         background-color: $primary-color;
         border-color: $primary-color;
     }
     &:focus {
         -webkit-box-shadow: none;
                 box-shadow: none;
     }
 }

 .btn-invert {
     color: #fff;
     background-color: $primary-color;
     border-color: $primary-color;
     &:hover {
         color: $primary-color;
         background-color: #fff;
         border-color: #d0d0d0;
     }
 }

 @mixin pseudo {
     position: relative;
     &:before,
     &:after {
         position: absolute;
         content: '';
     }
 }
 
 .dotted {
    padding-left: 0;
    li {
        list-style: none;
        padding-left: 20px;
        @include pseudo;
        &:before {
            top: 0;
            left: 0;
            content: '•';
            line-height: 1.3em;
            color: $primary-color;
        }
    }
}

.nav-pills{
    border: 1px solid $socials-color;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: row;
    .nav-item{
        height: 80px;
        width: 100%;
        @include onSmall {
            width: 50%;
        }
        @include onLarge {
            width: 25%;
        }
    }
}
.nav-pills .nav-link {
    position: relative;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 70px;
        height: 100%;
        background-image: url('../img/equipment-sprite.png');
        background-repeat: no-repeat;
        display: block; 
    }
    padding-left: 80px;
    font-size: 0.875rem;
    line-height: 1.1rem;
    display: flex;
    align-items: center;
    height: 100%;
    color: #252525;
}

.nav-pills .nav-link#tab3{
    &:before{
        top: 24px;
        left: 20px;
        width: 39px;
        height: 29px;
        background-position: -5px -5px;
    }
}
.nav-pills .nav-link#tab3:hover,
.nav-pills .nav-link.active#tab3{
    &:before{
        width: 39px;
        height: 29px;
        background-position: -54px -5px;
    }
}

.nav-pills .nav-link#tab4{
    &:before{
        top: 22px;
        left: 20px;
        width: 30px;
        height: 31px;
        background-position: -103px -5px;
    }
}
.nav-pills .nav-link#tab4:hover,
.nav-pills .nav-link.active#tab4{
    &:before{
        width: 30px;
        height: 31px;
        background-position: -143px -5px;
    }
}

.nav-pills .nav-link#tab2{
    &:before{
        top: 22px;
        left: 20px;
        width: 48px;
        height: 31px;
        background-position: -183px -5px;
    }
}
.nav-pills .nav-link#tab2:hover,
.nav-pills .nav-link.active#tab2{
    &:before{
        width: 48px;
        height: 31px;
        background-position: -241px -5px;
    }
}

.nav-pills .nav-link#tab1{
    &:before{
        top: 22px;
        left: 20px;
        width: 46px;
        height: 31px;
        background-position: -299px -5px;
    }
}
.nav-pills .nav-link#tab1:hover,
.nav-pills .nav-link.active#tab1{
    &:before{
        width: 46px;
        height: 31px;
        background-position: -355px -5px;
    }
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $primary-color;
    background-color: #f4f6f6;
}

 //****  menu  *********************************************
 .main-menu{
     display: none;
     position: fixed;
     top: 0;
     right: 0;
     width: 480px; 
     @include onExtraLarge {
         width: 520px;
     }
     max-width: 100%;
     height: 100vh;
     overflow: scroll;
     z-index: 1;
     padding-top: 15px;
     padding-bottom: 35px;
     background-color: #393957;
     color: $menu-color;
     z-index: 5;
     a{
         color: $menu-color;
         &:hover{
             color: #fff;
         }
     }
     .btn{
         color: $menu-color;
         border-color: $menu-color;
         &:hover{
             color: #fff;
             background-color: transparent;
             border-color: #fff;
         }
     }
 }
 .main-menu__close{
     z-index: 1;
     position: absolute;
     top: 8px;
     right: 8px;
     display: inline-block;
     width: 38px;
     height: 38px;
     cursor: pointer;
    font-size: 38px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    &:before,
    &:after{
        position: absolute;
        content: '';
        background-color: $menu-color;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
        border-radius: 3px;
    }
    &:before{
        top: 49%;
        top: calc(50% - 2px);
        left: 0;
        width: 100%;
        height: 4px;
    }
    &:after{
        top: 0;
        left: 49%;
        left: calc(50% - 2px);
        width: 4px;
        height: 100%;
    }
    &:hover{
        &:before,
        &:after{
            background-color: #fff;
        }
    }
 }

 .main-menu-block__header{
    font-size: 20px;
 }
 .main-menu-block{
     margin-top: 5px;
     margin-bottom: 15px;
    list-style: none;
    padding-left: 0;
    line-height: 1.7em;
    font-size: 15px;
 }

 .main-menu__list{
     margin-top: 15px;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.7em;
     list-style: none;
     padding-left: 0;
 }

 @media screen and (min-width:768px){
     .main-menu{
         padding-top: 80px;
     }
    .main-menu-block__header{
        font-size: 20px;
     }
     .main-menu-block{
         margin-bottom: 25px;
         font-size: 16px;
     }
    
     .main-menu__list{
         margin-top: 0px;
         font-size: 20px;
     }
 }

 @media screen and (min-width:1200px){
     .main-menu{
         padding-top: 140px;
     }
     .main-menu__close{
         top: 12px;
         right: 12px;
     }
     .main-menu-block{
         font-size: 16px;
         line-height: 1.95em;
         margin-top: 5px;
         margin-bottom: 60px;
     }
     .main-menu-block__header{
         font-size: 24px;
     }
     .main-menu__list{
         font-size: 24px;
         li{
             margin-bottom: 8px;
         }
     }
 }

 //****  header  *******************************************
 .header{
     background-color: #fff;
     width: 100%;
     z-index: 1;
     padding-top: 20px;
     padding-bottom: 16px;
 }
.home-page .header{
    position: absolute;
    top: 0;
    left: 0;
}

 .header-white{
     background-color: #fff;
     -webkit-filter: drop-shadow(0 0 3px #aaa);
             filter: drop-shadow(0 0 3px #aaa);
 }
 .header-logo{
     margin-top: 8px;
     display: inline-block;
 }
 .header-slogan{
     margin-left: 12px;
     margin-top: 6px;
     font-size: 12px;
     line-height: 1.25em;
     color: #9a9a9a;
 }
 .header-tel{
     display: inline-block;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 16px;
     color: $black;
     -webkit-transition: color 0.2s;
     transition: color 0.2s;
     i{
         color: #ec6707;
     }
     &:hover{
        color: #ec6707;
     }
 }
 .header-tel__mobile{
     i{
         color: #ec6707;
         border-radius: 50%;
         height: 36px;
         width: 36px;
         line-height: 36px;
         background-color: #eee;
     }
 }
 .header-callback{
    display: inline-block;
    margin-top: 2px;
    border-radius: 25px;
    padding: 0.55em 1.2em;
    border:1px solid transparent;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    font-size: 14px;
     color: #ec6707;
     &:hover{
         color: #ec6707;
         border-color: #ec6707;
     }
     &:visited{
         color: #ec6707;
     }
 }

 .menu-toggler{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin-top: 2px;
     margin-left: auto;
     margin-right: 0;
     background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 20px;
     color: $black;
     height: 38px;
     &:focus{
         outline: none;
     }
     i{
         position: relative;
         font-size: 32px;
         margin-right: 12px;
         -webkit-transition: -webkit-transform 0.2s;
         transition: -webkit-transform 0.2s;
         transition: transform 0.2s;
         transition: transform 0.2s, -webkit-transform 0.2s;
     }
     &:hover{
        i{
            -webkit-transform: scaleY(1.1);
                    transform: scaleY(1.1);
        }
     }
 }
 .header-actions{
     margin-bottom: 10px;
     margin-top: -2px;
     
     a{
         @include pseudo;
         display: inline-block;
         width: 42px;
         height: 42px;
         margin-right: 10px;
         border-radius: 50%;
         &:before{
            top: 0;
            left: 11px;
            width: 20px;
            height: 100%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
     }
 }
 .header-login{
     background-color: #ec6707;
     &:hover{
         background-color: #d15002;
     }
     &:before{
         background-image: url('../img/login-icon.png');
     }
 }
 .header-payment{
    background-color: #73b129;
    &:hover{
        background-color: #568f13;
    }
    &:before{
        background-image: url('../img/payment-icon.png');
    }
 }
@media screen and (min-width:768px){
    .header{
        padding-bottom: 8px;
    }
    .header-actions{
        padding-left: 14px;
        margin-bottom: 0;
        a{
            margin-right: 0;
            margin-left: 10px;
        }
    }
}
 @media screen and (min-width: 992px){
     .home-page .header{
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
     }
 }
 @media screen and (min-width: 1200px){
     .header-slogan{
         margin-left: 16px;
     }
 }

 @media screen and (min-width: 1280px){
    .header-slogan{
        margin-left: 8px;
        margin-right: 24px;
    }
}


 //****  home  *********************************************
 .home{
     position: relative;
 }
 .home-slider{
     .slick-dots{
         position: absolute;
         bottom: 30px;
         left: 0;
         display: block;
         padding-left: 0;
         width: 100%;
         text-align: center;
         li{
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
         }
         button{
            position: relative;
            margin-top: 1px;
            font-size: 0%;
            border-radius: 50%;
            background-color: #6c6c6c;
            width: 10px;
            height: 10px;
            line-height: 16px;
            padding: 0;
            border: none;
            outline: none;
            color: #fff;
            cursor: pointer;
            -webkit-filter: drop-shadow(0 0 1px #aaa);
                    filter: drop-shadow(0 0 1px #aaa);
        }
     }
    .slick-active{
        // margin-left: 8px;
        // margin-right: 8px;
        button{
            top: -2px;
            width: 14px;
            height: 14px;
            background-color: #fff;
        }
    } 
 }
 .home-slider__arrows{
    display: none;
    position: absolute;
    top: 46%;
    top: calc(50% - 42px);
    left: 0;
    width: 100%;
    button{
        display: block;
        position: relative;
        background-color: #fefefe;
        background-color: rgba(200,200,200, 0.5);
        color: #fff;
        border: none;
        outline: none;
        border-radius: 50%;
        height: 78px;
        width: 78px;
        text-align: center;
        cursor: pointer;
        i{
            line-height: 72px;
            font-size: 44px;
        }
    }
    .slick-prev{
        position: absolute;
        left: 20px;
        padding-left: 4px;
    }
    .slick-next{
        position: absolute;
        right: 20px;
        padding-right: 4px;
    }
}
 .home-slide {
     color: #fff;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     padding-top: 110px;
     padding-bottom: 40px;
     min-height: 530px;
     .container{
         position: relative;
         z-index: 1;
     }
 }
 @media screen and (min-width:375px){
     .home-slide{
         min-height: 500px;
     }
 }
 .home-slide__darken{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #111115;
     opacity: 0.2;
 }

 .home-slide1 {
     background-image: url('../img/home-slide1-bg.jpg');
 }

//  .home-slide2 {
//      background-image: url('../img/home-slide2-bg.jpg');
//  }

//  .home-slide3 {
//      background-image: url('../img/home-slide3-bg.jpg');
//  }

 .home-slide__title {
     font-size: 30px;
     font-weight: 700;
     line-height: 1.2em;
     margin-bottom: 20px;
 }
 .home-slide__theses{
     font-size: 18px;
     line-height: 1.7em;
 }
 .home-slide__btn{
     margin-top: 20px;
     padding: 1em 2em;
     &:hover{
         color: #fff;
         background-color: $primary-color-darken;
         -webkit-filter: drop-shadow(0 1px 4px #ccc);
                 filter: drop-shadow(0 1px 4px #ccc);
     }
 }

 @media screen and (min-width:768px){
     .home-slider{
         .slick-dots{
             bottom: 50px;
         }
     }
    .home-slide {
        color: $black;
        -webkit-filter: none;
                filter: none;
        background-position: center center;
        padding-top: 120px;
        padding-bottom: 120px;
        min-height: 80vh;
    }
    .home-slide__darken{
        display: none;
    }
    .home-slider__arrows{
        display: block;
    }
    .home-slide__title {
        font-size: 50px;
        margin-bottom: 50px;
    }
    .home-slide__theses{
        font-size: 18px;
    }
    .home-slide__btn{
        margin-top: 30px;
        padding: 1.3em 2.5em;
    }
 }

 @media screen and (min-width:1200px){
    .home-slide {
        padding-top: 190px;
        padding-bottom: 200px;
        min-height: 100vh;
    }
    .home-slide__title {
        font-size: 72px;
        margin-bottom: 50px;
    }
    .home-slide__theses{
        font-size: 18px;
    }
    .home-slide__btn{
        margin-top: 30px;
        padding: 1.3em 2.5em;
    }
 }
 
 //****  benefits  *****************************************
 .benefits {
     padding-top: 40px;
     padding-bottom: 30px;
 }

 @media screen and (min-width:768px){
    .benefits {
        padding-top: 60px;
        padding-bottom: 50px;
    }
 }
 @media screen and (min-width:1200px){
    .benefits {
        padding-top: 95px;
        padding-bottom: 70px;
    }
 }

 .benefits__item {
     text-align: center;
     margin-top: 15px;
     margin-bottom: 20px;
     padding-top: 76px;
     @include pseudo;
     &:before {
         top: 0;
         left: 0;
         width: 100%;
         height: 60px;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: contain;
     }
 }
 @media screen and (min-width:768px){
     .benefits__item{
         margin-top: 55px;
     }
 }

 .benefit1:before {
     background-image: url('../img/benefit1.png');
 }

 .benefit2:before {
     background-image: url('../img/benefit2.png');
 }

 .benefit3:before {
     background-image: url('../img/benefit3.png');
 }

 .benefit4:before {
     background-image: url('../img/benefit4.png');
 }

 .benefit5:before {
     background-image: url('../img/benefit5.png');
 }

 .benefit6:before {
     background-image: url('../img/benefit6.png');
 }

 .benefits__item__title {
     font-size: 20px;
     font-weight: 500;
     margin-bottom: 15px;
 }
 .benefits__item__desc{
     line-height: 1.7em;
     font-weight: 500;
 }
 
 //****  internet  *****************************************
 .internet {
     padding-top: 50px;
     padding-bottom: 40px;
     background-color: #393957;
     color: #fff;
 }
 .internet__item{
     padding-top: 10px;
     padding-bottom: 20px;
 }

 .internet__item__title {
     color: $primary-color;
     font-size: 24px;
     margin-bottom: 15px;
 }

 .internet__item__desc {
     font-weight: 400;
     min-height: 60px;
     line-height: 1.7em;
     li{
         line-height: 1.5em;
         margin-bottom: 10px;
     }
 }

 @media screen and (min-width: 768px){
    .internet {
        padding-top: 70px;
        padding-bottom: 60px;
     }
    .internet__item__desc {
        min-height: 170px;
    }
 }
 @media screen and (min-width: 992px){
    .internet__item__desc {
        min-height: 140px;
    }
 }

 @media screen and (min-width:1200px){
    .internet {
        padding-top: 90px;
        padding-bottom: 80px;
     }
     .internet__item__title{
         margin-bottom: 35px;
     }
 }
 
 //****  loyalty  ******************************************
 .loyalty {
     padding-top: 40px;
     padding-bottom: 40px;
     .btn{
         margin-top: 30px;
     }
 }
 .loyalty__items{
     margin-top: 20px;
     a{
         color: $black;
         &:hover{
             color: $black;
         }
     }
 }

 .loyalty__item {
     margin-bottom: 20px;
     &:hover{
         .loyalty__item__title{
             color: #ec6707;
         }
     }
 }

 .loyalty__item__img {
     img {
         max-width: 100%;
         border-radius: 50%;
     }
 }
 .loyalty__item__date{
     margin-top: 10px;
    font-size: 12px;
    color: #979d9d;
 }
 .loyalty__item__title{
     margin-top: 15px;
     font-size: 24px;
 }
 .loyalty__item__desc{
     line-height: 1.7em;
 }

 @media screen and (min-width:992px){
    .loyalty {
        padding-top: 60px;
        padding-bottom: 60px;
        .btn{
            margin-top: 50px;
        }
    }
    .loyalty__items{
        margin-top: 40px;
    }
 }
 @media screen and (min-width:1200px){
    .loyalty {
        padding-top: 95px;
        padding-bottom: 100px;
        .btn{
            margin-top: 60px;
        }
    }
    .loyalty__items{
        margin-top: 70px;
    }
 }

 //**** offers  ********************************************
 .offers{
     position: relative;
 }

.offers-slider__arrows{
    display: none;
    position: absolute;
    top: 46%;
    top: calc(50% - 42px);
    left: 0;
    width: 100%;
    button{
       display: block;
       position: relative;
       background-color: transparent;
       color: #fff;
       border: none;
       outline: none;
       border-radius: 50%;
       height: 78px;
       width: 78px;
       text-align: center;
       cursor: pointer;
       i{
           line-height: 72px;
           font-size: 30px;
           opacity: 0.7;
       }
   }
   .slick-prev{
       position: absolute;
       left: 20px;
       padding-left: 4px;
   }
   .slick-next{
       position: absolute;
       right: 20px;
       padding-right: 4px;
   }
}
@media screen and (min-width:768px){
    .offers-slider__arrows{
        display: block;
    }
}
.offers-slide{
    padding-top: 30px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    font-size: 14px;
    min-height: 420px;
}
// .offers-slide1{
//     background-image: url('../img/offer1-bg.jpg');
// }
// .offers-slide2{
//     background-image: url('../img/offer2-bg.jpg');
// }
// .offers-slide3{
//     background-image: url('../img/offer3-bg.jpg');
// }
.offers-slide__title{
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 700;
    color: #191919;
    // &:hover{
    //     color: #393957;
    // }
}
.offers-slide__label{
    background-color: #fff;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 0.35em 0.75em 0.2em 0.75em;
    display: inline-block;
    color: #ec6707;
}
.offers-slide__label-primary{
    color: $primary-color;
}
.offers-slide__theses{
    ul{
        list-style: none;
        padding-left: 0;
        line-height: 1.7em;
        min-height: 100px;
    }
}
.offers-slide__prices{
    margin-top: 22px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
}
.offers-slide__prices-val{
    font-size: 18px;
}
.btn-offer{
    margin-top: 10px;
    background-color: #ec6707;
    color: #fff;
    border-color: transparent;
    -webkit-filter: drop-shadow(0 2px 3px #555);
            filter: drop-shadow(0 2px 3px #555);
    &:hover{
        border-color: #ec6707;
        background-color: #ec6707;
        color: #fff;
    }
}
.btn-offer-primary{
    background-color: $primary-color;
    border-color: transparent;
    &:hover{
        background-color: $primary-color;
        color: #fff;
    }
}
@media screen and (min-width:768px){
    .offers-slide{
        font-size: 16px;
    }
    .offers-slide__title{
        font-size: 26px;
    }
}
@media screen and (min-width:992px){
    .offers-slide{
        font-size: 18px;
        background-position: center center;
    }
    .offers-slide__title{
        font-size: 36px;
    }
}
@media screen and (min-width:1200px){
    .offers-slide{
        padding-top: 80px;
        padding-bottom: 90px;
        min-height: 560px;
    }
    .offers-slide__title{
        margin-right: -5px;
        margin-left: -5px;
        font-size: 48px;
    }
    .btn-offer{
        padding: 1.2em 2.5em;
    }
}
 
 //**** news  **********************************************
 .news {
     padding-top: 30px;
     padding-bottom: 50px;
     background-color: #f4f6f5;
     .btn{
         margin-top: 30px;
     }
 }

 .news__items{
     margin-top: 25px;
     a{
        color: $black;
    }
 }
 .news__item {
     background-color: #fff;
     padding-bottom: 12px;
     margin-top: 25px; 
     &:hover {
         .news__item__title {
             color: #ec6707;
         }
         -webkit-filter: drop-shadow(0 0 5px #dedede);
                 filter: drop-shadow(0 0 5px #dedede);
     }
 }

 .news__item__img {
     img{
         width: 100%;
     }
     min-height: 150px;
     overflow: hidden;
 }

 .news__item__title {
     h3{
         font-size: 20px;
         text-align: center;
     }
     margin-top: 20px;
     padding: 0 15px;
     min-height: 38px;
 }

 .news__item__short {
     padding: 0 15px;
     min-height: 90px;
     line-height: 1.7em;
 }

 .news__item__date {
     text-align: right;
     padding: 0 15px;
     position: absolute;
     bottom: 15px;
     right: 15px;
     font-size: 12px;
     color: #979d9d;
 }

 @media screen and (min-width:768px){
     .news{
         padding-top: 50px;
         padding-bottom: 70px;
     }
     .news__items{
         margin-top: 50px;
     }
 }
 @media screen and (min-width: 992px){
    .news{
        padding-top: 80px;
        padding-bottom: 90px;
        .btn{
            margin-top: 50px;
        }
    }
     .news__item__title{
         min-height: 60px;
     }
     .news__item__short {
        min-height: 150px;
    }
 }
 @media screen and (min-width: 1200px){
     .news{
        padding-top: 120px;
        padding-bottom: 130px;
         .btn{
             margin-top: 70px;
         }
     }
    .news__item{
        min-height: 435px;
    }
    .news__item__title{
        margin-top: 25px;
        min-height: 32px;
    }
    .news__item__short {
       min-height: 110px;
   }
}
 
 //**** about  *********************************************
 .about {
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
    //  background-image: url('../img/about-bg.jpg');
     padding-top: 50px;
     padding-bottom: 50px;
     background-color: gray;
     color: #fff;
     font-size: 16px;
     font-weight: 300;
     line-height: 1.7em;
     .btn{
         margin-top: 30px;
     }
 }
 .about__video-link{
     margin-top: 15px;
     margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-color: #252525;
    background-color: rgba(#000000, 0.3);
    color: #efefef;
    i{
        color: #efefef;
        margin-left: 15px;
        font-size: 48px;
         line-height: 95px;
     }
     &:hover{
        background-color: rgba(#000000, 0.5);
         color: #fff;
     }
 }
 @media screen and (min-width:768px){
    .about{
       padding-top: 70px;
       padding-bottom: 70px;
    }
}
 @media screen and (min-width:1200px){
     .about{
        padding-top: 110px;
        padding-bottom: 110px;
     }
     .about__video-link{
        margin-top: 30px;
        margin-bottom: 50px;
     }
 }
 
 //****  reviews  ******************************************
 .reviews {
     padding-top: 50px;
     padding-bottom: 50px;
     .h2-after{
         margin-top: 20px;
     }
 }

 .reviews-slider{
     margin-top: 80px;
     .slick-dots{
        position: absolute;
        top: -60px;
        left: 0;
        display: block;
        padding-left: 0;
        width: 100%;
        text-align: center;
        li{
           display: inline-block;
        //    margin-left: 10px;
        //    margin-right: 10px;
        }
        button{
           position: relative;
           font-size: 16px;
           border-radius: 50%;
           background-color: #fff;
           width: 38px;
           height: 38px;
           line-height: 38px;
           padding: 0;
           border: none;
           outline: none;
           color: $primary-color;
           cursor: pointer;
           &:hover{
               color: $black;
           }
       }
    }
   .slick-active{
       // margin-left: 8px;
       // margin-right: 8px;
       button{
           color: $black;
           background-color: #eeeeee;
       }
    } 
 }

 @media screen and (min-width:768px){
    .reviews {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .reviews-slider{
        margin-top: 100px;
        .slick-dots{
            top: -75px;
        }
    }
 }
 @media screen and (min-width:1200px){
    .reviews {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    .reviews-slider{
        margin-top: 140px;
        .slick-dots{
            top: -95px;
        }
    }
 }

 .reviews-slide__speed{
     background-color: #73b129;
     margin-top: 10px;
     padding: 1.5em 1.75em;
     color: #e8e9eb;
     i{
         color: #fff;
         font-size: 16px;
     }
 }
 .reviews-slide__speed-upload{
     margin-top: 0;
     padding-top: 0;
 }
 .reviews-slide__speed-val{
     margin-left: 5px;
     font-size: 16px;
     color: #fff;
 }
 .reviews-slide__name{
     margin-top: 20px;
     font-size: 16px;
 }
 .reviews-slide__city{
     font-size: 14px;
    color: #979d9d;
    font-weight: 300;
    margin-left: 5px;
}
.reviews-slide__text{
    line-height: 1.75em;
}

 //**** callback-block  ************************************
.callback-block{
    text-align: center;
    background-color: #393957;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    &__form{
        height: 0;
        transition: height 0.9s;
        overflow: hidden;
        margin-bottom: 1rem;
        width: 100%;
        max-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        input,textarea{
            padding: 1rem 1rem;
            width: 100%;
            display: block;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }
    }
    &__form.active{
        height: initial;
    }
    &__policy{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        color: #979d9d;
        font-size: 0.875rem;
        font-weight: 400;
        a{
            color: inherit;
            text-decoration: underline;
        }
        a:visited{
            color: inherit;
        }
        a:hover{
            color: #a7adad;
        }
    }
    &__toggler{
        margin-top: -25px;
        position: relative;
        display: block;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        border: none;
        background-color: #ec6707;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        top: 25px;
        cursor: pointer;
        outline: none;
        &:focus{
            outline: none;
        }
    }
}
.callback-block__container{
    padding-top: 30px;
    padding-bottom: 20px;
    a{
        color: #fff;
    }

    position: relative;
    &:before{
        position: absolute;
        top: 0; 
        right: 102%;
        content: '';
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 0;
        height: 0;
        @include onLarge {
            background-image: url('../img/callback-icon.png');
            width: 120px;
            height: 120px;
        }
        @include onExtraLarge {
            width: 160px;
            height: 160px;
        }
        @media screen and (min-width: 1920px){
            width: 180px;
            height: 180px;
        }
    }
}
.callback-block__container.wifi{
    &:before{
        @include onLarge {
            background-image: url('../img/wifi-network-application.png');
        }
    }
}
.callback-block__container.video{
    &:before{
        @include onLarge {
            background-image: url('../img/video-application.png');
        }
    }
}
.callback-block__container.security{
    &:before{
        @include onLarge {
            background-image: url('../img/security-application.png');
        }
    }
}
.callback-block__container.hdtv{
    &:before{
        @include onLarge {
            background-image: url('../img/hdtv-application.png');
        }
    }
}
.callback-block__title{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
}
.callback-block__slogan{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 1.5rem;
}
@media screen and (min-width:576px){
    .callback-block__container{
        padding-top: 35px;
    }
}

@media screen and (min-width: 680px){
    .callback-block__container{
        padding-top: 40px;
    }
}

@media screen and (min-width:768px){
    .callback-block__title{
        font-size: 28px;
    }
    .callback-block__slogan{
        line-height: 1.7em;
    }
}
@media screen and (min-width:1200px){
  
   
    .callback-block__title{
        font-size: 30px;
    }
}

 //****  subscribe  ****************************************
 .home-subscribe{
     background-color: #f4f6f6;
     padding-top: 50px;
     padding-bottom: 55px;
 }
 .home-subscribe__label{
    font-size: 16px;
 }
 .home-subscribe__form{
     margin-top: 30px;
     text-align: center;
 }
 ::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #979d9d;
    opacity: 1; /* Firefox */
}
 :-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #979d9d;
    opacity: 1; /* Firefox */
}
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #979d9d;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #979d9d;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #979d9d;
}
 .home-subscribe__mail{
    border: none;
    outline: none;
    padding-left: 16px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 80%;
 }
 .home-subscribe__submit{
     width: 80%;
     padding-top: 11px;
     padding-bottom: 11px;
     .fa{
         font-size: 16px;
         margin-right: 6px;
     }
     &:hover{
         color: #fff;
         background-color: $primary-color;
         border-color: $primary-color;
         -webkit-filter: drop-shadow(0 2px 3px #777);
                 filter: drop-shadow(0 2px 3px #777);
     }
 }

 @media screen and (min-width:576px){
     .home-subscribe{
        padding-top: 70px;
     }
     .home-subscribe__mail{
         width: 280px;
     }
     .home-subscribe__submit{
         width: initial;
     }
 }
 @media screen and (min-width: 768px){
     .home-subscribe__mail{
        position: relative;
        right: -15px;
         padding-right: 30px;
     }
     .home-subscribe__submit{
         position: relative;
         left: -15px;
     }
 }
 @media screen and (min-width:992px){
    .home-subscribe__mail{
        width: 380px;
    }
}

 @media screen and (min-width:1200px){
     .home-subscribe__mail{
         width: 450px;
     }
 }

 //****  footer  *******************************************
 .footer{
     padding-top: 35px;
     padding-bottom: 30px;
     color: darken($socials-color, 20%);
     font-size: 14px;
     line-height: 1.7em;
     a{
        color: darken($socials-color, 20%);
        &:hover{
            color: darken($socials-color, 48%);
        }
     }
     .socials{
         margin-top: 20px;
     }
 }
 .footer-logo{
     img{
         max-width: 110px;
     }
 }
 .copyright{
     margin-top: 15px;
     margin-bottom: 25px;
     font-size: 13px;
     font-weight: 300;
     color: $black;
 }
 .footer-block{
     list-style: none;
     padding-left: 0;
     font-size: 13px;
     margin-bottom: 20px;
     line-height: 1.4em;
     font-weight: 300;
 }
 .footer-block-header{
     margin-bottom: 5px;
 }
 .footer-info-links{
     a{
         font-weight: 300;
         margin-bottom: 0.5em;
     }
 }
 .footer-menu{
     margin-top: 20px;
     padding-left: 0;
     list-style: none;
     li{
         margin-bottom: 0.5em;
     }
 }

@media screen and (min-width:768px){
    .footer{
        padding-top: 75px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width:992px){
    .footer{
        .socials{
            margin-top: 0;
        }
    }
    .footer-block-header{
        margin-bottom: 0;
    }
    .footer-menu{
        margin-top: 0;
    }
 }
 
 //****  socials  ******************************************
 .socials {
     a {
         display: block;
         margin-bottom: 0.5rem;
         font-size: 1.2rem;
         font-weight: 300;
         font-size: 14px;
         color: darken($socials-color, 20%);
         &:hover{
             color: $socials-color-hover;
             text-decoration: none;
             .fa{
                text-decoration: initial;
                border-color: $socials-color-hover;
                background-color: $socials-color-hover;
             }
         }
     }
     .fa {
         margin-right: 6px;
         font-size: 16px;
         color: #fff;
         width: 2rem;
         height: 2rem;
         line-height: 2rem;
         text-align: center;
         border-radius: 50%;
         border-color: $socials-color;
         background-color: $socials-color;
         -webkit-transition: background-color 0.3s, border-color 0.3s;
         transition: background-color 0.3s, border-color 0.3s;
     }
 }

 //****  pages top  ****************************************
 .secodary-page{
    @include pseudo;
     &:before{
         top: 0;
         left: 0;
         width: 100%;
         height: 80px;
         background-image: url('../img/about-small-bg.jpg');
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         z-index: -1;
    }
    padding-top: 20px;
    .content{
        background-color: #fff;
    }
}

.banner-breadcrumbs{
    height: 80px;
    padding-top: 20px;
    margin-bottom: -80px;
    @include onSmall {
        padding-top: 30px;
        margin-bottom: -100px;
        height: 100px;
    }
    @include onExtraLarge {
        padding-top: 50px;
    }
}
.breadcrumbs{
    margin-bottom: 15px;
    color:$primary-color;
    font-weight: 300;
    ul{
        list-style: none;
        padding-left: 0;
        li{
            display: inline;
        }
        .B_currentCrumb{
            color: #fff;
        }
    }
    i{
        font-size: 8px;
        position: relative;
        top: -2px;
        margin-left: 5px;
        margin-right: 5px;
        color: #fff;
    }
}
.content{
    padding: 20px 15px;
}

.secondary-page__title{
    font-size: 24px;
    margin-bottom: 15px;
}

@media screen and (min-width:576px){
    .secodary-page{
        @include pseudo;
         &:before{
             top: 0;
             left: 0;
             width: 100%;
             height: 100px;
            z-index: -1;
         }
         padding-top: 30px;
         padding-bottom: 30px;
     }
     .content{
        padding: 25px 20px;
    }
 }
 @media screen and (min-width:768px){
     .secodary-page{
         &:before{
             height: 130px;
             background-image: url('../img/about-bg.jpg');
         }
         .content{
            @include pseudo;
            &:before,
            &:after{
                top: 0;
                height: 110px;
                width: 5px;
                background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(transparent));
                background: linear-gradient(#ccc, transparent);
                -webkit-filter: drop-shadow(0 0 5px #888);
                        filter: drop-shadow(0 0 5px #888);
                z-index: -1;
            }
            &:before{
                left: 0;
            }
            &:after{
                right: 0;
            }
         }
     }
     .breadcrumbs{
        margin-bottom: 25px;
    }
    .content{
        padding: 30px 30px;
    }
    .secondary-page__title{
        font-size: 28px;
        margin-bottom: 30px;
    }
 }
 @media screen and (min-width:1200px){
     .secodary-page{
         min-height: 200px;
         padding-top: 50px;
         &:before{
             height: 215px;
         }
         .content{
             &:before,
             &:after{
                 height: 180px;
             }
         }
     }
     .breadcrumbs{
         margin-bottom: 45px;
     }
     .content{
        padding: 65px 80px;
    }
    .secondary-page__title{
        font-size: 36px;
        margin-bottom: 55px;
    }
 }

 @media screen and (min-width:1280px){
     .content{
         width: 1240px;
     }
 }

 //**** news page  *****************************************
 .news-page__item{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     padding-bottom: 20px;
     margin-bottom: 25px;
     border-bottom: 1px solid #eee;
 }

.news-page__item__date{
    font-size: 12px;
    color: #979d9d;
    margin-top: 15px;
    margin-bottom: 10px;
}
.news-page__item__title{
    color: $primary-color;
    font-size: 18px;
    margin-bottom: 5px;
}
.news-page__item__short{
    color: #252525;
    line-height: 1.75em;
    font-size: 15px;
}

@media screen and (min-width:768px){
    .news-page__item{
        padding-bottom: 35px;
        margin-bottom: 30px;
    }
    .news-page__item__img{
       width: 30%;
    }
    .news-page__item__info{
       width: 70%;
       padding-left: 15px;
    }
    .news-page__item__title{
        font-size: 20px;
    }
    .news-page__item__date{
        margin-top: 2px;
        margin-bottom: 15px;
    }
    .news-page__item__short{
        font-size: 16px;
    }
}
@media screen and (min-width:1200px){
    .news-page__item{
        padding-bottom: 55px;
        margin-bottom: 50px;
    }
   .news-page__item__img{
      width: 30%;
   }
   .news-page__item__info{
      width: 70%;
      padding-left: 20px;
   }
   .news-page__item__title{
        font-size: 24px;
        margin-bottom: 15px;
    }
}

//****  article  *******************************************
.article{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7em;
    a{
        color: $primary-color;
        &:hover{
            color: darken($primary-color, 5%);
        }
    }
    a.btn{
        &:hover{
            color: #fff;
        }
    }
}
.article__date{
    font-size: 12px;
    color: #979d9d;
    margin-top: 15px;
    margin-bottom: 10px;
}
@media screen and (min-width:768px){
    .article{
        position: relative;
    }
    .article__date{
        margin-top: 5px;
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media screen and (min-width:992px){
    .article{
        font-size: 16px;
    }
}

//****  payment  *******************************************
a.btn-payment{
    background-color: $primary-color;
    color: #fff;
    padding-left: 40px;
    padding-right: 16px;
    @include pseudo;
    &:before{
        top: 0;
        left: 0;
        height: 100%;
        width: 30px;
        background-image: url('../img/payment-icon.png');
        background-repeat: no-repeat;
        background-position: right center;
    }
    &:hover{
        color: #fff;
        background-color: #568f13;
        -webkit-filter: drop-shadow(0 1px 4px #ccc);
        filter: drop-shadow(0 1px 4px #ccc);
    }
}

@media screen and (min-width:360px){
    a.btn-payment{
        padding-left: 55px;
        padding-right: 25px;
        &:before{
            width: 42px;
        }
    }
}

.payment-methods{
    background-color: #f4f6f6;
    font-weight: 400;
    font-size: 16px;
    // padding-top: 90px;
    // padding-bottom: 90px;
}
.payment-methods__items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 15px;
    margin-left: -5px;
    margin-right: -5px;
}
.payment-methods__item{
    padding: 0 5px 10px 5px;
    width: 50%;
    height: 80px;
    a{
        width: 100%;
        height: 100%;
        padding: 5px 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #fff;
        img{
            max-height: 100%;
        }
        &:hover{
            -webkit-filter: drop-shadow(0 1px 4px #ddd);
                    filter: drop-shadow(0 1px 4px #ddd);
        }
    }
}

.confident-payment{
  font-weight: 300;   
  line-height: 1.7em;
}

@media screen and (min-width:576px){
    .payment-methods__item{
        height: 100px;
        width: 33.3333%;
    }
}

@media screen and (min-width:768px){
    .payment-methods__items{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .payment-methods__item{
        width: 25%;
        height: 120px;
        a{
            padding: 10px 10px;
        }
    }
    .confident-payment{
        font-size: 16px;
    }
}

@media screen and (min-width:1200px){
    .payment-methods__items{
        margin-top: 45px;
        margin-bottom: 25px;
    }
    .payment-methods__item{
        height: 152px;
    }
    .confident-payment{
        padding-top: 20px;
        padding-bottom: 15px;
        line-height: 1.9em;
    }
    .confident-payment__title{
        margin-bottom: 35px;
    }
}

//**** payment item  ***************************************
.payment-article{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7em;
    h3{
        font-weight: 400;
    }
}
.payment-item__intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.payment-item__intro-text{
    min-width: 320px;
    padding: 8px 8px;
    background-color: #f4f6f6;
    font-size: 14px;
    font-weight: 400;
}
.payment-item__logo{
    margin-bottom: 10px;
    border: 1px solid #aaa;
    height: 100px;
    width: 260px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    img{
        max-width: 100%;
    }
}

.payment-item__site{
    margin-top: 15px;
    font-size: 14px;
}
.payment-item__site__val{
    font-size: 18px;
    font-weight: 400;
}

@media screen and (min-width:768px){
    .payment-item__logo{
        height: 140px;
        margin-bottom: 0;
    }
    .payment-item__intro-text{
        padding: 12px 12px;
        width: 380px;
    }
    .payment-item__site{
        margin-top: 20px;
    }
}

@media screen and (min-width:992px){
    .payment-item__intro-text{
        width: 620px;
    }
}
@media screen and (min-width:1200px){
    .payment-item__logo{
        height: 140px;
    }
    .payment-item__intro-text{
        padding: 15px 20px;
        width: 720px;
    }
    .payment-item__site{
        margin-top: 24px;
    }
}
@media screen and (min-width:1280px){
    .payment-item__intro-text{
        width: 800px;
    }
}

//**** equipment  ******************************************
.equip-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0 25px 0;
    border-bottom: 1px solid #eee;
}
.equip-item-last{
    border: none;
    padding-bottom: 0 !important;
    margin-bottom: 2rem;
}

.equip-item__img{
    width: 100%;
    margin-bottom: 15px;
    padding-top: 10px;
}

.equip-item__info{
    font-weight: 300;
}
.equip-item__title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.equip-item__desc{
    font-size: 14px;
    line-height: 1.9em;
}

.equip-item__spec{
    &__title{
        font-weight: 500;
        font-size: 1rem;
    }
    table td{
        border-top: none;
    }
}

.equip-item__price{
    font-size: 15px;
    border-radius: 6px;
    // background-color: #f4f6f6;
    padding: 15px 10px;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    // flex-wrap: wrap;
}

.equip-item__price__title{
    color: #ec6707;
    font-size: 18px;
}
.equip-tab__info{
    border-radius: 6px;
    background-color: #f4f6f6;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #979d9d;
    margin-top: 20px;
    padding: 15px 10px;
}
@media screen and (min-width:576px){
    .equip-item__price{
        font-size: 16px;
        padding: 15px 20px;
    }
}
.equip-item__price__desc{
    margin-bottom: 0;
    font-size: 12px;
    color: #979d9d;
}
.equip-item__price__val{
    font-size: 1.125rem;
    font-weight: 700;
}
.equip-item__price__buy{
    .btn{
        font-size: 14px;
        background-color: #73b129;
        color: #fff;
        &:hover{
            color: #fff;
            border-color: darken(#73b129, 5%);
            background-color: darken(#73b129, 5%);
        }
    }
}

@media screen and (min-width:768px){
    .equip-item{
        padding: 30px 0;
    }
    .equip-item__img{
        width: 35%;
    }
    .equip-item__info{
        width: 65%;
        padding-left: 15px;
    }
    // .equip-item__desc{
    //     font-size: 16px;
    // }
    .equip-item__price{
        margin-top: 25px;
    }
    .equip-item__price__buy{
        .btn{
            padding: 1.1em 3.5em;
        }
    }
}
@media screen and (min-width:1200px){
    .equip-item{
        padding: 65px 0;
    }
    .equip-item__img{
        width: 35%;
    }
    .equip-item__info{
        width: 65%;
        padding-left: 45px;
    }
    .equip-item__price{
        padding: 25px 25px;
        margin-top: 45px;
    }
    .equip-tab__info{
        margin-top: 45px;
        padding: 25px 25px;
    }
}

//****  application  ***************************************
.application{
    // padding-bottom: 0;
    .content{
        background-color: #393957;
        color: #fff;
    }
    .secondary-page__title{
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:768px){
    .application{
        .content{
            @include pseudo;
            &:before{
                top: 0;
                left: 50px;
                background-image: url('../img/callback-icon.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center bottom;
                height: 110px;
                width: 50px;
                z-index: 1;
            }
        }
        .secondary-page__title{
            font-size: 26px;
        }
    }
}
@media screen and (min-width:992px){
    .application{
        .content{
            &:before{
                left: 15%;
                height: 130px;
            }
        }
    }
}
@media screen and (min-width:1200px){
    .application{
        .content{
            &:before{
                left: 17%;
                width: 70px;
                height: 170px;
            }
            padding-top: 115px;
        }
        .secondary-page__title{
            font-size: 36px;
        }
    }
}

//****  application form  **********************************
.application__form{
    margin: 0 auto;
    max-width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    select,
    input{
        height: 38px;
    }
    select,
    input,
    textarea{
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 4px;
        border: none;
        &:focus{
            outline-color: #ec6707;
        }
    }
    input,textarea{
        padding-left: 10px;
    }
    textarea{
        padding: 15px 10px;
        line-height: 1.5em;
    }
    .input-group{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        input{
            width: 31%;
            width: calc(33% - 10px);
        }
    }
    .application__submit{
        width: 235px;
        margin: 20px auto 0 auto;
        background-color: $primary-color;
        color:  #fff;
        border-radius: 30px;
        padding: 1em 1.7em;
        height: initial;
    }
}

@media screen and (min-width:768px){
    .application__form{
        padding-top: 30px;
    }
}
@media screen and (min-width:1200px){
    .application__form{
        padding-top: 50px;
        padding-bottom: 50px;
        select,
        input{
            height: 50px;
            margin-bottom: 20px;
        }
        .application__submit{
            margin-top: 30px;
            padding: 1.125em 1.7em;
        }
    }
}

/* .squaredTwo */
.checkbox-container{
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}
.checkbox {
    width: 26px;
    height: 26px;
    position: relative;
    display: block;
    margin-top: 8px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 5px;
    background: transparent;
    border: 2px solid #fff;
    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      left: 2px;
      top: 4px;
      &:after {
        content: '';
        width: 12px;
        height: 8px;
        position: absolute;
        top: 2px;
        left: 3px;
        border: 3px solid $primary-color;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0.2;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }    
    }
  }
  
  .checkbox-label{
      width: 80%;
      width: calc(100% - 32px);
      display: block;
      padding-top: 3px;
      padding-left: 5px;
      color: #fff;
      font-weight: 300;
      line-height: 1.5em;
      font-size: 12px; 
      a{
          color: inherit;
          text-decoration: underline;
      }
  }
  @media screen and (min-width:768px){
      .checkbox-container{
          margin-top: 35px;
      }
  }
  /* end .squaredTwo */

  //****  services  ****************************************
 .card-header{
     background: transparent;
     border-bottom: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
 }
 .card-toggler{
     width: 38px;
     height: 38px;
     border-radius: 50%;
     padding: 0 0;
     text-align: center;
     line-height: 38px;
     @include pseudo;
     &:hover{
         &:before,
         &:after{
             background-color: #fff;
         }
     }
     &:before{
         top: 49%;
         top: calc(50% - 1px);
         left: 6px;
         width: 24px;
         height: 2px;
         border-radius: 2px;
         background-color: $primary-color;
     }
     &:after{
         top: 6px;
         left: 49%;
         left: calc(50% - 1px);
         height: 24px;
         width: 2px;
         border-radius: 2px;
         background-color: $primary-color;
         opacity: 0;
     }
 }
 .card-toggler.collapsed{
     &:after{
         opacity: 1;
     }
 }
 .card-header__title{
     font-size: 20px;
     font-weight: 400;
     width: calc(100% - 40px);
 }

 .card-body{
     font-weight: 300;
 }

 @media screen and (min-width:768px){
     .article .accordion.services-accordion .card{
         margin-bottom: 10px;
         border: none;
         border-radius: 4px;
         -webkit-filter: drop-shadow(0 0 8px #eee);
                 filter: drop-shadow(0 0 8px #eee);
     }
     .card-header{
         padding-left: 55px;
        @include pseudo;
        &:before{
            top: 8px;
            left: 5px;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
     }
 }

 @media screen and (min-width:992px){
     .card-header{
         padding-left: 60px;
         &:before{
             top: 16px;
             left: 8px;
         }
     }
     .card-header__title{
         font-size: 24px;
         width: initial;
     }
     .card-toggler{
         width: 50px;
         height: 50px;
         line-height: 46px;
         font-size: 38px;
         &:before{
            top: 49%;
            top: calc(50% - 2px);
            left: 10px;
            width: 28px;
            height: 4px;
         }
         &:after{
            top: 10px;
            left: 49%;
            left: calc(50% - 2px);
            height: 28px;
            width: 4px;
         }
     }
 }

 @media screen and (min-width:1200px){
     .card{
        padding-top: 30px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
     }
     .card-header{
        padding-left: 105px;
        &:before{
            top: 8px;
            width: 60px;
            height: 60px;
        }
    }
    .card-header__title{
        margin-top: 15px;
        margin-bottom: 15px;
     }
     .card-body{
         padding-left: 105px;
         padding-right: 105px;
     }
 }


#heading1{
    &:before{
        background-image: url('../img/services-toggle1.png');
    }
}
#heading2{
    &:before{
        background-image: url('../img/services-toggle2.png');
    }
}
#heading3{
    &:before{
        background-image: url('../img/services-toggle3.png');
    }
}
#heading4{
    &:before{
        background-image: url('../img/services-toggle4.png');
    }
}
#heading5{
    &:before{
        background-image: url('../img/services-toggle5.png');
    }
}
#heading6{
    &:before{
        background-image: url('../img/services-toggle6.png');
    }
}
#heading7{
    &:before{
        background-image: url('../img/services-toggle7.png');
    }
}

 

 //**** contacts  ******************************************
 .tel-container{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     .text-small{
         font-size: 0.7em;
     }
     a{
         display: block;
         margin-bottom: 15px;
         color: $black;
         font-weight: 400;
         font-size: 16px;
         i{
             margin-right: 6px;
             border-radius: 50%;
             width: 36px;
             height: 36px;
             line-height: 36px;
             text-align: center;
             color: #fff;
             background-color: #393957;
         }
     }
     .phone{
         i{
             background-color: #ec6707;
         }
     }
     .viber{
         i{
             background-color: #7f539d;
         }
     }
     .skype{
        i{
            background-color: #00b0ef;
        }
     }
     .telegram{
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
        i{
            background-color: #fff;
            color: #393957;
            font-size: 36px;
        }
     }
     .facebook{
        i{
            background-color: #3b5998;
        }
     }
 }

 .tel-group{
     width: 100%;
     a{
        margin-top: 10px;
        margin-bottom: 10px;
     }
 }
 @media screen and (min-width:576px){
     .tel-group{
         width: initial;
     }
 }

 @media screen and (min-width:768px){
     .tel-container{
         a{
             font-size: 20px;
         }
     }
 }

 @media screen and (min-width:1200px){
    .tel-container{
        a{
            font-size: 24px;
            i{
                width: 42px;
                height: 42px;
                line-height: 42px;
            }
        }
        .telegram{
            i{
                font-size: 42px;
                line-height: 42px;  
            }
        }
    }
}

//****  documentation  *************************************
.documentation{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #f4f6f6;
}
.documentation__title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.documentation__item{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-left: 46px;
    @include pseudo;
    &:before{
        top: 0;
        top: calc(50% - 20px);
        left: 0;
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    color: $black;
    font-size: 15px;
    font-weight: 300;
    &:hover{
        color: $black;
        text-decoration: underline;
    }
}

.documentation__pdf{
    &:before{
        background-image: url('../img/pdf-icon.png');
    }
}
.documentation__zip{
    &:before{
        background-image: url('../img/zip-icon.png');
    }
}

@media screen and (min-width:576px){
    .documentation__title{
        font-size: 22px;
    }
}

@media screen and (min-width:768px){
    .documentation{
        padding-top: 60px;
        padding-bottom: 55px;
    }
    .documentation__title{
        font-size: 24px;
        margin-bottom: 25px;
    }
    .documentation__item{
        margin-bottom: 20px;
    }
}

@media screen and (min-width:1200px){
    .documentation{
        padding-top: 95px;
        padding-bottom: 85px;
    }
    .documentation__title{
        margin-bottom: 60px;
    }
    .documentation__item{
        margin-bottom: 25px;
    }
}

//****  rates  *********************************************
.rates__table-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
}

.table{
    font-size: 15px;
    .table-header-orange{
        background-color: #ec6707;
        color: #fff;
        th{
            vertical-align: middle;
            font-weight: 400;
            border: none;
        }
    }
    .table-header-green{
        background-color: #73b129;
        color: #fff;
        th{
            vertical-align: middle;
            font-weight: 400;
            border: none;
        }
    }
}    

@media screen and (min-width:768px){
    .rates__table-title{
        margin-top: 30px;
        min-height: 45px;
        display: block;
    }
}

@media screen and (min-width:1200px){
    .rates__table-title{
        margin-top: 50px;
    }
    .table-header-orange,
    .table-header-green{
        th{
            padding: 1em;
        }
    }
}

//****  optical wire  **************************************
.banner-page{
    padding-top: 50px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}
.optical-in-house{
    background-color: #3a3958;
    background-image: url('../img/optical-small-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.optical__opportunities{
    margin-top: 30px;
    margin-bottom: 30px;
}

.optical__opportunities__item{
    min-height: 80px;
    margin-bottom: 25px;
    padding-left: 80px;
    @include pseudo;
    &:before{
        top: 0;
        left: 0;
        height: 46px;
        width: 70px;
        padding-top: 25px;
        padding-bottom: 60px;
        color: #e9e9e9;
        font-size: 100px;
        font-weight: 900;
        text-align: center;
        overflow: hidden;
        border-bottom: 1px solid $primary-color;
    }
}
.optical__opportunities__item1{
    &:before{
        content: '1';
    }
}
.optical__opportunities__item2{
    &:before{
        content: '2';
    }
}
.optical__opportunities__item3{
    &:before{
        content: '3';
    }
}
.optical__opportunities__item4{
    &:before{
        content: '4';
    }
}
.optical__opportunities__item5{
    &:before{
        content: '5';
    }
}


.optical__opportunities__item__title{
    font-size: 18px;
    font-weight: 500;
}
.optical__opportunities__item__desc{
    font-size: 16px;
    font-weight: 400;
}

.optical-item__price{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media screen and (min-width:576px){
    .banner-page{
        padding-bottom: 30px;
    }
    .optical__opportunities__item{
        min-height: 60px;
        margin-bottom: 35px;
        &:before{
            padding-bottom: 0;
            -webkit-transition: padding-bottom 0.3s;
            transition: padding-bottom 0.3s;

        }
        &:hover{
            &:before{
                padding-bottom: 48px;
            }
        }
    }
}
@media screen and (min-width:768px){
    .optical-in-house{
        background-image: url('../img/optical-bg.jpg');
        background-position: center center;
    }
    .optical__opportunities{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .optical__opportunities__item{
        margin-bottom: 35px;
        padding-left: 90px;
    }
    .optical-item__price{
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
}

@media screen and (min-width:1200px){
    .banner-page{
        min-height: 520px;
        padding-top: 80px;
    }
    .optical__opportunities{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .optical__opportunities__item{
        margin-bottom: 35px;
    }
}

.paginator{
    text-align: center;
    li{
        display: inline-block;
     //    margin-left: 10px;
     //    margin-right: 10px;
     }
     a{
        display: block;
        position: relative;
        font-size: 16px;
        border-radius: 50%;
        background-color: #fff;
        width: 38px;
        height: 38px;
        line-height: 38px;
        padding: 0;
        border: none;
        outline: none;
        color: $primary-color;
        cursor: pointer;
        &:hover{
            color: $black;
        }
    }
    .active{
        color: $black;
        background-color: #eeeeee;
    }
}

.home-internet__cities-links{
    border-radius: 6px;
    border: 1px solid #eee;
    padding-left: 0;
    margin-bottom: 2rem;
    @include onExtraLarge {
        margin-right: 2rem;
        margin-bottom: 3rem;
    }
    li{
        list-style: none;
        border-top: 1px solid #eee;
    }
    .first{
        border-top: none;
    }
    a{
        color: #252525;
        padding: 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            position: relative;
            left: -0.5rem;
            color: $primary-color;
            transition: left 0.2s;
        }
        &:hover{
            color: $primary-color;
            background-color: #f8f8f8;
            i{
                left: 0.5rem;
            }
        }
        @include onLarge {
            padding: 2rem 2rem; 
            font-size: 1.5rem;
        }
        @include onExtraLarge {
            padding: 2.5rem 2.5rem;
        }
    }
}


.page-application{
    background-color: #f6f6f6;
    padding-top: 4rem;
    padding-bottom: 3rem;
    @include onMedium {
        padding-top: 8rem;
    }

    &__step{
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        padding-left: 38px;
        position: relative;
        @include onExtraLarge {
            margin-right: 40px;
            margin-bottom: 2.5rem;
            padding-left: 50px;
        }
        &:before{
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            width: 30px;
            height: 30px; 
            border-radius: 50%;
            background-color: #393957;
            color: #fff;
            text-align: center;
            line-height: 30px;
            @include onExtraLarge {
                top: -5px;
                height: 36px;
                width: 36px;
                line-height: 36px;
            }
        }
        &__title{
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
        }
        &__desc{
            font-weight: 400;
        }
    }
    &__step1:before{
        content: '1';
    }
    &__step2:before{
        content: '2';
    }
    &__step3:before{
        content: '3';
    }
    &__step4:before{
        content: '4';
    }

    .application__form{
        padding-top: 0;
        select{
            background-color: #fff;
        }
        input,
        select,
        textarea{
            border: 1px solid #ddd;
        }
    }
    .application__submit{
        background-color: #ec6707;
        &:hover{
            background-color: #d35c06;
        }
        @include onMedium {
            width: 100%;
        }
    }

    &__policy{
        text-align: center;
        color: #979d9d;
        font-size: 0.875rem;
        font-weight: 400;
        a{
            color: inherit;
            text-decoration: underline;
        }
    }
}

.additional-services{
    padding-top: 1rem;
    margin-bottom: -1rem;
    @include onMedium {
        padding-top: 3rem;
        margin-bottom: -3.5rem;
    }
    &__item{
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include onExtraLarge {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        border-bottom: 1px solid #eee;
        &__header{   
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
        &__toggler{
            width: 48px;
            @include onExtraLarge {
                width: 50px;
            }
        }
        &__title{
            font-weight: 500;
            font-size: 1.125rem;
            flex-grow: 1;
        }
        &__price{
            font-size: 1.125rem;
            font-weight: 700;
            width: 100px;
            text-align: center;
            @include onExtraLarge {
                width: 140px;
            }
        }
        &__content{
            display: flex;
            @include onExtraLarge {
                margin-left: 50px;
            }
        }
        &__desc{
            font-weight: 400;
            a{
                display: inline-block;
                margin-top: 0.5rem;
            }
        }
        &__img{
            border-radius: 50%;
            min-width: 100px;
            width: 100px;
            height: 100px;
            overflow: hidden;
            @include onExtraLarge {
                min-width: 140px;
                width: 140px;
                height: 140px;
                margin-left: 2rem;
            }
            img{
                width: 100%;
            }
        }
    }
    &__item.last{
        border-bottom: none;
    }
    &__summary{
        filter: drop-shadow(0 0 5px #ddd);
        max-width: 730px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding: 2rem 1rem;
        position: relative;
        z-index: 1;
        @include onSmall {
            padding: 2rem 2rem;
        }

        @include onMedium {
            padding: 2rem 3rem;
        }

        @include onLarge {
            padding: 2.5rem 4rem 2rem 4rem;
        }

        &:before{
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-top: -30px;
            margin-left: -20px;
            width: 40px;
            height: 40px;
            background-color: #fff;
            transform: rotate(45deg);
        }

        &__header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            font-weight: 700;
            font-size: 1.125rem;
            @include onMedium {
                font-size: 1.25rem;
            }
            @include onLarge {
                font-size: 1.5rem;
            }
        }

        &__item{
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #eee;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1rem;
            font-weight: 400;
            @include onLarge {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
        &__item.first{
            border-top: none;
        }

        .val{
            min-width: 80px;
            @include onMedium {
                min-width: 130px;
            }
            @include onLarge {
                min-width: 150px;
            }
        }
    }
}

.page-loyalty{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include onLarge {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    @include onExtraLarge {
        padding-top: 5rem;
    }
    &__title{
        text-align: center;
        margin-bottom: 1rem;
    }
    .nav-pills{
        border: none;
        .nav-link{
            border: none;
            font-size: 1rem;
        }
    } 
    &__item{
        background-color: #86726b;
        display: flex;
        align-items: center;
        @include onExtraLarge {
            min-height: 185px;
            padding: 0 1rem;
        }
        &__img{
            width: 20%;
            align-self: flex-start;
        }
        &__content{
            width: 80%;
            text-align: center;
            padding: 1rem 1rem;
            font-size: 1.25rem;
            font-weight: 700;
            color: #fff;
            @include onMedium {
                padding: 1.5rem 1.5rem;
            }
            @include onLarge {
                font-size: 1.4rem;
            }
        }
    }
}

.page-equip{
    background-color: #f6f6f6;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include onExtraLarge {
        padding-top: 7em;
        padding-bottom: 6rem;
    }
    &__title{
        text-align: center;
        margin-bottom: 1.5rem;
        font-weight: 500;
        @include onLarge {
            margin-bottom: 3rem;
        }
        @include onExtraLarge {
            margin-bottom: 4rem;
        }
    }
    &__item{
        background-color: #fff;
        filter: drop-shadow(0 2px 5px #eee);
        padding: 1rem 1rem;
        margin-bottom: 1.5rem;
        @include onLarge {
            padding: 1.5rem 1.5rem;
        }
        
        display: flex;
        flex-wrap: wrap;

        &__img{
            width: 100%;
            width: 25%;
            display: flex;
            align-items: center;
            @include onSmall {
            }
            @include onMedium {
                width: 30%;
                
            }
        }
        &__content{
            width: 100%;
            width: 75%;
            padding-left: 1rem;
            @include onSmall {
                padding-left: 1.5rem;
            }
            @include onMedium {
                width: 70%;
                padding-left: 3rem;
            }
            @include onLarge {
                padding-left: 2rem;
            }
        }
        &__title{
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        &__desc{
            color: #6c7478;
            font-size: 0.85rem;
            @include onMedium {
                min-height: 100px;
            }
            @include onLarge {
                min-height: 80px;
            }
        }
        &__price{
            &__val{
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
}

.page-price{
    // overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include onLarge {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__slider{
        height: 600px;
        &__arrows{
            display: none;
            @media screen and (min-width: 1280px) {
                display: block;
                left: -10%;
                width: 120%;
            }
            position: absolute;
            top: 46%;
            top: calc(50% - 42px);
            left: 0;
            width: 100%;
            button{
                display: block;
                position: relative;
                background-color: #fefefe;
                background-color: rgba(200,200,200, 0.5);
                color: #fff;
                border: none;
                outline: none;
                border-radius: 50%;
                height: 78px;
                width: 78px;
                text-align: center;
                cursor: pointer;
                i{
                    line-height: 72px;
                    font-size: 44px;
                }
            }
            .slick-prev{
                position: absolute;
                left: 20px;
                padding-left: 4px;
            }
            .slick-next{
                position: absolute;
                right: 20px;
                padding-right: 4px;
            }
        }
    }

    &__item{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 1rem;
        filter: drop-shadow(0 0 3px #eed);
        &__header{
            background-color: #393957;
            color: #fff;
            font-size: 1.25rem;
            font-weight: 500;
            text-align: center;
            padding: 1rem 1rem;
            @include onLarge {
                padding: 2rem 2rem;
            }
        }
        &__content{
            background-color: #fff;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 0.5rem;
            @include onMedium {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            &__row{
                font-size: 0.8125rem;
                font-weight: 400;
                padding: 1rem 0;
                border-bottom: 1px solid #eee;
                display: flex;
                align-items: center;
                i{
                    margin-right: 0.5rem;
                }
            }
        }
        &__key{
            font-weight: 400;
            font-size: 0.8125rem;
            color: #6c7478;
            width: 60%;
        }
        &__val{
            font-weight: 1rem;
            padding-left: 0.5rem;
            font-weight: 500;
            width: 40%;
        }
        &__price{
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 1.125rem;
            text-align: center;
        }
        &__submit{
            margin-bottom: 1.5rem;
            display: block;
            // min-width: 180px;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            width: 210px;
            height: 50px;
            margin-left: auto;
            margin-right: auto;
            .fa{
                font-size: 1.5rem;
            }
        }
        &__additional-title{
            background-color: #ececf2;
            text-transform: uppercase;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 0.875rem;
            font-weight: 400;
            margin-top: 1rem;
            margin-left: -16px;
            margin-right: -16px;
            @include onMedium {
                margin-top: 1.5rem;
                margin-left: -24px;
                margin-right: -24px;
            }
            @include onLarge {
                margin-top: 2rem;
            }
        }
    }
}

.service-banner{
    padding: 2rem 0;
}

.hdtv-banner{
    padding: 1rem 1rem;
    background-color: #393957;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    color: #fff;
    font-weight: 400;
    @include onMedium {
        background-image: url('../img/hdtv-banner.jpg');
        padding: 1.5rem 1.5rem;
    }
    @include onLarge {
        padding: 3rem 3rem;
    }
    &__content{
        padding-left: 20px;
        @include onExtraLarge {
            padding-left: 35px;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 1.5rem;
        @include onExtraLarge {
            font-size: 2.25rem;
        }
    }
    &__subtitle{
        color: #ec6707;
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: 700;
        @include onExtraLarge {
            font-size: 1.5rem;
        }
    }
    &__desc{
        font-size: 0.8125rem;
        ul{
            padding-left: 0;
            li {
                list-style: none;
                padding-left: 20px;
                @include pseudo;
                &:before {
                    top: 0;
                    left: 0;
                    content: '•';
                    line-height: 1.3em;
                    color: #ec6707;
                }
            }
        }
    }
}

.bad-wifi{
    background-color: #f6f6f6;
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
    }
    &__img{
        @include onExtraLarge {
            padding-right: 2rem;
        }
    }
    &__title{
        font-weight: 700;
        text-align: center;
        margin-bottom: 1.5rem;
        @include onLarge {
            margin-bottom: 2rem;
        }
        @include onExtraLarge {
            margin-bottom: 3rem;
        }
    }
    &__subtitle{
        font-size: 1.25rem;
        @include onExtraLarge {
            font-size: 1.5rem;
        }
    }
    &__content{
        font-weight: 400;
    }
    ul{
        li{
            margin-bottom: 1rem;
        }
    }


}

.productivity{
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
    }
    &__title{

    }
    &__under-title{
        font-size: 1rem;
        color: #979d9d;
        @include onExtraLarge {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
    &__item{
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        &__img{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.5rem;
            border-radius: 50%;
            width: 140px;
            height: 140px;
            overflow: hidden;
            img{
                min-width: 100%;
                min-height: 100%;
            }
        }
        &__title{
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0.25rem;
        }
        &__desc{
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-weight: 400;
        }

    }
}

.service-steps{
    background-color: #f6f6f6;
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0 5rem 0;   
    }

    &__item{
        padding-top: 5px;
        padding-left: 50px;
        @include onLarge {
            padding-left: 64px;
        }
        padding-bottom: 20px;
        position: relative;
        font-weight: 400;
        font-size: 1rem;
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: '1';
            border-radius: 50%;
            display: block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            background-color: #393957;
            color: #fff;
            text-align: center;
            @include onLarge {
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 1rem;
            }
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 2px;
            left: 16px;
            height: 100%;
            height: calc(100% - 36px);
            width: 1px;
            background-color: #ccc;
            @include onLarge {
                left: 20px;
                height: calc(100% - 44px);
            }
        }
        &__title{
            font-size: 1.125rem;
            font-weight: 500;
            margin-bottom: 0.25rem;
        }
    }
    &__item-1:before{
        content: '1';
    }
    &__item-2:before{
        content: '2';
    }
    &__item-3:before{
        content: '3';
    }
    &__item-4:before{
        content: '4';
    }
    &__item-5:before{
        content: '5';
    }
    &__item.last{
        &:after{
            display: none;
        }
    }
}

.service-results{
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
    }
    &__title{

    }
    &__under-title{
        margin-bottom: 1.5rem;
        font-size: 1rem;
        color: #979d9d;
        @include onExtraLarge {
            margin-top: 1rem;
            margin-bottom: 3rem;
        }
    }

    &__item{
        padding-left: 50px;
        @include onLarge {
            padding-left: 64px;
        }
        padding-bottom: 20px;
        position: relative;
        font-weight: 400;
        font-size: 1rem;
        &:before{
            position: absolute;
            top: 5px;
            left: 0;
            content: '1';
            font-weight: 900;
            border-radius: 50%;
            display: block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            font-size: 2.5rem;
            color: #ececec;
            text-align: center;
            @include onLarge {
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 3rem;
            }
            @include onExtraLarge {
                font-size: 3.75rem;
            }
        }
        &__title{
            font-size: 1.125rem;
            font-weight: 500;
            margin-bottom: 0.25rem;
        }
    }
    &__item-1:before{
        content: '1';
    }
    &__item-2:before{
        content: '2';
    }
    &__item-3:before{
        content: '3';
    }
    &__item-4:before{
        content: '4';
    }
    &__item-5:before{
        content: '5';
    }
    &__item-6:before{
        content: '6';
    }
    &__item-7:before{
        content: '7';
    }
}

.office-speed-inet{
    background-color: #f6f6f6;
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
    }

    &__content{
        @include onExtraLarge {
            padding-left: 1rem;
        }
    }

    &__title{
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1rem;
        @include onLarge {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
    li{
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    &__img{
        padding-top: 0.5rem;
        text-align: center;
        @include onExtraLarge {
            padding-right: 1rem;
        }
    }
}

.optical-home-banner{
    &__banner{
        background-color: #fff;
        filter: drop-shadow(0 0 3px #eee);

        display: flex;

        &__label{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            background-color: #ec6707;
            padding: 1rem 1rem;
            color: #fff;

            @include onMedium {
                padding: 2rem 2rem;
                width: 30%;
                position: relative;
                &:before{
                    position: absolute;
                    top: 0;
                    left: 98%;
                    left: calc(100% - 20px);
                    content: '';
                    width: 40px;
                    height: 100%;
                    background-color: #ec6707;
                    transform: skew(-15deg);
                }
            }
        }
        &__content{
            display: flex;
            align-items: center;
            padding: 1rem 1rem;
            @include onMedium {
                padding-left: 2.5rem;
            }
        }
    }
}

.hdtv-office-info{
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/hdtv-info-bg.jpg');
    text-align: center;
}

.hdtv-home-trial{
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/hdtv-home-trial-banner.jpg');

    font-size: 1.125rem;
    color: #fff;
    font-weight: 400;
}

.hdtv-home-brochure{
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/hdtv-home-brochure.jpg');
}

.hdtv-home-opportunities{
    padding: 2rem 0;
    @include onMedium {
        padding: 3rem 0;
    }
    @include onLarge {
        padding: 5rem 0;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/hdtv-home-opportunities.jpg');

    color: #fff;
    font-weight: 400;
    font-size: 0.875rem;

    &__title{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        @include onMedium {
            font-size: 1.5rem;
        }
        @include onLarge {
            margin-top: 2rem;
            margin-bottom: 2.5rem;
            font-size: 1.75rem;
        }
        @include onExtraLarge {
            margin-top: 3rem;
        }
    }
    &__plus{
        color: $primary-color;
        position: relative;
        padding-left: 25px;
        margin-top: 1rem;
        @include onLarge {
            margin-top: 2.5rem;
        }
        margin-bottom: 1rem;
        font-size: 1rem;
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: "+";
            color: #fff;
            background-color: $primary-color;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            font-size: 18px;
            line-height: 20px;
        }
    }
    &__minus{
        color: #ed1c24;
        position: relative;
        padding-left: 25px;
        margin-top: 1rem;
        @include onLarge {
            margin-top: 2.5rem;
        }
        margin-bottom: 1rem;
        font-size: 1rem;
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: "-";
            color: #fff;
            background-color: #ed1c24;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            font-size: 18px;
            line-height: 20px;
        }
    }
    ul{
        li{
            margin-bottom: 0.25rem;
        }
    }
}

.smart-guard{
    padding: 2rem 0;
    padding-bottom: 15rem;
    @include onMedium {
        padding: 3rem 0;
        padding-bottom: 15rem;
    }
    @include onLarge {
        padding: 5rem 0;
        padding-bottom: 16rem;
    }
    @include onExtraLarge {
        padding: 7rem 0;   
        padding-bottom: 18rem;
    }
    background-color: #19181a;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/smart-guard-bg.jpg');

    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;

    &__title{
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        @include onLarge {
            font-size: 1.75rem;
            margin-bottom: 1.5rem;
        }
    }

    &__list{
        font-size: 0.875rem;
        margin-bottom: 3rem;
        li{
            list-style: none;
            text-align: left;
            padding-left: 30px;
            margin-bottom: 1rem;
            position: relative;
            &:before{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                background-image: url('../img/ajax-list.png');
                background-repeat: no-repeat;
                background-position: center center;
                width: 20px;
                height: 20px;
            }
        }
        .separator{
            color: #43ff1d;
        }
    }
}

.tab-guard{
    &__logo{
        padding-bottom: 2rem;
        @include onLarge {
            padding-bottom: 3rem;
        }
    }
    &__starter-kit{
        color: #fff;
        background-color: #19181a;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include onLarge {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        &__title{
            font-weight: 400;
            font-size: 1.5rem;
            @include onMedium {
                font-size: 2.25rem;
            }
            @include onLarge {
                font-size: 2.75rem;
            }
            @include onExtraLarge {
                font-size: 3.75rem;
            }
            .bold{
                font-weight: 700;
            }
        }
        &__subtitle{
            font-weight: 700;
            font-size: 1.25rem;
            @include onLarge {
                font-size: 1.5rem;
            }
        }
        &__green{
            color: #3ef11b;
            font-weight: 400;
            font-size: 1.125rem;
            @include onLarge {
                margin-bottom: 3rem;
            }
        }
    }
    &__ajax-hub{
        padding-top: 1rem;
        padding-bottom: 1rem;
        @include onLarge {
            padding-bottom: 3rem;
        }
    }
    &__control{
        h3{
            font-weight: 400;
        }
        font-weight: 400;
        font-size: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include onLarge {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        @include onExtraLarge {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }
        background-color: #19181a;
        color: #fff;
    }
    &__components{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url('../img/ajax-components.jpg');
        font-size: 1rem;
        font-weight: 400;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include onLarge {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        @include onExtraLarge {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        &__title{
            font-weight: 400;
        }
        &__btn{
            display: inline-block;
            border: 1px solid #252525;
            color: #252525;
            font-size: 0.875rem;
            font-weight: 500;
            border-radius: 5px;
            padding: 1rem 1.5rem;
            margin-top: 2rem;
        }
    }
    &__full-guard{
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include onLarge {
            padding-top: 5rem;
        }
        @include onExtraLarge {
            padding-top: 6rem;
            padding-bottom: 3rem;
        }
        &__title{
            font-weight: 400;
            text-align: center;
            @include onLarge {
                margin-bottom: 3rem;
            }
        }
        &__item{
            position: relative;
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include onMedium {
                min-height: 90px;
                margin-bottom: 2rem;
            }
            @include onLarge {
                min-height: 80px;
                margin-bottom: 3rem;
            }
            font-weight: 400;
            font-size: 0.875rem;
            &__title{
                font-size: 1rem;
                font-weight: 500;
            }

            padding-left: 60px;
            padding-right: 10px;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-image: url('../img/full-guard.png');
                background-repeat: no-repeat;
                display: block;
            }
        }
        &__item-1:before{
            width: 42px;
            height: 46px;
            background-position: -5px -5px;
        }
        &__item-2:before{
            width: 41px;
            height: 45px;
            background-position: -57px -5px;
        }
        &__item-3:before{
            width: 53px;
            height: 44px;
            background-position: -108px -5px;
        }
        &__item-4:before{
            width: 42px;
            height: 44px;
            background-position: -171px -5px;
        }
        &__item-5:before{
            width: 53px;
            height: 50px;
            background-position: -223px -5px;
        }
        &__item-6:before{
            width: 49px;
            height: 47px;
            background-position: -286px -5px;
        }
        &__item-7:before{
            width: 56px;
            height: 49px;
            background-position: -345px -5px;
        }
        &__item-8:before{
            width: 53px;
            height: 50px;
            background-position: -411px -5px;
        }
    }
}
