<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-5">
                            <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <div class="col-6 col-md-7">
                            <p class="header-slogan">
                                Высокоскоростной Интернет и IPTV-телевидение
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                    <div class="row no-gutters text-center">
                        <div class="col-6 col-lg-6">
                            <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                        </div>
                        <div class="col-6 col-lg-6">
                            <a href="" class="header-callback">Перезвонить мне</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="header-actions">
                        <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                        <a class="header-payment" href=""></a>
                    </div>
                </div>
                <div class="col-6 col-lg-2 text-right">
                    <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                </div>
            </div>
        </div>
    </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="secodary-page">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Equip</li>
                </ul>
            </div>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-12 article">
                    <h2 class="secondary-page__title">Оборудование</h2>

                    <!--content from visual editor-->

                    <ul class="nav nav-pills" id="equipmentTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="tab1" data-toggle="tab" href="#routers" role="tab" aria-controls="home" aria-selected="true">WI-FI-роутеры (маршрутизаторы)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="tab2" data-toggle="tab" href="#tuners" role="tab" aria-controls="profile" aria-selected="false">Цифровое телевидение HD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab3" data-toggle="tab" href="#cams" role="tab" aria-controls="profile" aria-selected="false">Комплекты видеонаблюдения</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="tab4" data-toggle="tab" href="#guards" role="tab" aria-controls="profile" aria-selected="false">Комплекты сигнализаций</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>

    <div class="tab-content" id="equipmentTabContent">
        <div class="tab-pane" id="routers" role="tabpanel" aria-labelledby="tab1">
            
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">

                        <div class="equip-item">
                            <div class="equip-item__img">
                                <img src="/img/netis.jpg" alt="">
                            </div>
                            <div class="equip-item__info">
                                <div class="equip-item__title">NETIS WF2419</div>
                                <div class="equip-item__desc">
                                    <p>Простой надежный роутер — идеальное решение для одно-двухкомнатых квартир, повседневного бытового использования — видео, соцсетей, поиска информации в интернете.</p>
                                    <p>Если вы хотите купить роутер за разумные деньги, чтобы мы его настроили и подключили, а вы потом к нему даже не подходили — это решение для вас.</p>
                                    <ul>
                                        <li>Универсальный классический дизайн, который подойдет под интерьер любой квартиры</li>
                                        <li>Стабильный сильный сигнал в любой точке квартиры, чтобы вы даже в ванной смогли с удовольствием использовать интернет</li>
                                        <li>Не зависает, работает стабильно так, что вы даже забываете, где у вас стоит роутер</li>
                                        <li>Простая конструкция, которая гарантирует надежность работы на долгие годы</li>
                                    </ul>
                                </div>
                                <div class="equip-item__spec">
                                    <p class="equip-item__spec__title">
                                        Основные технические характеристики:
                                    </p>
                                    <table class="table table-striped">
                            
                                    <tbody>
                                        <tr>

                                            <td>Скорость Wi-Fi — 300 Мбит/с</td>

                                        </tr>
                                        <tr>

                                            <td>Две внешние антенны 5 дБи</td>

                                        </tr>
                                        <tr>

                                            <td>Частота работы Wi-Fi — 2.4 ГГц</td>

                                        </tr>
                                        <tr>

                                            <td>Скорость LAN портов — 100 Мбит/с</td>

                                        </tr>
                                        <tr>

                                            <td>Поддерживаемые стандарты беспроводных сетей — 802.11b, 802.11g, 802.11n</td>

                                        </tr>
                                    </tbody>
                                    </table>


                                </div>
                                <div class="equip-item__price">
                                    <div class="equip-item__price__left">
                                        Стоимость – <span class="equip-item__price__val">650 ₴</span>
                                        <p class="equip-item__price__desc">Цена с установкой и базовой настройкой</p>
                                    </div>
                                    <div class="equip-item__price__buy">
                                        <a href="" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="equip-item">
                            <div class="equip-item__img">
                                <img src="/img/archer.jpg" alt="">
                            </div>
                            <div class="equip-item__info">
                                <div class="equip-item__title">TP-LINK ARCHER C20</div>
                                <div class="equip-item__desc">
                                        <p>Стильный мощный роутер нового поколения, который способен работать в 3 раза быстрее более дешевых роутеров и работает в двух частотах.</p>
                                        <p>Это значит, что вы сможете смотреть фильмы в высоком качестве, играть в игры и использовать телефонию на незагруженной частоте с максимальной скоростью и стабильностью соединения.</p>
                                        <ul>
                                            <li>Радиус покрытия, увеличенный до 65 м — это значит, что даже в трехкомнатной квартире или небольшом доме интернет будет идеально в каждом уголке</li>
                                            <li>Два диапазона частоты — 2.4 ГГц (как у всех обычных роутеров) и 5 ГГц, которые показывают скорость 300 Мбит/с и 433 Мбит/с соответственно, чтобы вы смогли выбирать нужную частоту под свои задачи</li>
                                            <li>Навсегда забудьте о «перегруженности» сети, сбоях в загрузке и подтормаживаниях видео - роутер работает по стандарту 802.11ac, который в 3 раза быстрее, чем предыдущий (который используют 90% роутеров на рынке)</li>
                                            <li>Идеально подходит для владельцев техники Apple — она сразу подключиться к 5 ГГц сети и будет работать на сверхвысокой скорости</li>
                                            <li>Стильный дизайн, который идеально впишется в любой современный интерьер — этот роутер вам не надо будет прятать за шкаф, он станет украшением вашей квартиры</li>
                                        </ul>
                                </div>
                                <div class="equip-item__spec">
                                    <p class="equip-item__spec__title">
                                        Основные технические характеристики:
                                    </p>
                                    <table class="table table-striped">
                            
                                    <tbody>
                                        <tr>

                                            <td>Скорость Wi-Fi — 300 Мбит/с и 433 Мбит/с</td>

                                        </tr>
                                        <tr>

                                            <td>Три внешние антенны 5 с поддержкой MU-MIMO/MIMO</td>

                                        </tr>
                                        <tr>

                                            <td>Частота работы Wi-Fi — 2.4 ГГц и 5 ГГц </td>

                                        </tr>
                                        <tr>

                                            <td>Скорость LAN портов — 100 Мбит/с</td>

                                        </tr>
                                        <tr>

                                            <td>Поддерживаемые стандарты беспроводных сетей — 802.11b, 802.11g, 802.11n, 802.11a, 802.11ac</td>

                                        </tr>
                                    </tbody>
                                    </table>


                                </div>
                                
                                <div class="equip-item__price">
                                    <div class="equip-item__price__left">
                                        Стоимость – <span class="equip-item__price__val">1700 ₴</span>
                                        <p class="equip-item__price__desc">Цена с установкой и базовой настройкой</p>
                                    </div>
                                    <div class="equip-item__price__buy">
                                        <a href="" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="equip-item">
                            <div class="equip-item__img">
                                <img src="/img/archer50.jpg" alt="">
                            </div>
                            <div class="equip-item__info">
                                <div class="equip-item__title">TP-LINK ARCHER C50 v5</div>
                                <div class="equip-item__desc">
                                    <p>TP-LINK ARCHER C50 в 3 раза быстрее более дешевых устройств N-серии благодаря поддержке стандарта 802.11ac, работает в двух частотах 2.4 ГГц и 5 ГГц и обеспечивает общую скорость интернета до 1.2 Гбит/с для комфортных звонков, просмотра видео в лучшем качестве и онлайн-игр.</p>
                                        <ul>
                                            <li>Работает в помещении с площадью до 90 кв. м, что гарантирует хороший сигнал даже в трехкомнатной квартире, двухэтажном доме, офисе</li>
                                            <li>Легко настроить и начать использовать сразу после покупки</li>
                                            <li>Работает на общепринятой частоте Wi-Fi 2.4 ГГц для комфортного просмотра веб-страниц, работы с почтой и соцсетями и на «прозрачной» частоте 5ГГц, которая обеспечивает высокую пропускную способность и скорость для HD-видео и онлайн-игр</li>
                                            <li>Можно одновременно подключать несколько устройств без потери скорости интернета</li>
                                            <li>Можно разместить на столе, полке, повесить на стену, что экономит место</li>
                                            <li>Удобно управлять со смартфона с приложением TP-LINK Tether</li>
                                            <li>Имеет функции «родительский контроль» и «гостевая сеть» для контроля использования сети пользователями</li>
                                        </ul>
                                </div>
                                <div class="equip-item__spec">
                                    <p class="equip-item__spec__title">
                                        Основные технические характеристики:
                                    </p>
                                    <table class="table table-striped">
                            
                                    <tbody>
                                        <tr>

                                            <td>Скорость Wi-Fi — 300 Мбит/с и 867 Мбит/с</td>

                                        </tr>
                                        <tr>

                                            <td>Четыре внешние фиксированные антенны </td>

                                        </tr>
                                        <tr>

                                            <td>Частота работы Wi-Fi — 2.4 ГГц и 5 ГГц</td>

                                        </tr>
                                        <tr>

                                            <td>4 порта LAN 10/100 Мбит/с</td>

                                        </tr>
                                        <tr>

                                            <td>1 порт WAN 10/100 Мбит/с</td>

                                        </tr>
                                        <tr>

                                            <td>Поддерживаемые стандарты беспроводных сетей — 802.11b, 802.11g, 802.11n, 802.11a, 802.11ac</td>

                                        </tr>
                                    </tbody>
                                    </table>


                                </div>
                                
                                <div class="equip-item__price">
                                    <div class="equip-item__price__left">
                                        Стоимость – <span class="equip-item__price__val">1300 ₴</span>
                                        <p class="equip-item__price__desc">Цена с установкой и базовой настройкой</p>
                                    </div>
                                    <div class="equip-item__price__buy">
                                        <a href="" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="equip-item equip-item-last">
                            <div class="equip-item__img">
                                <img src="/img/archer-adapter.jpg" alt="">
                            </div>
                            <div class="equip-item__info">
                                <div class="equip-item__title">TP-LINK ARCHER C50 v5</div>
                                <div class="equip-item__desc">
                                        <p>Устройство обеспечивает бесперебойное питание Wi-Fi роутеров, модемов, ONU, NAS и защищает их от перенапряжения, короткого замыкания, разряда аккумулятора, перегрузки по выходу.</p>
                                        <p>Это значит, что вы сможете пользоваться интернетом и не потеряете данные даже при сбоях в электрической сети. 
                                                Мы гарантируем бесперебойную работу вашего Wi-Fi роутера – до 10 часов.</p>
                                        <ul>
                                            <li>Компактный размер 130x65x40 мм, благодаря чему устройство удобно размещается и не занимает много места</li>
                                            <li>Качество и стабильность работы, долговечность</li>
                                            <li>Способен работать при температуре от -20°C до +65°C и влажности до 90%</li>
                                            <li>Металлический корпус, обеспечивающий надежную защиту устройства от повреждений</li>
                                            <li>Рассчитан на подключение внешнего свинцово-кислотного аккумулятора емкостью до 20 Ач, что обеспечит длительную работу устройства при сбоях в электросети</li>
                                        </ul>
                                </div>

                                <div class="equip-item__spec">
                                    <p class="equip-item__spec__title">
                                        Основные технические характеристики:
                                    </p>
                                    <table class="table table-striped">
                            
                                    <tbody>
                                        <tr>

                                            <td>Питание от розетки 110/220 В</td>

                                        </tr>
                                        <tr>

                                            <td>Резерв питания – до 10 часов</td>

                                        </tr>
                                        <tr>

                                            <td>Мощность на выходе – 60 Вт</td>

                                        </tr>
                                        <tr>

                                            <td>Эффективность при питании от сети – 86%, от батареи – 95%</td>

                                        </tr>
                                        <tr>

                                            <td>Выход на устройство – 13.8V, 4A max</td>

                                        </tr>
                                       
                                    </tbody>
                                    </table>


                                </div>


                                <div class="equip-item__price">
                                    <div class="equip-item__price__left">
                                        Стоимость – <span class="equip-item__price__val">1300 ₴</span>
                                        <p class="equip-item__price__desc">Цена с установкой и базовой настройкой</p>
                                    </div>
                                    <div class="equip-item__price__buy">
                                        <a href="" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
        <div class="tab-pane active" id="tuners" role="tabpanel" aria-labelledby="tab2">

            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        
                        <div class="equip-item">
                            <div class="equip-item__img">
                                <img src="/img/netis.jpg" alt="">
                            </div>
                            <div class="equip-item__info">
                                <div class="equip-item__title">Универсальный медиаплеер SweetTV</div>
                                <div class="equip-item__desc">
                                    <p>Этот доступный по цене и простой в использовании медиаплеер превратит любой телевизор в «умный», благодаря тому, что у него есть доступ в Интернет! Вы сможете смотреть Youtube, Twitch.tv, проверять погоду, слушать музыку и радио, даже открывать любимые сайты (в том числе и с видео) на вашем телевизоре. И это далеко не все функции и преимущества SweetTV.</p>
                                    <ul>
                                        <li>До 200 каналов ТВ - вы всегда найдете, что посмотреть и будете в курсе всех новостей, спортивных событий, сериалов и шоу.</li>
                                        <li>Функция записи и перемотки эфира TimeShift позволит вам не зависеть от программы передач, рекламы и спокойно отвлекаться на свои дела - ведь вы легко сможете пересмотреть любой момент фильма или передачи.</li>
                                        <li>Подключение по WI-FI-модулю - вам не надо будет тянуть кабель, чтобы подключить медиаплеер к домашней сети, что значит вы не испортите интерьер и устройство будет смотреться аккуратно.</li>
                                        <li>USB разъем для флешки и возможность передавать файлы по WiFi с помощью функции DLNA и samba - так что вы сможете смотреть фото и любые другие фильмы и другие файлы на телевизоре.</li>
                                        <li>Удобный интерфейс, в котором разберется даже ребенок или ваша бабушка, а вы сможете пользоваться им не перегружая мозг и действительно отдыхать, используя телевизор.</li>
                                        <li>Доступ к кинозалу в 10 000 фильмов, чтобы за несколько кликов пересмотреть  любимый фильм, классику кино, которую вы давно откладывали или новинку, которая у всех на слуху.</li>
                                        <li>Удобный пульт, которым легко будет легко пользоваться с первой минуты после покупки, а после вы даже в темноте нащупаете нужные кнопки и функции.</li>
                                    </ul>
                                </div>
                                <div class="equip-item__spec">
                                    <p class="equip-item__spec__title">
                                        Основные технические характеристики:
                                    </p>
                                    <table class="table table-striped">
                            
                                    <tbody>
                                        <tr>
                                            <td>Размеры: 126*81*23мм</td>
                                        </tr>
                                        <tr>
                                            <td>Материал корпуса: пластик</td>
                                        </tr>
                                        <tr>
                                            <td>Проводной LAN разъем</td>
                                        </tr>
                                        <tr>
                                            <td>Встроенный Wi-Fi модуль 2,4 GHz</td>
                                        </tr>
                                        <tr>
                                            <td>Потребление 10Вт</td>
                                        </tr>
                                        <tr>
                                            <td>Потребление в режиме ожидания: 0,5Вт</td>
                                        </tr>
                                        <tr>
                                            <td>Блок питания 5В, 2А</td>
                                        </tr>
                                        <tr>
                                            <td>Радиопульт</td>
                                        </tr>
                                        <tr>
                                            <td>USB 2.0 порт - 1шт.</td>
                                        </tr>
                                        <tr>
                                            <td>HDMI выход - 1 шт.</td>
                                        </tr>
                                    </tbody>
                                    </table>


                                </div>
                                <div class="equip-item__price">
                                    <div class="equip-item__price__left">
                                        Стоимость – <span class="equip-item__price__val">1960 ₴</span>
                                        <p class="equip-item__price__desc">*Цена с установкой и базовой настройкой медиаплеера</p>
                                    </div>
                                    <div class="equip-item__price__buy">
                                        <a href="" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="equip-item last">
                            <div class="equip-item__img">
                                <img src="/img/netis.jpg" alt="">
                            </div>
                            <div class="equip-item__info">
                                <div class="equip-item__title">Медиаплеер Vinga 011 (VMP-011-81)</div>
                                <div class="equip-item__desc">
                                    <p>Хотите смотреть видео в сверх-высоком качестве 4К? Тогда выберите этот стильный надежный медиаплеер с четырехъядерным процессором. Он превратит ваш телевизор в умное устройство, работающее на операционной системе Android и обеспечит доступ к десяткам полезных функций.</p>
                                    <ul>
                                        <li>Стильный корпус с поверхностью в виде трехмерной призмы, часть граней которой глянцевые, что сделает его оригинальным дополнением к интерьеру</li>
                                        <li>Компактные размеры (8,5*8,5*2 см) медиаплеера сделают его незаметным и позволят легко разместить его в любом уголке комнаты.</li>
                                        <li>Производительный 4-ядерный процессор с видеоускорителем Mali-400MP2 и 1 Гб встроенной памяти обеспечит качественное воспроизведение 4K видео.</li>
                                        <li>Встроенный кардридер для TF-карт и 2 USB разъема (один из них высокоскоростной USB 2.0), что позволит быстро подключить флешки, внешние.
                                                жесткие диски и смотреть с них 4к видео без надоедливых подтормаживаний.</li>
                                        <li>Полностью переработанная система электропитания, которая обеспечит стабильную работу медиаплеера.</li>
                                        <li>Поддержка всех существующих стандартов беспроводной связи: 2.4/5G, Wi-Fi 802.11 b/g/n, Bluetooth 4.0 для быстрой передачи даже очень больших объемов информации за считанные секунды.</li>
                                        <li>Android Lollipop 5.1.1, который сделает доступ к медиаконтенту простым и удобным, без задержек, багов и лагов.</li>
                                        <li>Дополнительные установки, чтобы вы смогли приступить к просмотру сразу после включения. Вы получете «из коробки»:</li>
                                        <li>Поддерживает установку приложений и игр из Play Market, так что вы сможете играть в любимые телефонные игрушки на большом экране.</li>
                                        <li>Простой и удобный пульт ДУ, который помогает управлять всеми функциями несколькими нажатиями кнопок.</li>
                                        
                                    </ul>
                                </div>
                                <div class="equip-item__spec">
                                    <p class="equip-item__spec__title">
                                        Основные технические характеристики:
                                    </p>
                                    <table class="table table-striped">
                            
                                    <tbody>
                                        <tr>
                                            <td>Тип: стационарный</td>
                                        </tr>
                                        <tr>
                                            <td>Процессор: RK3229 Cortex-A7MP</td>
                                        </tr>
                                        <tr>
                                            <td>Графический процессор: Penta-core ARM Mali-400MP2</td>
                                        </tr>
                                        <tr>
                                            <td>Количество ядер: 4</td>
                                        </tr>
                                        <tr>
                                            <td>Тактовая частота процессора: 1500 МГц</td>
                                        </tr>
                                        <tr>
                                            <td>Объем установленной оперативной памяти: 1GB DDR3</td>
                                        </tr>
                                        <tr>
                                            <td>FLASH-память: 8GB</td>
                                        </tr>
                                        <tr>
                                            <td>Операционная система: Android 5.1</td>
                                        </tr>
                                        <tr>
                                            <td>Разрешение видео: Ultra HD 4K</td>
                                        </tr>
                                        <tr>
                                            <td>Поддержка видео форматов: MKV,WMV, VOB, TS, RMVB, ASF, AVI, DAT, FLV, RM, MPG, MPEG, MOV, ISO.</td>
                                        </tr>
                                        <tr>
                                            <td>Поддержка форматов изображений: PNG, BMP, GIF, JPEG, TIFF</td>
                                        </tr>
                                        <tr>
                                            <td>Поддержка звуковых форматов: WMA, WAV, TrueHD, AAC, MP3, FLAC, DTS, OGG, DDP, APE, AC3</td>
                                        </tr>
                                        <tr>
                                            <td>Поддержка форматов субтитров: IDX+USB, SRT, SSA, SUB, SMI</td>
                                        </tr>
                                        <tr>
                                            <td>Поддерживаемые файловые системы: FAT32, NTFS, FAT16</td>
                                        </tr>
                                        <tr>
                                            <td>Поддерживаемые интерфейсы: 1 х USB 2.0, RJ45 (LAN), AV, HDMI 2.0a, 1 OTG USB 2.0</td>
                                        </tr>
                                        <tr>
                                            <td>Встроенный кардридер: micro SD</td>
                                        </tr>
                                        <tr>
                                            <td>Беспроводные подключения: Bluetooth 4.0, 802.11 b/g/n, 2.4/5GHz WiFi</td>
                                        </tr>
                                        <tr>
                                            <td>Дополнительные функции: Miracast</td>
                                        </tr>
                                        <tr>
                                            <td>Пульт ДУ: есть</td>
                                        </tr>
                                        <tr>
                                            <td>Питание: 5V/3A</td>
                                        </tr>
                                        <tr>
                                            <td>Индикация режима работы: синий</td>
                                        </tr>
                                        <tr>
                                            <td>Индикация режима ожидания: красный</td>
                                        </tr>
                                    </tbody>
                                    </table>


                                </div>
                                <div class="equip-item__price">
                                    <div class="equip-item__price__left">
                                        Стоимость – <span class="equip-item__price__val">1300 ₴</span>
                                        <p class="equip-item__price__desc">*Цена с установкой и базовой настройкой медиаплеера</p>
                                    </div>
                                    <div class="equip-item__price__buy">
                                        <a href="" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        
        </div>
        <div class="tab-pane " id="cams" role="tabpanel" aria-labelledby="tab3">
         three
        </div>
        <div class="tab-pane" id="guards" role="tabpanel" aria-labelledby="tab4">
         


            <section class="tab-guard__logo text-center">
                <img src="/img/ajax-logo.png" alt="">
            </section>

            <section class="tab-guard__starter-kit">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 offset-lg-3 text-center">
                            <h2 class="tab-guard__starter-kit__title"><span class="bold">AJAX</span> StarterKit</h2>
                            <p class="tab-guard__starter-kit__subtitle">Комплекты беспроводной
                                    GSM сигнализации</p>
                            <p class="tab-guard__starter-kit__green">надежная защита | управление со смартфона</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1 text-center">
                            <img src="/img/ajax-starter-kit.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="tab-guard__ajax-hub">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1 text-center">
                            <img src="/img/ajax-hub.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="tab-guard__control">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-7 offset-lg-1">
                            <h3>Без проводов и без слабых мест</h3>
                            <p>Беспроводная сигнализация Ajax для самостоятельной установки за 15 минут
                                    в квартире, доме или офисе.</p>
                                    <br>
                            <h3>Простое управление сложной системой</h3>
                            <p>Легко настройте и удобно контролируйте свою систему безопасности AJAX
                                    через бесплатное приложение для смартфона (iOS | Android)</p>
                        </div>
                        <div class="col-12 col-lg-3 text-center">
                            <img src="/img/ajax-control.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="tab-guard__components">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8 offset-lg-1">
                            <h2 class="tab-guard__components__title">Мощные компоненты в изящном корпусе</h2>
                            <br>
                            <p>Сверхтехнологичная централь – Ajax Hub связывает все устройства между собой на расстоянии до 2000 метров и отвечает за связь с внешним миром через сеть Интернет или резервный GSM-канал</p>
                            <br>
                            <p>Система работает по протоколу Jeweller и имеет анти-саботажные функции, что делает Ajax StarterKit, а значит и охраняемое пространство, неприступным и ультразащищенным.</p>
                            <a href="" class="tab-guard__components__btn">Что в комплекте?</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tab-guard__full-guard"> 
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                            <h2 class="tab-guard__full-guard__title">Полная защита против
                                злоумышленников и сбоев</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                            <div class="tab-guard__full-guard__item tab-guard__full-guard__item-1">
                                <div class="tab-guard__full-guard__item__title">Отключение света</div>
                                Система продолжит работу от резервного аккумулятора
                            </div>
                            <div class="tab-guard__full-guard__item tab-guard__full-guard__item-2">
                                <div class="tab-guard__full-guard__item__title">Вышел из строя датчик</div>
                                Благодаря частым пингам, об этом сразу станет известно
                            </div>
                            <div class="tab-guard__full-guard__item tab-guard__full-guard__item-3">
                                <div class="tab-guard__full-guard__item__title">Глушение радиоканала</div>
                                Датчики выберут чистую частоту
                            </div>
                            <div class="tab-guard__full-guard__item tab-guard__full-guard__item-4">
                                <div class="tab-guard__full-guard__item__title">Сканирование протоколов</div>
                                Не получится, все данные зашифрованы
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5">
                            <div class="tab-guard__full-guard__item tab-guard__full-guard__item-5">
                                <div class="tab-guard__full-guard__item__title">Поломка роутера или сбой у провайдера</div>
                                Сигнал тревоги пройдет по резервному GSM каналу связи
                            </div>
                            <div class="tab-guard__full-guard__item tab-guard__full-guard__item-6">
                                <div class="tab-guard__full-guard__item__title">Вторжение</div>
                                Датчики движения с технологией FirstStepDetection
                                зафиксируют злоумышленника
                            </div>
                            <div class="tab-guard__full-guard__item tab-guard__full-guard__item-7">
                                <div class="tab-guard__full-guard__item__title">Пропала связь хаба с сервером</div>
                                Мы узнаем об этом мгновенно
                            </div>
                            <div class="tab-guard__full-guard__item tab-guard__full-guard__item-8">
                                <div class="tab-guard__full-guard__item__title">Физический взлом датчиков</div>
                                Сработают сенсоры вскрытия
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="smart-guard">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                            <div class="smart-guard__title">Умная защита</div>
                            <p>В комплект Ajax StarterKit входит все необходимое
                                для обеспечения эффективной защиты помещения.</p>
                                <br>
        
                            <p>Датчик Ajax DoorProtect контролирует двери,
                                а чувствительный датчик движения Ajax MotionProtect – активность внутри.</p>
                                <br>
        
                            <p>
                                Постановка и снятие с охраны системы безопасности
                                выполняется через приложение для смартфона
                                или с помощью брелока Ajax SpaceControl
                            </p>
                            <br>
        
                            <div class="smart-guard__title">Контролируйте всё!</div>
                            <p>В экосистему AJAX входят датчики нескольких типов,
                                а также дополнительные устройства, которыми по желанию
                                можно дополнить комплект StarterKit</p>
        
                            <ul class="smart-guard__list">
                                <li>датчики движения <span class="separator">|</span> открытия <span class="separator">|</span> разбития <span class="separator">|</span> комбинированные</li>
                                <li>детекторы затопления <span class="separator">|</span> дыма</li>
                                <li>сирена</li>
                                <li>модули интеграции с другими охранными сигнализациями <span class="separator">|</span> smart home системами</li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        
                        </div>
                    </div>
                </div>
            </section>


            
        </div>

    </div>


    <section class="callback-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="callback-block__container security text-white">
                        <h2 href="" class="callback-block__title">Рассчитать стоимость под ваш объект</h2>
                        <p class="callback-block__slogan">Обращайтесь для заказа услуги с гарантией качества — ответим на все вопросы, проконсультируем и поможем сделать оптимальный выбор.</p>

                        <div class="callback-block__form">
                            <form action="">
                                <input type="text" name="" id="" required placeholder="ФИО*">
                                <input type="tel" name="" id="" required placeholder="Телефон*">
                                
                                <div class="callback-block__policy">
                                        Нажимая на кнопку, вы принимаете наше 
                                         <a href="">Соглашение о сборе данных</a>
                                </div>
                                <button class="btn btn-invert" type="submit" value="Отправить заявку">Отправить заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="callback-block__toggler"> <i class="fa fa-chevron-down"></i> </button>
    </section>
    

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    