<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <!-- <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div> -->
                <div class="col-11 offset-1 col-sm-11 offset-sm-1 col-lg-10 offset-lg-2">
                    <ul class="main-menu__list">
                        <li><a href="">Домашний интернет</a></li>
                        <li><a href="">Интернет в частный дом</a></li>
                        <li><a href="">Офисный интернет</a></li>
                    </ul>
                    <ul class="main-menu-block">
                            <li><a href="">Дополнительные услуги</a></li>
                            <li><a href="">Цифровое телевидение HD</a></li>
                            <li><a href="">Умный дом</a></li>
                            <li><a href="">Оборудование</a></li>
                            <li><a href="">Абоненту</a></li>
                            <li><a href="">Акции</a></li>
                            <li><a href="">Новости</a></li>
                            <li><a href="">О компании</a></li>
                            <li><a href="">Контакты</a></li> 
                    </ul>
                    <!-- <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="banner-breadcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner-page" style="background-image: url('/img/banner-hdtv-home.jpg')">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-5">
                    
                    <br>
                        <div class="offers-slide__title text-white">
                                <span style="font-size: 1.125em">
                                    Цифровое
                                    телевидение HD
                                    от Аpelsin.Net
                                </span>
                        </div>
                        <div style="font-weight: 400; font-size: 1.125rem">
                           <br>
                           <br>
                           <p class=" text-white" style="font-weight: 400">
                            За несколько кликов получите доступ к <span style="color: #ec6707; font-weight: 600">185 каналам</span> ТВ
                            и  <span style="color: #ec6707; font-weight: 600">10 000 фильмам</span>, превратив телевизор в главный
                            центр развлечений в доме + смотрите ТВ на планшете,
                            компьютере, смартфоне
                           </p>
                            <br>
                        
                            <br>
                           <br>
                        </div>
                        <!-- <a href="" class="btn btn-invert">Получить консультацию</a> -->
                        <br>
                </div>
            </div>
        </div>
    </section>


    <section class="productivity">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="productivity__title">
                        Откройте для себя возможности
                        телевидения нового поколения и сделайте
                        свою жизнь проще и приятнее 
                    </h2>
                    <br>
                    <!-- <p class="productivity__under-title">Важность внедрения  IP TV сложно переоценить</p> -->

                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-1.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Кинозал на 10 000
                            фильмов
                        </div>
                        <div class="productivity__item__desc">
                            Смотрите классические шедевры кинематографа и горячие новинки, не выходя из дома 
                        </div>
                       
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-2.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Запись эфира
                            за последние 48 часов 
                        </div>
                        <div class="productivity__item__desc">
                            Не смогли посмотреть любимую передачу? Смотрите ее в записи в любое удобное время
                        </div>
                    
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-3.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Одной кнопкой
                            ставьте эфир на паузу
                        </div>
                        <div class="productivity__item__desc">
                            Если вам нужно куда-то отойти — просто поставьте эфир на паузу и уходите спокойно, вы сможете пересмотреть передачу в записи
                        </div>
                       
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-4.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            До 30 каналов
                            в HD-качестве 
                        </div>
                        <div class="productivity__item__desc">
                            Увидите каждую деталь любимых фильмов и передач и переживёте уникальный опыт «погружения» в происходящее (даже если у вас не самый дорогой телевизор)
                        </div>
                      
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-5.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Подключение
                            до 4 телевизоров
                        </div>
                        <div class="productivity__item__desc">
                            На кухне, в спальне, в гостинной — в каждой комнате у вас будет доступ к вашим любимым каналам в высоком качестве
                        </div>
                       
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-6.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Родительский
                            контроль
                        </div>
                        <div class="productivity__item__desc">
                            Заблокируйте каналы, которые еще рано смотреть детям и оставляйте их наедине с телевизором спокойно
                        </div>
                
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-7.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Подключение к «умным»
                            телевизорам без приставки
                        </div>
                        <div class="productivity__item__desc">
                            Просто установите приложение, подключите за 2 секунды и наслаждайтесь всеми преимуществами умного телевидения
                        </div>
                
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-8.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Подключение к обычным
                            ТВ с приставкой 
                        </div>
                        <div class="productivity__item__desc">
                            Если у вас обычный телевизор — вы легко превратите его в «умный», подключив к ней специальную приставку (кликайте, чтобы узнать как получить ее бесплатно)
                        </div>
                
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-home-9.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Минимум проводов,
                            чтобы сделать квартиру уютной 
                        </div>
                        <div class="productivity__item__desc">
                            ТВ-приставка подключается по Wi-Fi, поэтому она будет практически незаметной и не создаст за телевизором клубок проводов
                        </div>
                
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="hdtv-home-opportunities">
        <div class="container">
            <div class="row">
                <div class="text-white text-center col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                    <h2>Сейчас цифровое телевиденье —
                    это лучшая из альтернатив на рынке </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="hdtv-home-opportunities__title">
                        Аналоговое ТВ
                    </div>

                    <p>Не будем рассматривать, так как по
                            законодательству Украины с 1 июля 2018 года аналоговое ТВ будет поэтапно отключаться </p>

                </div>

                <div class="col-12 col-lg-4">
                    <div class="hdtv-home-opportunities__title">
                        Спутниковое ТВ
                    </div>
                    <div class="hdtv-home-opportunities__plus">
                        плюсы
                    </div>
                    <ul>
                        <li>Высокое качество изображения и звука</li>
                        <li>Огромное количество каналов</li>
                        <li>Оплата один раз за установку спутника</li>
                    
                    </ul>

                    <div class="hdtv-home-opportunities__minus">
                        минусы
                    </div>
                    <ul>
                        <li>Дорогая и сложная установка борудования</li>
                        <li>На качество сигнала влияет погода</li>
                        <li>Необходимо периодически
                            перенастраивать ресивер</li>
                        <li>многие каналы на иностранных языках</li>
                    </ul>


                </div>

                <div class="col-12 col-lg-4">
                    <div class="hdtv-home-opportunities__title">
                        Цифровое ТВ
                    </div>
                    <div class="hdtv-home-opportunities__plus">
                        плюсы
                    </div>
                    <ul>
                        <li>Высокое качество изображения и звука</li>
                        <li>Огромное количество каналов</li>
                        <li>Возможность записи передач</li>
                        <li>Простая и быстрая установка</li>
                        <li>Оборудование и система ТВ
                            элементарная в обслуживании</li>
                        <li>Лучшая подборка из 185 каналов ТВ:
                            30 фильмовых, 24 премиальных,
                            11 детских и другие</li>
                        <li>Кинозал 10 000 фильмов</li>
                        <li>Архив передач</li>
                        <li>Управление просмотром
                            (запись, перемотка, постановка на паузу)</li>
                        <li>Прогноз погоды, курс валюты,
                            социальные сети</li>
                    </ul>

                    <div class="hdtv-home-opportunities__minus">
                        минусы
                    </div>
                    <ul>
                        <li> Абонентская плата <br>
                            (в Аpelsin.Net самая низкая на рынке)</li>
                    </ul>

                </div>

            </div>
        </div>
    </section>

    <section class="hdtv-home-brochure">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h3>Смотрите любимые каналы и передачи
                            в высоком качестве так, как вам удобно,
                            используя любое устройство, которое
                            есть под рукой </h3>
                        <br>
                    <p>Это удобно благодаря приложениям на ANDROID телефоне и планшете, благодаря простому в установке и использовании приложению!</p>
                    <p>Теперь вы сможете начать просмотр любимой передачи или фильма в дороге на смартфоне, затем продолжить смотреть на домашнем телевизоре с удобством.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="page-price">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
                    <h2 class="text-center">Выбирайте свой тариф
                            цифрового телевидения Apelsin.net</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    
                    <div class="row no-gutters">

                        <div class="col-12 col-lg-4">
                            <div class="page-price__item page-price__slide ">
                                <div class="page-price__item__header">
                                        Базовый
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Количество каналов
                                        </div>
                                        <div class="page-price__item__val">
                                            101  
                                        </div>

                                    </div>
                                    

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Количество HD каналов
                                        </div>
                                        <div class="page-price__item__val">
                                            –
                                        </div>

                                    </div>
            
    
                                    <div class="page-price__item__price">0 ₴/мес.</div>
    
                                    <a href="" class="btn mx-auto page-price__item__submit">Посмотреть список каналов</a>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div class="page-price__item page-price__slide ">
                                <div class="page-price__item__header">
                                        Премиальный
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Количество каналов
                                        </div>
                                        <div class="page-price__item__val">
                                            165  
                                        </div>

                                    </div>
                                    

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Количество HD каналов
                                        </div>
                                        <div class="page-price__item__val">
                                            23
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Услуга <span class="text-success">«Кинозал»</span>
                                        </div>
                                        <div class="page-price__item__val">
                                                <div class="page-price__item__toggler">
                                                        <label class="switch switch-horizontal">
                                                            <input type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                </div>
                                        </div>

                                    </div>
            
    
                                    <div class="page-price__item__price">79 ₴/мес.</div>
    
                                    <a href="" class="btn mx-auto page-price__item__submit">Посмотреть список каналов</a>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div class="page-price__item page-price__slide ">
                                <div class="page-price__item__header">
                                        HD премиальный плюс 
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Количество каналов
                                        </div>
                                        <div class="page-price__item__val">
                                            185  
                                        </div>

                                    </div>
                                    

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Количество HD каналов
                                        </div>
                                        <div class="page-price__item__val">
                                            30
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Услуга <span class="text-success">«Кинозал»</span>
                                        </div>
                                        <div class="page-price__item__val">
                                                <div class="page-price__item__toggler">
                                                        <label class="switch switch-horizontal">
                                                            <input type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                </div>
                                        </div>

                                    </div>
            
    
                                    <div class="page-price__item__price">112 ₴/мес.</div>
    
                                    <a href="" class="btn mx-auto page-price__item__submit">Посмотреть список каналов</a>

                                </div>
                            </div>

                            <p style="font-size: 0.875em; font-weight: 400; text-align: center">Оплатите 1 год тарифа «HD премиальный плюс»
                                    и получите приставку <span class="text-success" style="font-weight: 500; font-size: 1rem">Sweet.tv</span> в подарок! </p>
                        </div>

                    </div>

                </div>
            </div>
           
        </div>
    </section>

    <section class="hdtv-home-trial">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <p>
                            Подключайтесь сейчас и получите <span style="font-weight: 600; color: #dfc565">30 дней</span><br>
                            тарифа «HD премиальный плюс» <span style="font-weight: 600; color: #dfc565">в подарок!</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="callback-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="callback-block__container hdtv text-white">
                        <h2 href="" class="callback-block__title">Подключиться сейчас</h2>
                        <p class="callback-block__slogan">Оцените 185 каналов цифрового телевидения <br>
                            и 30 каналов в HD-качестве!</p>

                        <div class="callback-block__form">
                            <form action="">
                                <input type="text" name="" id="" required placeholder="ФИО*">
                                <input type="tel" name="" id="" required placeholder="Телефон*">
                                
                                <div class="callback-block__policy">
                                        Нажимая на кнопку, вы принимаете наше 
                                         <a href="">Соглашение о сборе данных</a>
                                </div>
                                <button class="btn btn-invert" type="submit" value="Отправить заявку">Отправить заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="callback-block__toggler"> <i class="fa fa-chevron-down"></i> </button>
    </section>


    <section class="page-equip">
        <div class="container">
            <h3 class="page-equip__title">Медиаплееры</h3>

            <div class="row">

                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/hd-sweet.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">HD медиаплеер Sweet</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Разрешение 1920x1080P </li>
                                    <li>2-х ядерный процессор</li>
                                    <li>1 Гб оперативной</li>
                                    <li>Встроенный Wi-Fi модуль 2,4 GHz</li>
                                    <li>Интерактивное ТВ</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">950 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/uhd-vinga.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">4K UHD медиаплеер Vinga</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Разрешение 4K 4096x2160p</li>
                                    <li>4-ох ядерный процессор</li>
                                    <li>8 Гб встроенной памяти</li>
                                    <li>1 Гб оперативной</li>
                                    <li>Android 5.1</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">1399 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    