<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <!-- <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div> -->
                <div class="col-11 offset-1 col-sm-11 offset-sm-1 col-lg-10 offset-lg-2">
                    <ul class="main-menu__list">
                        <li><a href="">Домашний интернет</a></li>
                        <li><a href="">Интернет в частный дом</a></li>
                        <li><a href="">Офисный интернет</a></li>
                    </ul>
                    <ul class="main-menu-block">
                            <li><a href="">Дополнительные услуги</a></li>
                            <li><a href="">Цифровое телевидение HD</a></li>
                            <li><a href="">Умный дом</a></li>
                            <li><a href="">Оборудование</a></li>
                            <li><a href="">Абоненту</a></li>
                            <li><a href="">Акции</a></li>
                            <li><a href="">Новости</a></li>
                            <li><a href="">О компании</a></li>
                            <li><a href="">Контакты</a></li> 
                    </ul>
                    <!-- <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="banner-breadcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner-page" style="background-image: url('/img/optical-bg.jpg')">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-7">
                    
                    <br>
                        <div class="offers-slide__title text-white">
                                <span style="font-size: 0.835em">
                                        Оптика в квартиру — 1Гбит
                                </span>
                        </div>
                        <div style="font-weight: 400; font-size: 1.125rem">
                           <br>
                           
                            <ul class="dotted text-white">
                               <li>Ультрабыстрая скорость интернет</li>
                               <li>Впечатляющая бесперебойность сигнала до 99,9%</li>
                               <li>Работа из дома с высокой защитой передачи данных</li>
                           </ul>
                           <br>
                        </div>
                        <a href="" class="btn btn-invert">Получить консультацию</a>
                        <br>
                </div>
            </div>
        </div>
    </section>

    <section class="bad-wifi">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                        <h2 class="bad-wifi__title">
                                Позвольте себе больше
с оптической технологией FTTH
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1"> 
                        <p style="font-size: 1rem; font-weight: 400;">Информация в современном мире является самым ценным ресурсом. Не вовремя полученные или отправленные данные могут стоить больших финансовых потерь. Например, сбой в сети интернет для фрилансера грозит потерей заказчика. На настройку сети, тестирование и устранение неполадок у провайдера уходит масса времени, что отражается на сервисе.</p>
                        <p style="font-size: 1rem; font-weight: 400;">Прогрессивная квартира имеет не менее 11 приборов передачи информации. Их обслуживают различные подразделения, номера которых у хозяев должны быть под рукой. Поток данных идет по нескольким проводам, загромождающим пространство.</p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 col-xl-4 offset-xl-1">
                        <div class="bad-wifi__img">
                            <img src="/img/optical-house1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="bad-wifi__content">
                            <h3 class="bad-wifi__subtitle">Старое оборудование не соответствует актуальным стандартам, ограничивая пользователя в числе:</h3> 
                            <br>
                            <ul class="dotted">
                               <li>работает на удаленной основе;</li>
                               <li>решает важные вопросы из дома;</li>
                               <li>использует много гаджетов и приборов коммуникации;</li>
                               <li>постоянно в сети;</li>
                               <li>качает и загружает в сеть много видео-контента;</li>
                               <li>играет в онлайн-игры;</li>
                               <li>заботится о безопасности квартиры и семьи.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <br>
                        <br>
                        <p style="font-size: 1rem; font-weight: 400;">Стандарт FTTH позволяет обеспечить квартиру заказчика высокоскоростным интернетом и телевидением с возможностью просмотра фильмов в высоком качестве. Клиент Apelsin.Net получает стабильное, многоканальное подключение без лишних затрат на оборудование и обслуживание.</p>
                        
                    </div>
                </div>
            </div>
        </section>


    <section class="productivity">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="productivity__title">
                            Решение для всех,
                            комфорт для каждого
                    </h2>
                    <p class="productivity__under-title">Все наши клиенты постепенно переходят на такой вид оптики. Первыми внедрили инновацию те, кто:</p>

                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-office-1.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Эксклюзивная услуга
                        </div>
                        <div class="productivity__item__desc">
                                Подводим оптоволоконный кабель непосредственно в квартиру
                        </div>
                       
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-office-2.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Повышенная стабильность
                        </div>
                        <div class="productivity__item__desc">
                                Одновременное подключение большого числа устройств не влияет на заявленную скорость загрузки и выгрузки данных
                        </div>
                    
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-office-3.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Расширенные возможности
                        </div>
                        <div class="productivity__item__desc">
                                Можно играть в самые современные игры и одновременно смотреть или качать UHDTV-видео, музыку в высоком качестве
                        </div>
                       
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-office-4.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Непрерывный сигнал
                        </div>
                        <div class="productivity__item__desc">
                                Гроза, непогода и работа оборудования не приводят к помехам и сбою сигнала
                        </div>
                      
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-office-5.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Независимость от других пользователей
                        </div>
                        <div class="productivity__item__desc">
                                Возможность использования на максимальной скорости для всех подключенных абонентов
                        </div>
                       
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-office-6.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Постоянная доступность услуги
                        </div>
                        <div class="productivity__item__desc">
                                Отключение электроэнергии не повлияет на наличие соединения с всемирной сетью
                        </div>
                
                    </div>
                </div>


            </div>
        </div>
    </section>


    <div class="service-results">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="service-results__title">Лидируем на рынке
                            минимум по 5 позициям</h2>
                    <p class="service-results__under-title">Преимущества выбора для повышенного комфорта</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="service-results__item service-results__item-1">
                        <div class="service-results__item__title">
                                Интернет на скорости света
                        </div>
                        <p>Самый быстрый безлимитный интернет</p>
                    </div>

                    <div class="service-results__item service-results__item-2">
                        <div class="service-results__item__title">
                                Надежная сеть
                        </div>
                        <p>Домашний интернет без перебоев и обрывов. Мы моментально реагируем на помехи и аварии</p>
                    </div>

                    <div class="service-results__item service-results__item-3">
                        <div class="service-results__item__title">
                                Играй в новейшие онлайн-игры
                        </div>
                        <p>Минимальное время отклика сети гарантирует доли секунд преимущества</p>
                    </div>

                    <div class="service-results__item service-results__item-4">
                        <div class="service-results__item__title">
                                Смотрите телевидене HD-качества
                        </div>
                        <p>Более 100 цифровых каналов бесплатно для всех абонентов сети</p>
                    </div>

                    <div class="service-results__item service-results__item-5">
                        <div class="service-results__item__title">
                                Настройка без труда для вас
                        </div>
                        <p>Мы не оставим вас наедине со сложными техническими вопросами.
                                Наши специалисты погрузятся в вашу проблему и предложат оптимальное решение для начала работы.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <section class="page-price">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
                        <h2 class="text-center">Варианты взаимодействия
                                в формате B2B</h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                       
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-4">
                                <div class="page-price__item page-price__slide ">
                                    <div class="page-price__item__header">
                                        Демонстрационный
                                    </div>
                                    <div class="page-price__item__content">
        
                                        <div class="page-price__item__content__row">
                                               <i class="fa fa-check text-success"></i> Подключение одной видеокамеры
                                            <!-- <div class="page-price__item__key">Скорость доступа
                                                    к зарубежному сегменту</div>
                                            <div class="page-price__item__val">
                                                    250 Мбит
                                            </div> -->
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Доступ одному пользователю
                                                к собственной камере
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Одна бесплатная ссылка
                                        </div>
    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   10 уведомлений детектора движений
                                        </div>
    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   2 Гб дискового пространства
                                        </div>
    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Запись по требованию
                                        </div>
    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Запись по расписанию
                                        </div>
                                        
                                       
        
                                        <div class="page-price__item__price">7 дней бесплатно</div>
        
                                        <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="page-price__item page-price__slide">
                                    <div class="page-price__item__header">
                                        Персональный
                                    </div>
                                    <div class="page-price__item__content">
        
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Подключение одной видеокамеры
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Доступ 3 пользователям
                                                к собственным камерам
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Одна временная ссылка
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   50 уведомлений детектора движений
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   2 Гб дискового пространства
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Запись по требованию
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Запись по расписанию
                                        </div>
        
                                        <div class="page-price__item__price">2.63 ₴/день <span style="font-weight: 400">78.85 ₴/мес.</span></div>
        
                                        <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="page-price__item page-price__slide">
                                    <div class="page-price__item__header">
                                        Укомплектованный
                                    </div>
                                    <div class="page-price__item__content">
        
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Скорость доступа
                                                    к зарубежному сегменту</div>
                                            <div class="page-price__item__val">
                                                    250 Мбит
                                            </div>
                                        </div>
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Скорость доступа
                                                    к украинскому сегменту</div>
                                            <div class="page-price__item__val">
                                                    до 1000 Мбит
                                            </div>
                                        </div>
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Телевидение IPTV</div>
                                            <div class="page-price__item__val">
                                                    101 канал
                                            </div>
                                        </div>
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Внешний IP <a href="" class="info-dropdown"></a></div>
                                            <div class="page-price__item__val">
                                                    <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Акци <a href="" class="info-dropdown"></a></div>
                                            <div class="page-price__item__val">
                                                    <i class="fa fa-check"></i>
                                            </div>
                                        </div>
        
                                        <div class="page-price__item__price">3169.20 ₴</div>
        
                                        <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <br>
                        <p style="font-weight: 400; font-size: 1rem">Доверьте оптимизацию и безопасность вашего бизнеса профессионалам с 7-летним опытом работы. Звоните нам или приезжайте в офис для знакомства.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="optical-home-banner">
            <div class="container">
                <h2 class="text-center">Услуга, которая стоит потраченных денег</h2>

                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="optical-home-banner__banner">
                            <div class="optical-home-banner__banner__label">
                                    Гарантируем
                                    скорость интернета
                                    или вернем деньги!
                            </div>
                            <div class="optical-home-banner__banner__content">
                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="row">
                                            <div class="col-12 col-sm-8">Стоимость подключения оптическим
                                                    кабелем на скорости 1 Гбит/с составляет:</div>
                                            <div class="col-12 col-sm-4">1155 ₴</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <a href="" class="btn btn-invert">Подключить тариф</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p style="font-weight: 400; font-size: 1rem">Будьте всегда на связи, используя самые передовые технологии по приемлемым ценам. <br>
                        Ждем вашего обращения для развернутой консультации и согласования графика работ.</p>
            </div>
        </section>

        <section class="callback-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="callback-block__container text-white">
                            <h2 href="" class="callback-block__title">Заявка на подключение</h2>
                            <p class="callback-block__slogan">Обратитесь к нам сейчас для бесплатной консультации
                                    инженера с 6-летним стажем</p>
    
                            <div class="callback-block__form">
                                <form action="">
                                    <input type="text" name="" id="" required placeholder="ФИО*">
                                    <input type="tel" name="" id="" required placeholder="Телефон*">
                                    <textarea name="" id="" cols="30" rows="3">Комментарий</textarea>
                                    <div class="callback-block__policy">
                                            Нажимая на кнопку, вы принимаете наше 
                                            Соглашение о сборе данных
                                    </div>
                                    <button class="btn btn-invert" type="submit" value="Отправить заявку">Отправить заявку</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <button class="callback-block__toggler"> <i class="fa fa-chevron-down"></i> </button>
        </section>
    

    <section class="page-equip">
        <div class="container">
            <h3 class="page-equip__title">WI-FI-роутеры (маршрутизаторы)</h3>

            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    