<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-5">
                            <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <div class="col-6 col-md-7">
                            <p class="header-slogan">
                                Высокоскоростной Интернет и IPTV-телевидение
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                    <div class="row no-gutters text-center">
                        <div class="col-6 col-lg-6">
                            <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                        </div>
                        <div class="col-6 col-lg-6">
                            <a href="" class="header-callback">Перезвонить мне</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="header-actions">
                        <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                        <a class="header-payment" href=""></a>
                    </div>
                </div>
                <div class="col-6 col-lg-2 text-right">
                    <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                </div>
            </div>
        </div>
    </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="secodary-page">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Additional services</li>
                </ul>
            </div>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-12 article">
                    <h2 class="secondary-page__title">Дополнительные услуги</h2>
                 
                    <div class="accordion services-accordion" id="servicesAccordion">

                        <div class="card">
                            <div class="card-header" id="heading1">
                                <h4 class="card-header__title">
                                    Вызов мастера
                                </h4>
                                <button class="btn  card-toggler" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                                    
                                </button>
                            </div>

                            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#servicesAccordion">
                                <div class="card-body">
                                    <p>
                                        Неполадки с подключением? Сбились настройки Wi-Fi роутера, и вы не знаете, как их восстановить? Компьютер «нахватался» вирусов или начал жутко тормозить? Просто вызовите нашего специалиста, и он избавит вас от любой проблемы с компьютером или доступом к сети интернет.
                                    </p>
                                    <p>
                                        Настройка оборудования абонента или ремонт линии внутри квартиры абонента, происходит по предварительной заявке по телефону <strong>38 067 1111 008.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2">
                                <h4 class="card-header__title">
                                    Статический IP-адрес
                                </h4>
                                <button class="btn card-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne"></button>
                            </div>

                            <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#servicesAccordion">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading3">
                                <h4 class="card-header__title">
                                    Услуга «Пауза»
                                </h4>
                                <button class="btn  card-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne"></button>
                            </div>

                            <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#servicesAccordion">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" id="heading4">
                                <h4 class="card-header__title">
                                    СМС-информирование
                                </h4>
                                <button class="btn  card-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne"></button>
                            </div>

                            <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#servicesAccordion">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading5">
                                <h4 class="card-header__title">
                                    Услуга «Доверительный платеж»
                                </h4>
                                <button class="btn  card-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne"></button>
                            </div>

                            <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#servicesAccordion">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading6">
                                <h4 class="card-header__title">
                                    Умный дом
                                </h4>
                                <button class="btn  card-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapseOne"></button>
                            </div>

                            <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#servicesAccordion">
                                <div class="card-body">
                                    <h5>Оптика в квартиру</h5>
                                    <p>
                                        Испытайте все преимущества ультрабыстрого интернет-подключения нового поколения по оптическому волокну в квартиру. «Апельсин.Net» использует технологию FTTH (Fiber To The Home — «Оптика в дом»). Высококачественный оптический кабель подводится непосредственно в квартиру. Это позволяет обеспечить каждому абоненту стабильный доступ к сети интернет на максимальной скорости до 1 Гбит в секунду.
                                    </p>
                                    <br>
                                    <p>
                                        Поскольку квартира подключена отдельным оптическим кабелем, то прекращение подачи электроэнергии (или другие проблемы) не повлияют на доступность сети.
                                    </p>
                                    
                                    <a href="" class="btn">Подробнее <i class="fa fa-arrow-right"></i></a>
                                    <br>
                                    <br>
                                    <hr>
                                    <br>
                                    <h5>Охранная сигнализация</h5>
                                    <p>
                                        Все абоненты «Апельсин.Net» могут воспользоваться услугами охранной сигнализации на выгодных условиях. Для обеспечения полной безопасности, сохранности имущества, защиты от взлома и проникновения в ваше жилье, мы разработали передовую систему мгновенного приема и обработки сигналов тревоги.
                                    </p>
                                    <br>
                                    <p>
                                        «Апельсин.Net» - партнер компании «КС Прогрес». Благодаря четкой и слаженной работе, вместе мы гарантируем минимально возможное время прибытия и высокий профессионализм специальных групп быстрого реагирования. Инновационные технологии, опыт сотрудников более 16 лет, проверенные оптимальные решения – это залог вашей надежной круглосуточной защиты.
                                    </p>
                                    
                                    <a href="" class="btn">Подробнее <i class="fa fa-arrow-right"></i></a>
                                    <br>
                                    <br>
                                    <hr>
                                    <br>
                                    <h5>Видеонаблюдение через интернет</h5>
                                    <p>
                                            Комплексная система охраны
                                            и контроля вашего бизнеса.
                                            Подключим видеонаблюдение, позволяющее вести удаленный контроль за вашим домом или офисом из любой точки мира при помощи web, ip или аналоговой камеры.
                                    </p>
                                    <p>
                                        С видеонаблюдением от Apelsin.Net возможно:
                                    </p>
                                    <ul>
                                        <li>Просматривать online-трансляцию с камер на любом устройстве</li>
                                        <li>Пересматривать сохраненные записи с камер наблюдения</li>
                                        <li>Производить видеонаблюдение сразу нескольких объектов в едином окне</li>
                                        <li>Настраивать и получать любые уведомления о происходящем в подконтрольной зоне</li>
                                        <li>Производить видео-аналитику по выставленным вами параметрам</li>
                                        <li>Будьте в курсе всех вечеринок, даже если вас не пригласили. Жмите, чтобы узнать подробнее!</li>
                                    </ul>
                                    
                                    <a href="" class="btn">Подробнее <i class="fa fa-arrow-right"></i></a>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading7">
                                <h4 class="card-header__title">
                                    Строительство локальных сетей и их обслуживание
                                </h4>
                                <button class="btn  card-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapseOne"></button>
                            </div>

                            <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#servicesAccordion">
                                <div class="card-body">
                                   
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <a href="">
        <section class="callback-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="callback-block__container text-white">
                            <h2 href="" class="callback-block__title">Заявка на подключение</h2>
                            <p class="callback-block__slogan">Станьте счастливым абонентом лучшего провайдера в Вашем регионе!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </a>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/blazy.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    