<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-5">
                            <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <div class="col-6 col-md-7">
                            <p class="header-slogan">
                                Высокоскоростной Интернет и IPTV-телевидение
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                    <div class="row no-gutters text-center">
                        <div class="col-6 col-lg-6">
                            <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                        </div>
                        <div class="col-6 col-lg-6">
                            <a href="" class="header-callback">Перезвонить мне</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="header-actions">
                        <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                        <a class="header-payment" href=""></a>
                    </div>
                </div>
                <div class="col-6 col-lg-2 text-right">
                    <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                </div>
            </div>
        </div>
    </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="secodary-page application">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Application</li>
                </ul>
            </div>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-12 article">
                    <h2 class="secondary-page__title">Заявка на подключение</h2>
                    <span class="h2-after">Заполните форму ниже, наш специалист перезвонит вам
                            и оформит заявку на подключение к сети Интернет</span>
                    <form class="application__form" action="">
                        <input type="text" name="" id="" placeholder="ФИО*">
                        <input type="email" name="" id="" placeholder="E-mail*">
                        <input type="tel" name="" id="" placeholder="Телефон*">
                        <select name="" id="">
                            <option value="">Населенный пункт</option>
                            <option value="">Гора</option>
                        </select>
                        <input type="text" name="" id="" placeholder="Улица">
                        <div class="input-group">
                            <input type="text" name="" id="" placeholder="Дом">
                            <input type="text" name="" id="" placeholder="Этаж">
                            <input type="text" name="" id="" placeholder="Квартира">
                        </div>
                        <textarea name="" id="" cols="30" rows="3">Дополнительная информация</textarea>

                        <div class="checkbox-container">
                            <div class="checkbox">
                                <input type="checkbox" value="None" id="squaredTwo" name="check">
                                <label for="squaredTwo"></label>
                            </div>
                            <div class="checkbox-label">
                                    Даю согласие на обработку моих персональных данных
                                    согласно условиям <a href="">Политики конфиденциальности</a>.
                            </div>
                        </div>
                        <input class="btn application__submit" type="submit" value="Отправить заявку">
                    </form>

                    
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    