<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-3 col-xl-4">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-5">
                            <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-7">
                            <p class="header-slogan">
                                Высокоскоростной Интернет и IPTV-телевидение
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-5 col-xl-4 order-md-2 order-lg-1">
                    <div class="row no-gutters text-center">
                        <div class="col-6 col-lg-6">
                            <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                        </div>
                        <div class="col-6 col-lg-6">
                            <a href="" class="header-callback">Перезвонить мне</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2 order-lg-2">
                    <div class="header-actions">
                        <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                        <a class="header-payment" href=""></a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 text-right order-md-3">
                    <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                </div>
            </div>
        </div>
    </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="secodary-page">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">About</li>
                </ul>
            </div>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-12 article">
                    <h2 class="secondary-page__title">О компании</h2>
                    
                    <div class="row">
                        <div class="col-12 text-center">
                            
                            <a href="" class="about__video-link"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="col-12 text-center">
                            <h3>Apelsin.net</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 font-weight-light">
                            <br>
                          
                            <p>
                                Миссия компани — предоставлять высокоскоростной интернет, экономить время и улучшать жизнь наших клиентов. Делать это дешевле и лучше благодаря клиентоориентированности и услуг высочайшего качества изо дня в день.
        Мы стремимся сделать интернет-технологии более доступными и повсеместными.
                            </p>
                            <br>
                            <p>
                                Интернет помогает нам учиться новому и делиться знаниями друг с другом. Для многих из нас он стал важнейшей частью повседневной жизни. Однако в далеком 2001 году у большинства жителей Киевской области все еще не было доступа в Интернет. Apelsin.Net — это была домашняя сеть, цель которой — обеспечить доступ к преимуществам Интернета тем людям, которые были их лишены.
                            </p>
                            <br>
                            <p>
                                Apelsin.Net делает интернет ближе к людям в каждом доме. Мы стремимся сделать интернет-технологии более доступными и повсеместными.
                            </p>
                            <br>
                            <p>
                                Благодаря нашим усилиям возможности Интернета открыли для себя более десяти тысяч человек.
                            </p>
                            

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="documentation">
        <div class="container">
            <div class="documentation__title">Документация</div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-lg-1 offset-xl-2">
                    <a href="" class="documentation__item documentation__pdf">Политика Конфиденциальности</a>
                    <br>
                    <a href="" class="documentation__item documentation__pdf">Правила предоставления и получения
                            телекоммуникационных услуг</a>
                    <br>
                    <a href="" class="documentation__item documentation__pdf">Публичный договор оферты №1</a>
                    <br>
                    <a href="" class="documentation__item documentation__pdf">Публичный договор оферты №2</a>
                </div>  
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <a href="" class="documentation__item documentation__pdf">Публичная оферта ТВ</a>
                    <br>
                    <a href="" class="documentation__item documentation__pdf">Отчет о структуре собственности</a>
                    <br>
                    <a href="" class="documentation__item documentation__pdf">Отчет оператора телекоммуникаций
                            о качестве телекоммуникационных услуг</a>
                    <br>
                    <a href="" class="documentation__item documentation__zip">Отчет о структуре собственности</a>
                </div>   
            </div>
        </div>
    </section>

    <a href="">
        <section class="callback-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="callback-block__container text-white">
                            <h2 href="" class="callback-block__title">Заявка на подключение</h2>
                            <p class="callback-block__slogan">Станьте счастливым абонентом лучшего провайдера в Вашем регионе!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </a>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    