<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-5">
                            <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <div class="col-6 col-md-7">
                            <p class="header-slogan">
                                Высокоскоростной Интернет и IPTV-телевидение
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                    <div class="row no-gutters text-center">
                        <div class="col-6 col-lg-6">
                            <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                        </div>
                        <div class="col-6 col-lg-6">
                            <a href="" class="header-callback">Перезвонить мне</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2">
                    <div class="header-actions">
                        <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                        <a class="header-payment" href=""></a>
                    </div>
                </div>
                <div class="col-6 col-lg-2 text-right">
                    <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                </div>
            </div>
        </div>
    </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="secodary-page">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Equip</li>
                </ul>
            </div>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-12 article">
                    <h2 class="secondary-page__title">Оборудование</h2>

                    <!--content from visual editor-->

                    <ul class="nav nav-pills" id="equipmentTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#routers" role="tab" aria-controls="home" aria-selected="true">WI-FI-роутеры (маршрутизаторы)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tuners" role="tab" aria-controls="profile" aria-selected="false">Цифровое телевидение HD</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="equipmentTabContent">
                        <div class="tab-pane fade show active" id="routers" role="tabpanel" aria-labelledby="home-tab">
                            <div class="equip-item">
                                <div class="equip-item__img">
                                    <img src="/img/netis.jpg" alt="">
                                </div>
                                <div class="equip-item__info">
                                    <div class="equip-item__title">NETIS WF2419</div>
                                    <div class="equip-item__desc">
                                        С его помощью можно подключаться к сети Интернет как через кабель, так и через Wi-Fi. Скорость передачи данных — до 300 Мбит за секунду, что позволяет быстро скачивать большие файлы всего за несколько минут. Также, есть возможность создать защищенную сеть и настроить режимы для увеличения функций.
                                    </div>
                                    <div class="equip-item__price">
                                        <div class="equip-item__price__left">
                                            Стоимость – <span class="equip-item__price__val">1000 ₴</span>
                                            <p class="equip-item__price__desc">Цена с установкой и базовой настройкой</p>
                                        </div>
                                        <div class="equip-item__price__buy">
                                            <a href="" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="equip-item">
                                <div class="equip-item__img">
                                    <img src="/img/archer.jpg" alt="">
                                </div>
                                <div class="equip-item__info">
                                    <div class="equip-item__title">TP-LINK ARCHER C2</div>
                                    <div class="equip-item__desc">
                                            Обеспечивает высокую скорость соединения — 733 Мбит/с и имеет гигабитные порты, с помощью которых, можно создать сверхскоростную сеть. Устройство может работать в двух частотных диапазонах, благодаря чему обеспечивается высокое качество передачи сигнала. Через порты USB можно подключать телевизор, планшет, телефон и прочие девайсы, для совместного доступа к файлам.
                                    </div>
                                    <div class="equip-item__price">
                                        <div class="equip-item__price__left">
                                            Стоимость – <span class="equip-item__price__val">1000 ₴</span>
                                            <p class="equip-item__price__desc">Цена с установкой и базовой настройкой</p>
                                        </div>
                                        <div class="equip-item__price__buy">
                                            <a href="" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="equip-item equip-item-last">
                                <div class="equip-item__img">
                                    <img src="/img/archer2.jpg" alt="">
                                </div>
                                <div class="equip-item__info">
                                    <div class="equip-item__title">TP-LINK ARCHER C20</div>
                                    <div class="equip-item__desc">
                                            Позволяет работать в двух режимах (5 и 2.4 ГГц), а еще дает возможность подключать устройства через USB-кабель. Внешние антенны обеспечивают надежный и стабильный прием сигнала.
                                    </div>
                                    <div class="equip-item__price">
                                        <div class="equip-item__price__left">
                                            Стоимость – <span class="equip-item__price__val">1000 ₴</span>
                                            <p class="equip-item__price__desc">Цена с установкой и базовой настройкой</p>
                                        </div>
                                        <div class="equip-item__price__buy">
                                            <a href="" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tuners" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="equip-item">
                                <div class="equip-item__img">
                                    <img src="/img/aura.jpg" alt="">
                                    <div class="text-center">
                                        <a href="" class="about__video-link"><i class="fa fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="equip-item__info">
                                    <div class="equip-item__title">TУниверсальный сетевой медиаплеер
                                            AURA HD PLUS / AURA HD PLUS Wi-Fi</div>
                                    <div class="equip-item__desc">
                                            Устройство, которое позволяет отображать мультимедиа-контент из интернета и от цифровых носителей на экране телевизора. Более 130 каналов интернет-телевидения от производителя медиаплеера.
                                    </div>
                                    <div class="equip-item__price">
                                        <div class="equip-item__price__left">
                                                AURA HD PLUS <span class="equip-item__price__val">1960 ₴</span><br>
                                                AURA HD PLUS c Wi-Fi модулем <span class="equip-item__price__val">2210 ₴</span>
                                            <p class="equip-item__price__desc">* Цена с установкой и базовой настройкой медиаплеера</p>
                                        </div>
                                        <div class="equip-item__price__buy">
                                            <a href="" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="equip-item equip-item-last">
                                <div class="equip-item__img">
                                    <img src="/img/trinity.jpg" alt="">
                                    <div class="text-center">
                                        <a href="" class="about__video-link"><i class="fa fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="equip-item__info">
                                    <div class="equip-item__title">TRINITY-TV</div>
                                    <div class="equip-item__desc">
                                        Если Ваш телевизор не имеет функцию СМАРТ — не беда! Сервис TRINITY-TV может работать где угодно! С помощью мультимедийной приставки Вы можете превратить любой телевизор в самое современное устройство. Процесс этого превращения не сложный - выберите приставку, которую Вы имеете в наличии и следуйте инструкциям! Если у Вас нет приставки — Вы можете приобрести ее у нас. 
                                    </div>
                                    <div class="equip-item__price">
                                        <div class="equip-item__price__left">
                                            Trinity-TV – <span class="equip-item__price__val">940 ₴</span>
                                            <p class="equip-item__price__desc">* Цена с установкой и базовой настройкой медиаплеера</p>
                                        </div>
                                        <div class="equip-item__price__buy">
                                            <a href="" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="equip-tab__info">
                                    Если какой-то канал Free TV (Онлайн TV) не работает – значит, его источник в cети Интернет перегружен. Попробуйте снова через некоторое время. Компания Apelsin.Net не несет ответственности за трансляцию каналов и их качество.
                            </div>
    
                        </div>
                    </div>
                    

                    
                </div>
            </div>
        </div>
    </section>

    <a href="">
        <section class="callback-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="callback-block__container text-white">
                            <h2 href="" class="callback-block__title">Заявка на подключение</h2>
                            <p class="callback-block__slogan">Станьте счастливым абонентом лучшего провайдера в Вашем регионе!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </a>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    