<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <!-- <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div> -->
                <div class="col-11 offset-1 col-sm-11 offset-sm-1 col-lg-10 offset-lg-2">
                    <ul class="main-menu__list">
                        <li><a href="">Домашний интернет</a></li>
                        <li><a href="">Интернет в частный дом</a></li>
                        <li><a href="">Офисный интернет</a></li>
                    </ul>
                    <ul class="main-menu-block">
                            <li><a href="">Дополнительные услуги</a></li>
                            <li><a href="">Цифровое телевидение HD</a></li>
                            <li><a href="">Умный дом</a></li>
                            <li><a href="">Оборудование</a></li>
                            <li><a href="">Абоненту</a></li>
                            <li><a href="">Акции</a></li>
                            <li><a href="">Новости</a></li>
                            <li><a href="">О компании</a></li>
                            <li><a href="">Контакты</a></li> 
                    </ul>
                    <!-- <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="banner-breadcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner-page" style="background-image: url('/img/banner-hdtv-office.jpg')">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-7">
                    
                    <br>
                        <div class="offers-slide__title text-white">
                                <span style="font-size: 0.835em">
                                    IP TV для бизнеса —
                                    предоставляем больше
                                    возможностей 
                                </span>
                        </div>
                        <div style="font-weight: 400; font-size: 1.125rem">
                           <br>
                           
                            <ul class="dotted text-white">
                               <li>Повышение лояльности клиентов и сотрудников</li>
                               <li>Удобное управление</li>
                               <li>Широкие возможности</li>
                           </ul>
                           <br>
                        </div>
                        <a href="" class="btn btn-invert">Получить консультацию</a>
                        <br>
                </div>
            </div>
        </div>
    </section>

    <section class="bad-wifi">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                    <h2 class="bad-wifi__title">
                        Новый уровень бизнеса
                        с инновационными решениями от Apelsin.Net
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1"> 
                    <p style="font-size: 1rem; font-weight: 400;">Чем крупнее бизнес, тем сложнее эффективно контролировать текущие процессы.
                            Специалисты Apelsin.Net предлагают решить не только вопрос удаленного контроля, но и разобраться с проблемами:</p>
                            <br>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 col-xl-4 offset-xl-1">
                    <div class="bad-wifi__img">
                        <img src="/img/hdtv-office1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="bad-wifi__content">
                        <h3 class="bad-wifi__subtitle">Теперь все будет по-другому </h3>
                        <p>
                            Привлечение и удержание клиентов на фоне растущей конкуренции — одна из ведущих проблем большого и малого бизнеса. Кафе, ресторан, детская игровая зона или медицинское заведение должны запасть в душу комфортом для максимального возврата и настройки «сарафанного радио».  Именно такой эффект дает установка IP TV.
                        </p>
                        <p>                    
                            Телевидение, работающее по интернет-протоколу, предоставляет широкие возможности:
                        </p>
                        <ul class="dotted">
                            <li>временная блокировка каналов;</li>
                            <li>запись важных моментов;</li>
                            <li>приостановка видео и т. д.</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="hdtv-office-info">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <p style="color: #fff; font-weight: 400; font-size: 1rem">
                        Наша компания установит под ключ с последующим обслуживанием. Снимаем с клиента заботу о сбоях, помехах, плохом качестве изображения и звука. Один тариф предусматривает полную комплектацию и настройку системы с подключением до 3-х экранов. Простой и интуитивно понятный интерфейс позволяет быстро разобраться в управлении, гарантируя удобство эксплуатации. Ваше заведение будет еще более востребованным и популярным за счет внедрения инновационных решений.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="productivity">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="productivity__title">
                        Широкий список сфер использования
                    </h2>
                    <p class="productivity__under-title">Важность внедрения  IP TV сложно переоценить</p>

                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-office-1.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Рестораны и бары
                        </div>
                        <div class="productivity__item__desc">
                            Прямая трансляция матча, fashion-показа или просто приятный фильм привлекут заинтересованных клиентов. Фоновые клипы или кулинарные передачи повысят позитивный настрой и улучшатаппетит посетителей.
                        </div>
                       
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-office-2.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Офисы и бизнес-центры
                        </div>
                        <div class="productivity__item__desc">
                            Информационные каналы держат работников в курсе международных и региональных событий.Развлекательные шоу позволят сотрудникам расслабиться в перерыв, повысят качество труда.
                        </div>
                    
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-office-3.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Отели и гостиницы
                        </div>
                        <div class="productivity__item__desc">
                            Благодаря хорошему фильму или долгожданной трансляции постояльцы дольше задержатся в номере, это способствует повышению лояльности и росту среднего чека. 
                        </div>
                       
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-office-4.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Детские развлекательные заведения
                        </div>
                        <div class="productivity__item__desc">
                            Трансляция любимых мультиков помогает малышу чувствовать себя как дома, спокойно играя. Блокировка взрослых каналов исключит казусы и поспособствует повышениюдоверия родительской аудитории.
                        </div>
                      
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-office-5.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Салоны красоты
                        </div>
                        <div class="productivity__item__desc">
                            Просмотр фильмов, музыкальных роликов, показов во время процедур  создает комфортные условия для посетителей
                        </div>
                       
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hdtv-office-6.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            Фитнес клубы
                        </div>
                        <div class="productivity__item__desc">
                            Покажите спортивные соревнования для поддержания атмосферы спортивного духа ваших клиентов
                        </div>
                
                    </div>
                </div>


            </div>
        </div>
    </section>


    <div class="service-results">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1 text-center">
                    <h2 class="service-results__title">Каждый 3-й бизнес Украины
                        уже использует IP-телевидение, и вот почему</h2>
                    <p class="service-results__under-title">5 составляющих положительной динамики бизнеса</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="service-results__item service-results__item-1">
                        <div class="service-results__item__title">
                            Разнообразие
                        </div>
                        <p>100+ каналов от детских до узкоспециализированных</p>
                    </div>

                    <div class="service-results__item service-results__item-2">
                        <div class="service-results__item__title">
                            Качественная картинка и звук
                        </div>
                        <p>Время задержки у IP меньше, чем у спутникового TV, что гарантирует воспроизведение в высоком разрешении</p>
                    </div>

                    <div class="service-results__item service-results__item-3">
                        <div class="service-results__item__title">
                            Более 6 возможностей управления. 
                        </div>
                        <p>Можно воспользоваться телепрограммой, установить запись, заблокировать работу некоторых каналов и т. д. </p>
                    </div>

                    <div class="service-results__item service-results__item-4">
                        <div class="service-results__item__title">
                            Просмотр на разных устройствах
                        </div>
                        <p>Для подключения к TV подойдет телефон, планшет, компьютер или телевизор</p>
                    </div>

                    <div class="service-results__item service-results__item-5">
                        <div class="service-results__item__title">
                            Простота управления
                        </div>
                        <p>В понятном интерфейсе разберется любой человек</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <section class="page-price">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
                    <h2 class="text-center">Тарифные планы,
                        оправдывающие свою стоимость</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-4">
                            <div class="page-price__item page-price__slide ">
                                <div class="page-price__item__header">
                                        Стартовый SMART
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                            Телеканалы
                                        </div>
                                        <div class="page-price__item__val">
                                            76  
                                        </div>

                                    </div>
                                    

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                            Видеотека 
                                        </div>
                                        <div class="page-price__item__val">
                                            50 фильмов/мес. 
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Кинозалы OLL.TV 
                                        </div>
                                        <div class="page-price__item__val">
                                                1 день/мес.   
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Футбол
                                        </div>
                                        <div class="page-price__item__val">
                                                –
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Музыка
                                        </div>
                                        <div class="page-price__item__val">
                                                30 дней 
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Радио 
                                        </div>
                                        <div class="page-price__item__val">
                                              <i class="fa fa-check"></i>  
                                        </div>

                                    </div>
                                    
                                    
    
                                    <div class="page-price__item__price">1 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>

                                    <div class="page-price__item__additional-title">Дополнительные услуги</div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Дополнительный
                                                ТВ экран ** 
                                        </div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>  
                                        </div>

                                    </div>
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Пакет Мегахит 
                                        </div>
                                        <div class="page-price__item__val">
                                                59 ₴/мес. 
                                        </div>

                                    </div>
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Пакет Футбол HD 
                                        </div>
                                        <div class="page-price__item__val">
                                                59 ₴/мес.* 
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="page-price__item page-price__slide ">
                                <div class="page-price__item__header">
                                        Стартовый SMART
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                            Телеканалы
                                        </div>
                                        <div class="page-price__item__val">
                                            76  
                                        </div>

                                    </div>
                                    

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                            Видеотека 
                                        </div>
                                        <div class="page-price__item__val">
                                            50 фильмов/мес. 
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Кинозалы OLL.TV 
                                        </div>
                                        <div class="page-price__item__val">
                                                1 день/мес.   
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Футбол
                                        </div>
                                        <div class="page-price__item__val">
                                                –
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Музыка
                                        </div>
                                        <div class="page-price__item__val">
                                                30 дней 
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Радио 
                                        </div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>  
                                        </div>

                                    </div>
                                    
                                    
    
                                    <div class="page-price__item__price">1 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>

                                    <div class="page-price__item__additional-title">Дополнительные услуги</div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Дополнительный
                                                ТВ экран ** 
                                        </div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>  
                                        </div>

                                    </div>
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Пакет Мегахит 
                                        </div>
                                        <div class="page-price__item__val">
                                                59 ₴/мес. 
                                        </div>

                                    </div>
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Пакет Футбол HD 
                                        </div>
                                        <div class="page-price__item__val">
                                                59 ₴/мес.* 
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="page-price__item page-price__slide ">
                                <div class="page-price__item__header">
                                        Стартовый SMART
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                            Телеканалы
                                        </div>
                                        <div class="page-price__item__val">
                                            76  
                                        </div>

                                    </div>
                                    

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                            Видеотека 
                                        </div>
                                        <div class="page-price__item__val">
                                            50 фильмов/мес. 
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Кинозалы OLL.TV 
                                        </div>
                                        <div class="page-price__item__val">
                                                1 день/мес.   
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Футбол
                                        </div>
                                        <div class="page-price__item__val">
                                                –
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Музыка
                                        </div>
                                        <div class="page-price__item__val">
                                                30 дней 
                                        </div>

                                    </div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Радио 
                                        </div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>  
                                        </div>

                                    </div>
                                    
                                    
    
                                    <div class="page-price__item__price">1 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>

                                    <div class="page-price__item__additional-title">Дополнительные услуги</div>

                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Дополнительный
                                                ТВ экран ** 
                                        </div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>  
                                        </div>

                                    </div>
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Пакет Мегахит 
                                        </div>
                                        <div class="page-price__item__val">
                                                59 ₴/мес. 
                                        </div>

                                    </div>
                                    <div class="page-price__item__content__row">

                                        <div class="page-price__item__key">
                                                Пакет Футбол HD 
                                        </div>
                                        <div class="page-price__item__val">
                                                59 ₴/мес.* 
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <br>
                    <p style="font-weight: 400; font-size: 1rem">** Стоимость первого и второго дополнительного экрана составляет 1 ₴/мес за каждый экран, стоимость третьего экрана – 29 ₴/мес. <br>
                        Абонент может подключить до 3-х дополнительных ТВ экранов. Услуга дополнительного экрана доступна исключительно для пакетов- «Стартовый», «Оптимальный», «Премиальный».</p>
                        <p style="font-weight: 400; font-size: 1rem">
                            *** Тарифный план «Пакет Футбол» предоставляет доступ к просмотру телеканалов Футбол 1, Футбол 2.
                        </p>
                </div>
            </div>
        </div>
    </section>

    <section class="callback-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="callback-block__container text-white">
                        <h2 href="" class="callback-block__title">Задать вопрос инженеру</h2>
                        <p class="callback-block__slogan">Обратитесь к нам сейчас для бесплатной консультации
                            инженера с 6-летним стажем</p>

                        <div class="callback-block__form">
                            <form action="">
                                <input type="text" name="" id="" required placeholder="ФИО*">
                                <input type="tel" name="" id="" required placeholder="Телефон*">
                                
                                <div class="callback-block__policy">
                                        Нажимая на кнопку, вы принимаете наше 
                                         <a href="">Соглашение о сборе данных</a>
                                </div>
                                <button class="btn btn-invert" type="submit" value="Отправить заявку">Отправить заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="callback-block__toggler"> <i class="fa fa-chevron-down"></i> </button>
    </section>


    <section class="page-equip">
        <div class="container">
            <h3 class="page-equip__title">WI-FI-роутеры (маршрутизаторы)</h3>

            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    