<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="banner-page optical-in-house">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-8 col-lg-7 col-xl-5">
                    
                    <div class="offers-slide__label">
                        Интернет нового поколения
                    </div>
                        <div class="offers-slide__title text-white">
                        Оптика в квартиру
                        — 1 Гбит
                        </div>
                        <div class="text-white">
                            <br>
                            <ul class="dotted line-height-high font-weight-light">
                                <li>Ультра быстрая скорость интернета</li>
                                <li>Впечатляющая бесперебойность сигнала до 99,9%</li>
                                <li>Работа из дома с высокой защитой передачи данных</li>
                            </ul>
                        </div>

                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container content">
            <div class="row">
                <div class="col-12 article">

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                            <h3>Инновационная услуга от Apelsin.Net</h3>
                            <br>
                            <p>Ультра быстрый Интернет нового поколения
                                    по оптическому волокну в квартиру</p>
                                    <br>
                            <p class="font-weight-light">
                                Апельсин.Net, единственный среди интернет-провайдеров Украины (в Чубинском и Горе), использует технологию FTTH (Fiber To The Home — «Оптика в квартиру»): оптический кабель подводится непосредственно в квартиру. Это позволяет обеспечить в каждому абоненту качественный доступ к сети Интернет на максимальной скорости 1 Гбит/с.
                            </p>
                            <br>
                            <p class="font-weight-light">
                                Учитывая то, что максимальная скорость ограничена лишь конечным оборудованием, а возможность передавать по оптическому волокну скорости 1 Гбит/с, 10 Гбит/с 40Гбит/с делает эту технологию самой прогрессивной, такой кабель закладывается минимум на 25 лет.
                            </p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                            <div class="pl-md-4">
                                <img src="/img/optical-wire.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="optical__opportunities">
                        <div class="optical__opportunities__item optical__opportunities__item1">
                            <h4 class="optical__opportunities__item__title">
                                Интернет на скорости света
                            </h4>
                            <p class="optical__opportunities__item__desc">
                                Самый быстрый безлимитный домашний интернет
                            </p>
                        </div>
                        <div class="optical__opportunities__item optical__opportunities__item2">
                            <h4 class="optical__opportunities__item__title">
                                Надежная сеть
                            </h4>
                            <p class="optical__opportunities__item__desc">
                                Домашний интернет без перебоев и обрывов. Мы моментально реагируем на помехи и аварии
                            </p>
                        </div>
                        <div class="optical__opportunities__item optical__opportunities__item3">
                            <h4 class="optical__opportunities__item__title">
                                Играй в новейшие онлайн-игры
                            </h4>
                            <p class="optical__opportunities__item__desc">
                                Минимальное время отклика сети гарантирует доли секунд приимущества
                            </p>
                        </div>
                        <div class="optical__opportunities__item optical__opportunities__item4">
                            <h4 class="optical__opportunities__item__title">
                                Смотрите телевидение HD качаства
                            </h4>
                            <p class="optical__opportunities__item__desc">
                                Более 100 цифровых каналов бесплатно для всех абонентов сети
                            </p>
                        </div>
                        <div class="optical__opportunities__item optical__opportunities__item5">
                            <h4 class="optical__opportunities__item__title">
                                Настройка без труда для Вас
                            </h4>
                            <p class="optical__opportunities__item__desc">
                                    Мы не оставим вас наедине со сложными техническими вопросами. <br>
                                    Наши специалисты погрузяться в вашу проблему и предложат оптимальное решение для начала работы.
                            </p>
                        </div>        
                    </div>
                    


                    <div class="equip-item__price optical-item__price">
                        <div class="equip-item__price__left">
                            <p class="equip-item__price__title">Гарантируем скорость интернета или вернем деньги!</p>
                            Стоимость подключения оптическим кабелем на скорости 1 Гбит/с  — <span class="equip-item__price__val">1155 ₴</span>
                            <p class="equip-item__price__desc">* Цена с установкой и базовой настройкой роутера</p>
                        </div>
                        <div class="equip-item__price__buy">
                            <a href="" class="btn">Подключить</a>
                        </div>
                    </div>

                    <br>
                    <br>
                    
                   <p class="font-weight-light"> 
                        На текущий момент услуга, «Оптика в квартиру» доступна для большинства абонентов в Чубинском, Горе. Доступность подключения на скорости 1 Гбит/с по конкретному адресу уточняйте по телефонам: <span class="font-weight-normal">097 136-06-36, 050 880-05-51</span> 
                   </p>
                   <p class="font-weight-light">
                        E-mail: <a href="mailto:admin@inet108.com">admin@inet108.com</a>
                   </p>
                    
                </div>
            </div>
        </div>
    </section>


    <a href="">
        <section class="callback-block">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="callback-block__container text-white">
                            <h2 href="" class="callback-block__title">Заявка на подключение</h2>
                            <p class="callback-block__slogan">Станьте счастливым абонентом лучшего провайдера в Вашем регионе!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </a>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    