<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-breadcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner-page" style="background-image: url('/img/banner-tarif-office.jpg')">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-6">
                    
                    <br>
                        <div class="offers-slide__title">
                                <span style="font-size: 0.835em">
                                        Быстрый интернет
                                        для сильного бизнеса
                                </span>
                        </div>
                        <div style="font-weight: 400; font-size: 1.125rem">
                           <br>
                           
                            <ul class="dotted">
                               <li>Выделенная линия или Wi-Fi соединение</li>
                               <li>Скорость — до 1 Гбит/с</li>
                               <li>Защита от DDoS-атак, спама, вирусов</li>
                           </ul>
                           <br>
                        </div>
                        <a href="" class="btn btn-invert">Получить консультацию</a>
                        <br>
                </div>
            </div>
        </div>
    </section>

    <section class="bad-wifi">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                        <h2 class="bad-wifi__title">
                                Инновационный тренд для
                                организации офисной работы
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <p style="font-size: 1rem; font-weight: 400;">Взаимодействие внутри офиса между сотрудниками и внешние контакты с партнерами и клиентами определяют эффективность работ. Некачественный интернет приводит к:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 col-xl-4 offset-xl-1">
                        <div class="bad-wifi__img">
                            <img src="/img/tarif-office1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="bad-wifi__content">
                            <br>
                            <ul class="dotted">
                               <li>потере входящего трафика;</li>
                               <li>медленному доступу к приложениям и программам;</li>
                               <li>ограничению числа сотрудников и техники;</li>
                               <li>невозможности использования трафика гостями офиса.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <br>

                        <p style="font-size: 1rem; font-weight: 400;">Из-за медленного интернета и лимита в числе подключенных гаджетов падает имидж компании, снижается лояльность работников. </p>
                        <p style="font-size: 1rem; font-weight: 400;">Негативных факторов можно избежать, заручившись профессиональной поддержкой компании Apelsin.Net. Мы обеспечим бесперебойное соединение с резервными каналами для стабильной работы всех программ и приложений. Наладим доступ по любой удобной для вас технологии. </p>
                    </div>
                </div>
            </div>
        </section>


    <section class="productivity">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="productivity__title">
                            Владельцы бизнеса выбирают
интернет от Apelsin.Net
                    </h2>
                    <p class="productivity__under-title">В числе наших клиентов — крупные корпорации
                            и небольшие, развивающиеся компании:</p>

                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/horeca.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                заведения сферы HoReCa
                        </div>
                       
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/business.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                офисные и бизнес-центры
                        </div>
                    
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/education.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                учебные заведения
                        </div>
                       
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/medical.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                медицинские учреждения
                        </div>
                      
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/logistic2.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                логистические и
транспортные компании
                        </div>
                       
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/beauty2.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                салоны красоты, SPA
                                и фитнес-центры 
                        </div>
                
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="office-speed-inet">
        <div class="container">
            <div class="row">
                
                <div class="col-12 col-md-8 col-xl-7">
                    <div class="office-speed-inet__content">
                        <h2 class="office-speed-inet__title">Услугой офисного скоростного <br>
                        интернета пользуются все, кто:</h2>
    
                        <ul class="dotted">
                            <li>заботится о высоком качестве работы;</li>
                            <li>желает повысить уровень лояльности сотрудников и клиентов;</li>
                            <li>имеет большую сеть офисов, между которыми требуется оперативное сообщение;</li>
                            <li>обеспокоен вопросами безопасности;</li>
                            <li>следит за новыми технологиями и решениями;</li>
                            <li>не хочет упускать звонки от клиентов и партнеров;</li>
                            <li>не согласен сталкиваться со спонтанным отключением интернета.</li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-xl-4 offset-xl-1 order-md-first">
                    <div class="office-speed-inet__img">
                        <img src="/img/office-speen-inet.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="service-results">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="service-results__title">Работа с лидерами рынка
                            определяет качественный результат</h2>
                    <p class="service-results__under-title">Наш скоростной офисный интернет имеет ряд преимуществ</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="service-results__item service-results__item-1">
                        <div class="service-results__item__title">
                                Подключение по любой технологии
                        </div>
                        <p>Настраиваем доступ исходя из особенностей объекта и пожеланий клиента</p>
                    </div>

                    <div class="service-results__item service-results__item-2">
                        <div class="service-results__item__title">
                                Высокая скорость работы
                        </div>
                        <p>Гарантируем бесперебойный поток в 10 Гбит/c</p>
                    </div>

                    <div class="service-results__item service-results__item-3">
                        <div class="service-results__item__title">
                                Наличие резервного канала
                        </div>
                        <p>Исключаем перебои в функционировании сети</p>
                    </div>

                    <div class="service-results__item service-results__item-4">
                        <div class="service-results__item__title">
                                Эффективная работа всех систем
                        </div>
                        <p>Возможно одновременное подключение офисной техники, терминалов, касс, электронного документооборота</p>
                    </div>

                    <div class="service-results__item service-results__item-5">
                        <div class="service-results__item__title">
                                Приемлемые цены
                        </div>
                        <p>Стоимость тарифных планов и доп. сервисов приятно удивляет клиентов.</p>
                    </div>

                    <div class="service-results__item service-results__item-6">
                        <div class="service-results__item__title">
                                Дополнительные услуги
                        </div>
                        <p>Обеспечиваем широкий комплекс предложений для оптимизации бизнес-процессов</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <section class="additional-services">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <h2 class="text-center">Пакетные предложения
                            с эксклюзивными услугами</h2>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Управляемый Wi-Fi HotSpot</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                        Предоставляем и производим наладку устройств для раздачи сигнала. Сотрудники и гости заведения могут беспрепятственно пользоваться интернетом, без перегрузки сети или ограничения скорости. 
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/wifi-spot.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Строительство Wi-Fi сетей</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                    Подбираем оборудование, планируем его расположение для продуктивной работы. Знаем все тонкости правильной организации, исключающие потерю сигнала или плохой доступ в некоторые уголки здания, помещения. 
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/wifi-build.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Видеонаблюдение для бизнеса</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                    Создаем возможность удаленного контроля путем подключения камер с функцией IP. Организовываем возможность наблюдения за залом ресторана, работой сотрудников, функционированием офиса из любой точки мира.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/video-bussiness.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Охранная сигнализация</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                    Используем новейшие системы контроля и оповещения для обеспечения защищенности объекта. Проводим монтаж и настройку с проверкой каждого элемента для исключения сбоев.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/guard-signal-2.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Аренда каналов связи/IP-Транзит</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                    Предоставляем каналы для оперативного обмена информацией между удаленными офисами или офлайн точками продаж. Связываем ваш бизнес в единое информационное пространство с возможностью моментальной передачи любого вида информации.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/ip-transit.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Обслуживание ваших локальных сетей</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                    Экспертные сотрудники возьмут на себя удаленное управление или составят график плановых посещений объекта. Обеспечиваем стабильную работу за счет своевременного определения и устранения неполадок.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/lan.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Кибербезопасность</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                    Используем новейшие протоколы шифрования и утилиты для предотвращения проникновений извне. Осуществляем комплекс мер по борьбе с хакерскими атаками, вирусами, спамом.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/cyber.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item last">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">HD Телевидение для бизнеса</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                    Обеспечиваем подбор, монтаж и настройку оборудования в коммерческих, лечебных, HoReCa заведениях. Предоставляем удобное управление и возможность обслуживания специалистами компании. 
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/hdtv-bussiness.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__summary" style="margin-bottom: 4rem;">
                        <div class="additional-services__summary__header">
                            <span class="key">Итого</span>
                            <span class="val">360 ₴/мес.</span>
                        </div>
                        <div class="additional-services__summary__content">
                            <div class="additional-services__summary__item first">
                                <span class="key">Тариф «Гигабитный»</span>
                                <span class="val">360 ₴/мес.</span>
                            </div>
                            <div class="additional-services__summary__item">
                                <span class="key">Статический IP-адрес</span>
                                <span class="val">155 ₴/мес.</span>
                            </div>
                            <div class="additional-services__summary__item">
                                <span class="key">Охранная сигнализация</span>
                                <span class="val">270 ₴/мес.</span>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>

    <section class="page-price">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                            <h3 class="text-center">Дополняем пакетными решениями
                                    с возможностью индивидуального подхода</h3>
                            <br>
                        <div class="page-price__slider">
    
                            <div class="page-price__item page-price__slide ">
                                <div class="page-price__item__header">
                                        Гигабитный
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Скорость доступа
                                                к зарубежному сегменту</div>
                                        <div class="page-price__item__val">
                                                250 Мбит
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Скорость доступа
                                                к украинскому сегменту</div>
                                        <div class="page-price__item__val">
                                                до 1000 Мбит
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Телевидение IPTV</div>
                                        <div class="page-price__item__val">
                                                101 канал
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Внешний IP <a href="" class="info-dropdown"></a></div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Акци <a href="" class="info-dropdown"></a></div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>
                                        </div>
                                    </div>
    
                                    <div class="page-price__item__price">290 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                </div>
                            </div>
    
                            <div class="page-price__item page-price__slide">
                                <div class="page-price__item__header">
                                        Оранжевый
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Скорость доступа
                                                к зарубежному сегменту</div>
                                        <div class="page-price__item__val">
                                                250 Мбит
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Скорость доступа
                                                к украинскому сегменту</div>
                                        <div class="page-price__item__val">
                                                до 1000 Мбит
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Телевидение IPTV</div>
                                        <div class="page-price__item__val">
                                                101 канал
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Внешний IP <a href="" class="info-dropdown"></a></div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Акци <a href="" class="info-dropdown"></a></div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>
                                        </div>
                                    </div>
    
                                    <div class="page-price__item__price">290 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                </div>
                            </div>
    
                            <div class="page-price__item page-price__slide">
                                <div class="page-price__item__header">
                                        Базовый
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Скорость доступа
                                                к зарубежному сегменту</div>
                                        <div class="page-price__item__val">
                                                250 Мбит
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Скорость доступа
                                                к украинскому сегменту</div>
                                        <div class="page-price__item__val">
                                                до 1000 Мбит
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Телевидение IPTV</div>
                                        <div class="page-price__item__val">
                                                101 канал
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Внешний IP <a href="" class="info-dropdown"></a></div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="page-price__item__content__row">
                                        <div class="page-price__item__key">Акци <a href="" class="info-dropdown"></a></div>
                                        <div class="page-price__item__val">
                                                <i class="fa fa-check"></i>
                                        </div>
                                    </div>
    
                                    <div class="page-price__item__price">290 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit"><i class="fa fa-check"></i></a>
                                </div>
                            </div>
    
    
    
                        </div>
    
                        <div class="page-price__slider__arrows">
                            <button class="slick-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="slick-next"><i class="fa fa-angle-right"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    <section class="callback-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="callback-block__container text-white">
                        <h2 href="" class="callback-block__title">Задать вопрос инженеру</h2>
                        <p class="callback-block__slogan">Обратитесь к нам сейчас для бесплатной консультации
                                инженера с 6-летним стажем</p>

                        <div class="callback-block__form">
                            <form action="">
                                <input type="text" name="" id="" required placeholder="ФИО*">
                                <input type="tel" name="" id="" required placeholder="Телефон*">
                                <textarea name="" id="" cols="30" rows="3">Комментарий</textarea>
                                <div class="callback-block__policy">
                                        Нажимая на кнопку, вы принимаете наше 
                                        Соглашение о сборе данных
                                </div>
                                <button class="btn btn-invert" type="submit" value="Отправить заявку">Отправить заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="callback-block__toggler"> <i class="fa fa-chevron-down"></i> </button>
    </section>
    

    <section class="page-equip">
        <div class="container">
            <h3 class="page-equip__title">WI-FI-роутеры (маршрутизаторы)</h3>

            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    