<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <!-- <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div> -->
                <div class="col-11 offset-1 col-sm-11 offset-sm-1 col-lg-10 offset-lg-2">
                    <ul class="main-menu__list">
                        <li><a href="">Домашний интернет</a></li>
                        <li><a href="">Интернет в частный дом</a></li>
                        <li><a href="">Офисный интернет</a></li>
                    </ul>
                    <ul class="main-menu-block">
                            <li><a href="">Дополнительные услуги</a></li>
                            <li><a href="">Цифровое телевидение HD</a></li>
                            <li><a href="">Умный дом</a></li>
                            <li><a href="">Оборудование</a></li>
                            <li><a href="">Абоненту</a></li>
                            <li><a href="">Акции</a></li>
                            <li><a href="">Новости</a></li>
                            <li><a href="">О компании</a></li>
                            <li><a href="">Контакты</a></li> 
                    </ul>
                    <!-- <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="banner-breadcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner-page" style="background-image: url('/img/banner-tarif-video.jpg')">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-7">
                    
                    <br>
                        <div class="offers-slide__title text-white">
                                <span style="font-size: 0.835em">
                                    Онлайн-наблюдение
                                    в FullHD-качестве с доступом
                                    к просмотру в любое время суток
                                </span>
                        </div>
                        <div style="font-weight: 400; font-size: 1.125rem">
                           <br>
                           
                            <ul class="dotted text-white">
                               <li>Круглосуточный доступ из любой точки мира</li>
                               <li>Исключение хищения или порчи имущества</li>
                               <li>Камеры с встроенным микрофоном, датчиком шума, движения</li>
                           </ul>
                           <br>
                        </div>
                        <a href="" class="btn btn-invert">Получить консультацию</a>
                        <br>
                </div>
            </div>
        </div>
    </section>

    <section class="bad-wifi">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                        <h2 class="bad-wifi__title">
                                
                        </h2>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-12 col-lg-4 col-xl-4 offset-xl-1">
                        <div class="bad-wifi__img">
                            <img src="/img/tarif-video1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="bad-wifi__content">
                            <p class="bad-wifi__subtitle">Грамотно смонтированное и настроенное видеонаблюдение позволяет:</p>
                            <ul class="dotted">
                               <li>дать материал для успешного расследования кражи/ограбления;</li>
                               <li>контролировать наемных работников;</li>
                               <li>следить за детьми;</li>
                               <li>проверять состояние жилья при каучсёрфинге;</li>
                               <li>оперативно реагировать на форс-мажоры (пожар, прорыв воды и т. д.);</li>
                               <li>контролировать поведение домашних животных;</li>
                               <li>проверять самочувствие пожилых родственников.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <br>
                        <br>
                        <p style="font-size: 1rem; font-weight: 400;">Компания Apelsin.Net создаст удобную и функциональную систему наблюдения, работающую по принципу удаленного доступа.</p>
                        
                    </div>
                </div>
            </div>
        </section>


    <section class="productivity">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="productivity__title">
                        Мы знаем, для кого работаем
                    </h2>
                    <p class="productivity__under-title">К нам регулярно обращаются частные лица для подбора, монтажа и настройки видеонаблюдения:</p>

                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-home.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            клиенты, которые часто путешествуют,
                            оставляя дом без присмотра
                        </div>
                       
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-pet.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            хозяева домашних животных,
                            которые хотят следить за любимцами
                        </div>
                    
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-child.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            родители, заботящиеся
                            о правильном образе жизни ребенка
                        </div>
                       
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-parents.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            дети, переживающие о безопасности
                            и состоянии здоровья пожилых родителей
                        </div>
                      
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-personal.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            семьи, желающие контролировать
                            работу надомного персонала
                        </div>
                       
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/video-flat.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                            жильцы многоквартирного дома, желающие
                            установить видеонаблюдение в подъезде
                        </div>
                
                    </div>
                </div>


            </div>
        </div>
    </section>


    <div class="service-results">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="service-results__title">Выбирайте качество — получайте лучшее</h2>
                    <p class="service-results__under-title">Потратив всего 1 800 гривен в месяц, вы защитите себя, семью и имущество от различного рода неприятностей. И это еще не все положительные моменты:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="service-results__item service-results__item-1">
                        <div class="service-results__item__title">
                            Отличное разрешение видео
                        </div>
                        <p>Предлагаем оборудование, дающее качество FullHD.</p>
                    </div>

                    <div class="service-results__item service-results__item-2">
                        <div class="service-results__item__title">
                            Сохранность информации
                        </div>
                        <p>Запись ведется на облачный сервер. Даже если камера была повреждена, украдена — информация останется.</p>
                    </div>

                    <div class="service-results__item service-results__item-3">
                        <div class="service-results__item__title">
                            Доступность из любой точки мира и гаджета
                        </div>
                        <p>Подключиться к камере можно с любого устройства, находясь в 2 метрах или за 1 000 км.</p>
                    </div>

                    <div class="service-results__item service-results__item-4">
                        <div class="service-results__item__title">
                            Круглосуточная поддержка
                        </div>
                        <p>Наши сотрудники всегда примут вызов и выедут на ремонт.</p>
                    </div>

                    <div class="service-results__item service-results__item-5">
                        <div class="service-results__item__title">
                            Отсутствие лишних затрат
                        </div>
                        <p>Серьезная экономия на найме охраны, предотвращении опасных для здоровья домочадцев ситуаций и других форс-мажоров.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <section class="page-price">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
                        <h2 class="text-center">3 тарифа с одним бесплатным предложением</h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                       
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-4">
                                <div class="page-price__item page-price__slide ">
                                    <div class="page-price__item__header">
                                        Демонстрационный
                                    </div>
                                    <div class="page-price__item__content">
        
                                        <div class="page-price__item__content__row">
                                               <i class="fa fa-check text-success"></i> Подключение одной видеокамеры
                                            <!-- <div class="page-price__item__key">Скорость доступа
                                                    к зарубежному сегменту</div>
                                            <div class="page-price__item__val">
                                                    250 Мбит
                                            </div> -->
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Доступ одному пользователю
                                                к собственной камере
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Одна бесплатная ссылка
                                        </div>
    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   10 уведомлений детектора движений
                                        </div>
    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   2 Гб дискового пространства
                                        </div>
    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Запись по требованию
                                        </div>
    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Запись по расписанию
                                        </div>
                                        
                                       
        
                                        <div class="page-price__item__price">7 дней бесплатно</div>
        
                                        <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="page-price__item page-price__slide">
                                    <div class="page-price__item__header">
                                        Персональный
                                    </div>
                                    <div class="page-price__item__content">
        
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Подключение одной видеокамеры
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Доступ 3 пользователям
                                                к собственным камерам
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Одна временная ссылка
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   50 уведомлений детектора движений
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   2 Гб дискового пространства
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Запись по требованию
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>   Запись по расписанию
                                        </div>
        
                                        <div class="page-price__item__price">2.63 ₴/день <span style="font-weight: 400">78.85 ₴/мес.</span></div>
        
                                        <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="page-price__item page-price__slide">
                                    <div class="page-price__item__header">
                                        Укомплектованный
                                    </div>
                                    <div class="page-price__item__content">
        
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Скорость доступа
                                                    к зарубежному сегменту</div>
                                            <div class="page-price__item__val">
                                                    250 Мбит
                                            </div>
                                        </div>
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Скорость доступа
                                                    к украинскому сегменту</div>
                                            <div class="page-price__item__val">
                                                    до 1000 Мбит
                                            </div>
                                        </div>
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Телевидение IPTV</div>
                                            <div class="page-price__item__val">
                                                    101 канал
                                            </div>
                                        </div>
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Внешний IP <a href="" class="info-dropdown"></a></div>
                                            <div class="page-price__item__val">
                                                    <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="page-price__item__content__row">
                                            <div class="page-price__item__key">Акци <a href="" class="info-dropdown"></a></div>
                                            <div class="page-price__item__val">
                                                    <i class="fa fa-check"></i>
                                            </div>
                                        </div>
        
                                        <div class="page-price__item__price">3169.20 ₴</div>
        
                                        <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
    
    
    
                       

                    </div>
                </div>
            </div>
        </section>

    <section class="callback-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="callback-block__container text-white">
                        <h2 href="" class="callback-block__title">Рассчитать стоимость под ваш объект</h2>
                        <p class="callback-block__slogan">Обращайтесь для заказа услуги с гарантией качества — ответим на все вопросы, проконсультируем и поможем сделать оптимальный выбор.</p>

                        <div class="callback-block__form">
                            <form action="">
                                <input type="text" name="" id="" required placeholder="ФИО*">
                                <input type="tel" name="" id="" required placeholder="Телефон*">
                                
                                <div class="callback-block__policy">
                                        Нажимая на кнопку, вы принимаете наше 
                                         <a href="">Соглашение о сборе данных</a>
                                </div>
                                <button class="btn btn-invert" type="submit" value="Отправить заявку">Отправить заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="callback-block__toggler"> <i class="fa fa-chevron-down"></i> </button>
    </section>
    

    <section class="page-equip">
        <div class="container">
            <h3 class="page-equip__title">Комплекты видеонаблюдения</h3>

            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/hikvision.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">Комплект HIKVISION
                                DS-2CD1410F-IW</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Внутренняя сетевая камера
                                        HIKVISION DS-2CD1410F-IW</li>
                                    <li>Роутер hAP mini (RB931-2nD)</li>
                                    <li>Блок питания</li>
                                </ul>
                                <br>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">5240 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/dahua.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">Комплект DAHUA
                                DH-IPC-HDBW1120E-W</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Антивандальная уличная/внутренняя
                                        IP камера DH-IPC-HDBW1120E-W</li>
                                    <li>Роутер hAP mini (RB931-2nD)</li>
                                    <li>Блок питания</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">4879 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    