<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-breadcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner-page" style="background-image: url('/img/banner-hot-summer.jpg')">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-8 col-lg-7 col-xl-5">
                    
                    <br>
                    <br>
                        <div class="offers-slide__title" style="color: #ff2a00">
                              <span style="font-size: 1.5em">Жаркое лето</span>
                        </div>
                        <div class="text-white">
                            <br>
                            <br>
                            <br> <br>
                            <p style="font-size: 1.125rem">Платите за 2 месяца и получите <br>
                              <span style="font-size: 1.7rem; font-weight: 700;">5 месяцев</span> интернета <span style="font-size: 1.7rem; font-weight: 700;">в подарок</span></p>   
                             
                        </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="page-price">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                        <h3>Безлимитные тарифы в Чубинском</h3>
                        <br>
                        <p style="font-size: 1.125rem; font-weight: 400">ЖК «Авангард», ЖК «Солнечная Брама»</p>
                    <div class="page-price__slider">

                        <div class="page-price__item page-price__slide ">
                            <div class="page-price__item__header">
                                    Гигабитный
                            </div>
                            <div class="page-price__item__content">

                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Скорость доступа
                                            к зарубежному сегменту</div>
                                    <div class="page-price__item__val">
                                            250 Мбит
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Скорость доступа
                                            к украинскому сегменту</div>
                                    <div class="page-price__item__val">
                                            до 1000 Мбит
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Телевидение IPTV</div>
                                    <div class="page-price__item__val">
                                            101 канал
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Внешний IP <a href="" class="info-dropdown"></a></div>
                                    <div class="page-price__item__val">
                                            <i class="fa fa-check"></i>
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Акци <a href="" class="info-dropdown"></a></div>
                                    <div class="page-price__item__val">
                                            <i class="fa fa-check"></i>
                                    </div>
                                </div>

                                <div class="page-price__item__price">290 ₴/мес.</div>

                                <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                            </div>
                        </div>

                        <div class="page-price__item page-price__slide">
                            <div class="page-price__item__header">
                                    Гигабитный
                            </div>
                            <div class="page-price__item__content">

                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Скорость доступа
                                            к зарубежному сегменту</div>
                                    <div class="page-price__item__val">
                                            250 Мбит
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Скорость доступа
                                            к украинскому сегменту</div>
                                    <div class="page-price__item__val">
                                            до 1000 Мбит
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Телевидение IPTV</div>
                                    <div class="page-price__item__val">
                                            101 канал
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Внешний IP <a href="" class="info-dropdown"></a></div>
                                    <div class="page-price__item__val">
                                            <i class="fa fa-check"></i>
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Акци <a href="" class="info-dropdown"></a></div>
                                    <div class="page-price__item__val">
                                            <i class="fa fa-check"></i>
                                    </div>
                                </div>

                                <div class="page-price__item__price">290 ₴/мес.</div>

                                <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                            </div>
                        </div>

                        <div class="page-price__item page-price__slide">
                            <div class="page-price__item__header">
                                    Гигабитный
                            </div>
                            <div class="page-price__item__content">

                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Скорость доступа
                                            к зарубежному сегменту</div>
                                    <div class="page-price__item__val">
                                            250 Мбит
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Скорость доступа
                                            к украинскому сегменту</div>
                                    <div class="page-price__item__val">
                                            до 1000 Мбит
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Телевидение IPTV</div>
                                    <div class="page-price__item__val">
                                            101 канал
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Внешний IP <a href="" class="info-dropdown"></a></div>
                                    <div class="page-price__item__val">
                                            <i class="fa fa-check"></i>
                                    </div>
                                </div>
                                <div class="page-price__item__content__row">
                                    <div class="page-price__item__key">Акци <a href="" class="info-dropdown"></a></div>
                                    <div class="page-price__item__val">
                                            <i class="fa fa-check"></i>
                                    </div>
                                </div>

                                <div class="page-price__item__price">290 ₴/мес.</div>

                                <a href="" class="btn btn-invert mx-auto page-price__item__submit"><i class="fa fa-check"></i></a>
                            </div>
                        </div>



                    </div>

                    <div class="page-price__slider__arrows">
                        <button class="slick-prev"><i class="fa fa-angle-left"></i></button>
                        <button class="slick-next"><i class="fa fa-angle-right"></i></button>
                    </div>

                    <br>
                    <br>
                    <p style="font-size: 1rem; line-height: 2rem"><span style="color: #ec6707;">Скорость гарантируем — или вернем деньги.</span><br>
                    Мы уверены, каждый абонент выберет подходящий тариф из предложенных нами. <br>
                            30 дней Вы сможете пользоваться услугами со скоростью 100 Мбит —бесплатно.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="service-banner">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="hdtv-banner">
                        <div class="row">
                            <div class="col-12 col-lg-9 offset-lg-3">
                                <div class="hdtv-banner__content">
                                    <div class="hdtv-banner__title">
                                        Премиальное HD-телевидение
                                    </div>
                                    <div class="hdtv-banner__subtitle">
                                        Смотреите 30 дней бесплатно
                                    </div>
                                    <div class="hdtv-banner__desc">
                                        <ul>
                                            <li>10 000 фильмов</li>
                                            <li>Более 160 каналов и 23 в HD-качестве</li>
                                            <li>Пауза и перемотка эфира</li>
                                        </ul>
                                        <p>
                                            Лучшие развлечения кино, спорт, сериалы, шоу и документальные фильмы, Хотите воспользоваться акционным предложением и подключить на 30 дней в подарок премиальное телевидение?
                                        </p>
                                        <br>
                                        <a href="" class="btn btn-invert">Подключить тариф</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="additional-services">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <h3>Дополнительные услуги</h3>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Статический IP-адрес</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                        Все абоненты «Апельсин.Net» могут воспользоваться услугами охранной сигнализации на выгодных условиях. Для обеспечения полной безопасности, сохранности имущества, защиты от взлома и проникновения в ваше жилье, мы разработали передовую систему мгновенного приема и обработки сигналов тревоги.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/static-ip.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Видеонаблюдение</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                        Все абоненты «Апельсин.Net» могут воспользоваться услугами охранной сигнализации на выгодных условиях. Для обеспечения полной безопасности, сохранности имущества, защиты от взлома и проникновения в ваше жилье, мы разработали передовую систему мгновенного приема и обработки сигналов тревоги.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/video-capture.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Охранная сигнализация</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                        Все абоненты «Апельсин.Net» могут воспользоваться услугами охранной сигнализации на выгодных условиях. Для обеспечения полной безопасности, сохранности имущества, защиты от взлома и проникновения в ваше жилье, мы разработали передовую систему мгновенного приема и обработки сигналов тревоги.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/guard-signal.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Оптика в квартиру</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                        Все абоненты «Апельсин.Net» могут воспользоваться услугами охранной сигнализации на выгодных условиях. Для обеспечения полной безопасности, сохранности имущества, защиты от взлома и проникновения в ваше жилье, мы разработали передовую систему мгновенного приема и обработки сигналов тревоги.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/optical.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__item last">
                        <div class="additional-services__item__header">
                            <div class="additional-services__item__toggler">
                                    <label class="switch switch-horizontal">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                            </div>
                            <div class="additional-services__item__title">Подключение «Люкс»</div>
                            <div class="additional-services__item__price">290 ₴/мес.</div>
                        </div>
                        <div class="additional-services__item__content">
                                <div class="additional-services__item__desc">
                                        Все абоненты «Апельсин.Net» могут воспользоваться услугами охранной сигнализации на выгодных условиях. Для обеспечения полной безопасности, сохранности имущества, защиты от взлома и проникновения в ваше жилье, мы разработали передовую систему мгновенного приема и обработки сигналов тревоги.
                                        <br>
                                        <a href="">Подробнее</a>
                                </div>
                            <div class="additional-services__item__img">
                                <img src="/img/additional-services/lux.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="additional-services__summary">
                        <div class="additional-services__summary__header">
                            <span class="key">Итого</span>
                            <span class="val">360 ₴/мес.</span>
                        </div>
                        <div class="additional-services__summary__content">
                            <div class="additional-services__summary__item first">
                                <span class="key">Тариф «Гигабитный»</span>
                                <span class="val">360 ₴/мес.</span>
                            </div>
                            <div class="additional-services__summary__item">
                                <span class="key">Статический IP-адрес</span>
                                <span class="val">155 ₴/мес.</span>
                            </div>
                            <div class="additional-services__summary__item">
                                <span class="key">Охранная сигнализация</span>
                                <span class="val">270 ₴/мес.</span>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>

    <section class="page-application">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg6 col-xl-5 offset-xl-1">
                    <div class="page-application__step page-application__step1">
                        <div class="page-application__step__title">Оставьте заявку</div>
                        <div class="page-application__step__desc">Заполните все необходимые поля формы</div>
                    </div>
                    <div class="page-application__step page-application__step2">
                        <div class="page-application__step__title">Дождитесь звонка</div>
                        <div class="page-application__step__desc">В течение часа с Вами свяжется оператор и подберет
                            удобное время для визита техника.</div>
                    </div>
                    <div class="page-application__step page-application__step3">
                        <div class="page-application__step__title">Приедет техник</div>
                        <div class="page-application__step__desc">Он проведет кабель, оформит договор
                            и примет оплату — это займет не больше часа. <br>
                            <i class="fa fa-calendar"></i> Понедельник - Cуббота <i class="fa fa-clock-o"></i> 9:00 –19:00</div>
                    </div>
                    <div class="page-application__step page-application__step4">
                        <div class="page-application__step__title">Готово!</div>
                        <div class="page-application__step__desc">Комфортное сотрудничество. Вы пользуетесь всеми
                            привилегиями работы с компанией Apelsin.Net</div>
                    </div>

                    <p>Если вы не можете определиться с выбором — позвоните нам по телефону
                        +38 067 1111-008 и мы подберем для вас оптимальный вариант.</p>
                        <ul class="dotted">
                            <li>Подключение всего за сутки</li>
                            <li>Самое оперативное подключение</li>
                            <li>Вы будете на связи уже завтра</li>
                        </ul>
                        <br>
                </div>
                <div class="col-12 col-md-6 col-lg6 col-xl-4">
                    <form class="application__form" action="">
                        <input type="text" name="" id="" placeholder="ФИО*">
                        <input type="email" name="" id="" placeholder="E-mail*">
                        <input type="tel" name="" id="" placeholder="Телефон*">
                        <select name="" id="">
                            <option value="">Населенный пункт</option>
                            <option value="">Гора</option>
                        </select>
                        <input type="text" name="" id="" placeholder="Улица">
                        <div class="input-group">
                            <input type="text" name="" id="" placeholder="Дом">
                            <input type="text" name="" id="" placeholder="Этаж">
                            <input type="text" name="" id="" placeholder="Квартира">
                        </div>
                        <textarea name="" id="" cols="30" rows="3">Дополнительная информация</textarea>

                        <!-- <div class="checkbox-container">
                            <div class="checkbox">
                                <input type="checkbox" value="None" id="squaredTwo" name="check">
                                <label for="squaredTwo"></label>
                            </div>
                            <div class="checkbox-label">
                                    Даю согласие на обработку моих персональных данных
                                    согласно условиям <a href="">Политики конфиденциальности</a>.
                            </div>
                        </div> -->
                        <div class="page-application__policy">Нажимая на кнопку, вы принимаете наше 
                            <a href="">Соглашение о сборе данных</a>
                            </div>

                        <input class="btn application__submit" type="submit" value="Отправить заявку">
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="page-loyalty">
        <div class="container">
            <h3 class="page-loyalty__title">Лояльность круглый год</h3>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <ul class="nav nav-pills" id="equipmentTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="#p1" data-toggle="tab" href="#pl-1" role="tab" aria-controls="" aria-selected="true">Два месяца Интернет в подарок!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="p2" data-toggle="tab" href="#pl-2" role="tab" aria-controls="" aria-selected="false">Подключение — за 1 гривну</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" id="p3" data-toggle="tab" href="#pl-3" role="tab" aria-controls="" aria-selected="false">Сколько лет вы с Апельсин.Net?</a>
                            </li>
                    </ul>
                    <div class="tab-content" id="equipmentTabContent">
                        <div class="tab-pane fade show active" id="pl-1" role="tabpanel" aria-labelledby="p1">

                            <div class="page-loyalty__item" style="background-color: #86726b; color: #fff;">
                                <div class="page-loyalty__item__img">
                                    <img src="/img/loyalty-1.jpg" alt="">
                                </div>
                                <div class="page-loyalty__item__content">
                                        Оплатите Интернет на 12 месяцев вперед и получите бонус
                                        — дополнительно <span style="color: #e5d25c">2 месяца бесплатного Интернета</span>
                                </div>
                            </div>
                        </div> 

                        <div class="tab-pane fade show" id="pl-2" role="tabpanel" aria-labelledby="p2">

                            second
                        </div> 

                        <div class="tab-pane fade show" id="pl-3" role="tabpanel" aria-labelledby="p3">
                        
                            third
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="confident-payment">
        <div class="container content">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h3 class="confident-payment__title">
                            Услуга «Доверительный платеж»
                    </h3>
                    <p>
                            В случае, если Вы забыли или не успели оплатить услуги вовремя, а доступ в Интернет очень важно иметь прямо сейчас, то Вы можете активировать услугу «Кредит доверия». Эта услуга активируется из <a href="http://stat.apelsin.net/cgi-bin/stat.pl">личного кабинета</a> статистики или по телефонам технической поддержки: <strong>067 1111-008.</strong>
                    </p>
                    <ul>
                        <li>Активировать ее можно в любое время суток.</li>
                        <li>Данная услуга предоставит Вам доступ в Интернет на протяжении 5 суток.</li>
                        <li>Стоимость активации услуги — бесплатно.</li>
                        <li>Услугу можно заказать не более одного раза в месяц.</li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 order-md-first">
                    <img src="/img/confident-payment.jpg" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="page-equip">
        <div class="container">
            <h3 class="page-equip__title">WI-FI-роутеры (маршрутизаторы)</h3>

            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    