<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-breadcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner-page" style="background-image: url('/img/banner-tarif-security.jpg')">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    
                    <br>
                        <div class="offers-slide__title text-white">
                                <span style="font-size: 0.835em">
                                        Охранные сигнализации —
                                        спокойный сон, комфортная жизнь
                                </span>
                        </div>
                        <div style="font-weight: 400; font-size: 1.125rem">
                           <br>
                           
                            <ul class="dotted text-white">
                               <li>Удаленное управление системой с любого гаджета</li>
                               <li>Беспроводной монтаж</li>
                               <li>Установка в течение 2 часов</li>
                           </ul>
                           <br>
                        </div>
                        <a href="" class="btn btn-invert">Получить консультацию</a>
                        <br>
                </div>
            </div>
        </div>
    </section>

    <section class="bad-wifi">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                        <h2 class="bad-wifi__title">
                                Современные технологии от Apelsin.Net
                                на страже вашей безопасности
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 col-xl-4 offset-xl-1">
                        <div class="bad-wifi__img">
                            <img src="/img/tarif-security1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="bad-wifi__content">
                            <p class="bad-wifi__subtitle">Во время отсутствия хозяев
                                    в доме могут произойти:</p>
                            <ul class="dotted">
                               <li>прорыв водной магистрали;</li>
                               <li>утечка газа;</li>
                               <li>взлом с проникновением;</li>
                               <li>пожар и другие форс-мажоры.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <br>
                        <br>
                        <p style="font-size: 1rem; font-weight: 400;">Предотвратить их некому, поэтому убытки неизбежны. А если пострадает имущество соседей, придется выплачивать им материальную и моральную компенсации. </p>
                        <p style="font-size: 1rem; font-weight: 400;">Обеспечением безопасности должны заниматься профессионалы, опирающиеся на высокие технологии. Именно такой тандем предлагает наша компания — Apelsin.Net. Установка систем охранной сигнализации поможет вовремя отреагировать на опасную ситуацию, моментально оповестив соответствующую службу.</p>
                    </div>
                </div>
            </div>
        </section>


    <section class="productivity">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="productivity__title">
                            Наша аудитория — все, кто ценит
                            защищенность
                    </h2>
                    <p class="productivity__under-title">Охранная сигнализация — это одно из предложений нашей компании, которое подойдет всем владельцам:</p>

                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/security-house.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Частных домов,
                                коттеджей и квартир
                        </div>
                       
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/security-food.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Баров, ресторанов,
                                гостиничных комплексов
                        </div>
                    
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/security-sale.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                торговых центров
                                и супермаркетов
                        </div>
                       
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/security-village.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                дач и домов
                                в дачных поселках
                        </div>
                      
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/security-office.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                офисов, складов,
                                производств
                        </div>
                       
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/security-appartment.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                коллективная охрана
                                квартир
                        </div>
                
                    </div>
                </div>


            </div>
        </div>
    </section>


    <div class="service-results">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="service-results__title">Новый уровень комфорта
                            от Apelsin.Net</h2>
                    <p class="service-results__under-title">Побеждаем во всех номинациях</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="service-results__item service-results__item-1">
                        <div class="service-results__item__title">
                                Гарантия качества
                        </div>
                        <p>Сотрудничаем с проверенными поставщиками надежного оборудования.</p>
                    </div>

                    <div class="service-results__item service-results__item-2">
                        <div class="service-results__item__title">
                                Разноплановое оборудование
                        </div>
                        <p>Предлагаем системы с различными видами датчиков: задымления, повышения уровня воды, увеличения содержания газа в воздухе и т. д.</p>
                    </div>

                    <div class="service-results__item service-results__item-3">
                        <div class="service-results__item__title">
                                Быстрый монтаж
                        </div>
                        <p>Проводим установку оборудования в срок от 2-х часов.</p>
                    </div>

                    <div class="service-results__item service-results__item-4">
                        <div class="service-results__item__title">
                                Оперативный выезд
                        </div>
                        <p>Реагирование спецбригад в течение 5 мин.</p>
                    </div>

                    <div class="service-results__item service-results__item-5">
                        <div class="service-results__item__title">
                                Удаленное управление
                        </div>
                        <p>Контролировать работу устройств можно со своего гаджета в онлайн-режиме.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <section class="page-price">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 col-xl-6 offset-xl-3">
                        <h3 class="text-center">Тарифы на круглосуточную защиту
                                вашего объекта</h3>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-10 offset-xl-1">
                        <div class="page-price__slider">
    
                            <div class="page-price__item page-price__slide ">
                                <div class="page-price__item__header">
                                        Частный дом
                                </div>
                                <div class="page-price__item__content">
    
                                    <div class="page-price__item__content__row">
                                        <i class="fa fa-check text-success"></i>
                                        Материальная ответственность от 100 000 грн
                                    </div>
                                    <div class="page-price__item__content__row">
                                            <i class="fa fa-check text-success"></i>
                                            Тревожная кнопка
                                    </div>
                                    <div class="page-price__item__content__row">
                                            <i class="fa fa-check text-success"></i>
                                            Видеонаблюдение
                                    </div>
                                    
    
                                    <div class="page-price__item__price"><span style="font-weight: 400; font-size: 0.8125rem">Стоимость оборудования:</span> 6500 ₴</div>
                                    <div class="page-price__item__price"><span style="font-weight: 400; font-size: 0.8125rem">Ежемесечная оплата:</span> 450 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                </div>
                            </div>
    
                            <div class="page-price__item page-price__slide">
                                <div class="page-price__item__header">
                                        Квартира
                                </div>
                                <div class="page-price__item__content">
    
                                        <div class="page-price__item__content__row">
                                            <i class="fa fa-check text-success"></i>
                                            Материальная ответственность от 100 000 грн
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>
                                                Тревожная кнопка
                                        </div>
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>
                                                Видеонаблюдение
                                        </div>
    
                                        <div class="page-price__item__price"><span style="font-weight: 400; font-size: 0.8125rem">Стоимость оборудования:</span> 4800 ₴</div>
                                        <div class="page-price__item__price"><span style="font-weight: 400; font-size: 0.8125rem">Ежемесечная оплата:</span> 300 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                </div>
                            </div>
    
                            <div class="page-price__item page-price__slide">
                                <div class="page-price__item__header">
                                        Коллективно (4 кв. на этаже)
                                </div>
                                <div class="page-price__item__content">
    
                                    
                                        <div class="page-price__item__content__row">
                                                <i class="fa fa-check text-success"></i>
                                                Материальная ответственность от 100 000 грн
                                            </div>
                                            <div class="page-price__item__content__row">
                                                    <i class="fa fa-check text-success"></i>
                                                    Тревожная кнопка
                                            </div>
                                            <div class="page-price__item__content__row">
                                                    <i class="fa fa-check text-success"></i>
                                                    Видеонаблюдение
                                            </div>
    
                                            <div class="page-price__item__price"><span style="font-weight: 400; font-size: 0.8125rem">Стоимость оборудования:</span> 2800 ₴</div>
                                            <div class="page-price__item__price"><span style="font-weight: 400; font-size: 0.8125rem">Ежемесечная оплата:</span> 199 ₴/мес.</div>
    
                                    <a href="" class="btn btn-invert mx-auto page-price__item__submit">Подключить тариф</a>
                                </div>
                            </div>
    
    
    
                        </div>
    
                        <div class="page-price__slider__arrows">
                            <button class="slick-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="slick-next"><i class="fa fa-angle-right"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    <section class="callback-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="callback-block__container text-white">
                        <h2 href="" class="callback-block__title">Рассчитать стоимость под ваш объект</h2>
                        <p class="callback-block__slogan">Обращайтесь для заказа услуги с гарантией качества — ответим на все вопросы, проконсультируем и поможем сделать оптимальный выбор.</p>

                        <div class="callback-block__form">
                            <form action="">
                                <input type="text" name="" id="" required placeholder="ФИО*">
                                <input type="tel" name="" id="" required placeholder="Телефон*">
                                
                                <div class="callback-block__policy">
                                        Нажимая на кнопку, вы принимаете наше 
                                         <a href="">Соглашение о сборе данных</a>
                                </div>
                                <button class="btn btn-invert" type="submit" value="Отправить заявку">Отправить заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="callback-block__toggler"> <i class="fa fa-chevron-down"></i> </button>
    </section>
    

    <section class="page-equip">
        <div class="container">
            <h3 class="page-equip__title">Комплекты сигнализаций</h3>

            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/ajax-starter.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">Комплект
                                    охранной сигнализации
                                    Ajax StarterKit</div>
                            <div class="page-equip__item__desc">
                                    Ajax StarterKit — первый шаг для защиты однокомнатной квартиры или входной группы дома. Это базовый комплект беспроводной системы безопасности Ajax с возможностью ... 
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">5240 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/lun-25t.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">Комплект
                                    охранной сигнализации
                                    Лунь-25Т</div>
                            <div class="page-equip__item__desc">
                                    Комплект сигнализации Лунь-25Т - используется как самостоятельное объектовое устройство для объектов типа "тревожна кнопка" и "общая охрана". Работает по беспроводному ... 
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">4879 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    