<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet"> 
    <title>apelsin</title>
</head>
<body>
        <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-3 col-xl-4">
                            <div class="row no-gutters">
                                <div class="col-6 col-md-5">
                                    <a href="/" class="header-logo"><img src="/img/logo.png" alt=""></a>
                                </div>
                                <div class="col-6 col-md-7">
                                    <p class="header-slogan">
                                        Высокоскоростной Интернет и IPTV-телевидение
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                            <div class="row no-gutters text-center">
                                <div class="col-6 col-lg-6">
                                    <a class="header-tel ml-xl-auto" href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008</a>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <a href="" class="header-callback">Перезвонить мне</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="header-actions">
                                <a class="header-login" href="http://stat.apelsin.net/cgi-bin/stat.pl"></a>
                                <a class="header-payment" href=""></a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 text-right">
                            <button class="menu-toggler"><i class="fa fa-bars"></i><span>Меню</span></button>
                        </div>
                    </div>
                </div>
            </header>
    <div class="main-menu">
        <a href="" class="main-menu__close"></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                    <div class="main-menu-block__header"><a href="">Домашний интернет</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                        <li><a href="">Чубинское и Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Интернет в частный дом</a></div>
                    <ul class="main-menu-block">
                        <li><a href="">Большая Александровка, Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                        <li><a href="">Гора</a></li>
                    </ul>
                    <div class="main-menu-block__header"><a href="">Офисный интернет</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <ul class="main-menu__list">
                        <li><a href="">Абоненту</a></li>
                        <li><a href="">Дополнительные услуги</a></li>
                        <li><a href="">Цифровое телевидение HD</a></li>
                        <li><a href="">Умный дом</a></li>
                        <li><a href="">Оборудование</a></li>
                        <li><a href="">Акции</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Контакты</a></li> 
                    </ul>
                    <a href="" class="btn">Заявка на подключение <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-breadcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <i class="fa fa-arrow-right"></i>
                    <li>Smart house</li>
                    <i class="fa fa-arrow-right"></i>
                    <li class="active">Optical wire</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="banner-page" style="background-image: url('/img/banner-wifi-network.jpg')">
        <div class="container"> 
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-9">
                    
                    <br>
                        <div class="offers-slide__title" style="color: #fff">
                                <span style="font-size: 0.835em">
                                    Профессиональное строительство <br>
                                    Wi-Fi сетей для 20+ категорий бизнеса
                                </span>
                        </div>
                        <div class="text-white" style="font-weight: 400; font-size: 1.125rem">
                           <br>
                           
                            <ul class="dotted">
                               <li>Работают инженеры с многолетним стажем</li>
                               <li>Обеспечиваем полный комплекс работ </li>
                               <li>Профильное оборудование для анализа объекта</li>
                           </ul>
                           <br>
                        </div>
                        <a href="" class="btn btn-invert">Получить консультацию</a>
                        <br>
                </div>
            </div>
        </div>
    </section>

    <section class="bad-wifi">
        <div class="container">
            <h2 class="bad-wifi__title">
                    ТОП-3 причины некачественной работы Wi-Fi сети
            </h2>
            <div class="row">
                <div class="col-12 col-lg-4 col-xl-4 offset-xl-1">
                    <div class="bad-wifi__img">
                        <img src="/img/wifi-network-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="bad-wifi__content">
                        <p class="bad-wifi__subtitle">3 ошибки, губящие сетевой Wi-Fi</p>
                        <ul class="dotted">
                            <li>Неверный расчет частотного планирования. Выбор не той частоты из 13 2,4-гигогерцевых каналов или 3 5-гигогерцевых поддиапазонов ведет к сбоям и частым отключениям.</li>
                            <li>Помехи от других сетей. Строительство без учета проходящих рядом каналов связи может повлиять на качество подключения и стабильность сигнала.</li>
                            <li>Применение несоответствующего оборудования. Установка устаревших, непрофессиональныхприборов сомнительных брендов приводит к проблемам с доступом и сокращению скорости.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="productivity">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="productivity__title">
                            Работаем на повышение прибыльности
                            различных видов бизнеса
                    </h2>
                    <p class="productivity__under-title">Услуги комплексного строительства Wi-Fi сетей: 8 лет опыта, профессиональное оборудование, скорость до 1 Гбит/с</p>

                </div>
            </div>
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/food.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Рестораны и бары
                        </div>
                        <div class="productivity__item__desc">
                                Wi-Fi сеть помогает привлечь новых клиентов, моментально принимать заказы и вести аналитику целевой аудитории
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/office.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Офисы и бизнес-центры
                        </div>
                        <div class="productivity__item__desc">
                                Свободный доступ в интернет из любой точки здания или офиса помогает организовать работу с моментальным распространением задач, новостей, объявлений
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/hotel.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Отели и гостиницы
                        </div>
                        <div class="productivity__item__desc">
                                Быстрый беспроводной интернет поможет привлечь поток посетителей без больших затрат
                        </div>
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/beauty.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Салоны красоты
                        </div>
                        <div class="productivity__item__desc">
                                Независимо от числа клиентов каждый получит  доступ к интернету с возможностью приятно скоротать время за процедурами. Администратор может принимать заявки с нескольких устройств, что сокращает шанс упустить клиента и повышает лояльность посетителей.
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/education.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Учебные заведения
                        </div>
                        <div class="productivity__item__desc">
                                Создаем надежные решения для ВУЗов, техникумов и других учреждений для повышения качества образовательного процесса и расширенияего возможностей
                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="productivity__item">
                        <div class="productivity__item__img">
                            <img src="/img/productivity/logistic.jpg" alt="">
                        </div>
                        <div class="productivity__item__title">
                                Транспортные и логистические компании
                        </div>
                        <div class="productivity__item__desc">
                                Предоставляем индивидуальные решения под каждый бизнес с устройством нужного числа точек доступа для покрытия большой площади и обеспечения неограниченного числа пользователей
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="service-steps">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="service-steps__item service-steps__item-1">
                        <div class="service-steps__item__title">
                                Анализируем текущую ситуацию
                        </div>
                        <p>С помощью специального оборудования проверяем соответствие силы сигнала заявленной норме в разных местах здания, территории. Составляем наглядные карты покрытия, на основании которых предлагаем варианты усовершенствования, усиления и переорганизации. Производим расчеты с нуля при отсутствии сети.</p>
                    </div>
                    <div class="service-steps__item service-steps__item-2">
                        <div class="service-steps__item__title">
                                Проектируем    
                        </div>
                        <p>Готовим техническое задание, которое согласовывается с клиентом. На его основании создаем детальный проект с будущей картой покрытия, схемами расположения оборудования, спецификацией и экспликацией всех элементов сети. Предлагаем понятные решения для надежного и длительного функционирования и экономии средств.</p>
                    </div>
                    <div class="service-steps__item service-steps__item-3">
                        <div class="service-steps__item__title">
                                Устанавливаем
                        </div>
                        <p>КомпанияApelsin.Net берет на себя транспортировку всех необходимых материалов до объекта. Профессиональные монтажники под руководством инженеров производят работы по прокладке кабелей, установке точек доступа, маршрутизаторов. Проводим полный комплекс пусконаладочных работ, предоставляя клиенту качественную услугу под ключ.</p>
                    </div>
                    <div class="service-steps__item service-steps__item-4">
                        <div class="service-steps__item__title">
                                Сдаемобъект 
                        </div>
                        <p>Проводится анализ работы готовой сети с помощью радиообследования. По его результатам составляется действительная карта покрытия. Система тестируется на предельные нагрузки для гарантии работы бесшовной сети даже при превышении числа расчетных пользователей.</p>
                    </div>
                    <div class="service-steps__item service-steps__item-5 last">
                        <div class="service-steps__item__title">
                                Обслуживаем по гарантии и после 
                        </div>
                        <p>Оказываем профессиональную поддержку, обеспечиваем администрирование, модернизацию и, при необходимости, масштабирование. Поддерживаем бесперебойную работу системы и ее составляющих.</p>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <div class="service-results">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-center">
                    <h2 class="service-results__title">Работа с лидерами рынка
                            определяет качественный результат</h2>
                    <p class="service-results__under-title">Работа с лидерами рынка
                            определяет качественный результат</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="service-results__item service-results__item-1">
                        <div class="service-results__item__title">
                                Различный масштаб
                        </div>
                        <p>Создаем продвинутые решенияпод задачи небольших кафе и крупных компаний</p>
                    </div>

                    <div class="service-results__item service-results__item-2">
                        <div class="service-results__item__title">
                                Закрытые сети для персонала
                        </div>
                        <p>Дополнительная сеть с паролем, который устанавливает владелец, предназначена только для служебных нужд</p>
                    </div>

                    <div class="service-results__item service-results__item-3">
                        <div class="service-results__item__title">
                                Беспроводной доступ
                        </div>
                        <p>Регулярный круглосуточный мониторинг и  служба поддержки, работающая без перерывов и выходных,гарантируют стабильный Wi-Fi без сбоев</p>
                    </div>

                    <div class="service-results__item service-results__item-4">
                        <div class="service-results__item__title">
                                Новейшее оборудование
                        </div>
                        <p>Сотрудничаем с прогрессивными брендами оборудования для построениястабильных беспроводных сетей</p>
                    </div>

                    <div class="service-results__item service-results__item-5">
                        <div class="service-results__item__title">
                                Построение сетей под ключ
                        </div>
                        <p>Заботимся о расчете, подборе комплектующих, монтаже и обслуживании, не отвлекая клиента от профильной деятельности</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <section class="callback-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-6">
                    <div class="callback-block__container text-white">
                        <h2 href="" class="callback-block__title">Задать вопрос инженеру</h2>
                        <p class="callback-block__slogan">Обратитесь к нам сейчас для бесплатной консультации
                                инженера с 6-летним стажем</p>

                        <div class="callback-block__form">
                            <form action="">
                                <input type="text" name="" id="" required placeholder="ФИО*">
                                <input type="tel" name="" id="" required placeholder="Телефон*">
                                <textarea name="" id="" cols="30" rows="3">Комментарий</textarea>
                                <div class="callback-block__policy">
                                        Нажимая на кнопку, вы принимаете наше 
                                        Соглашение о сборе данных
                                </div>
                                <button class="btn btn-invert" type="submit" value="Отправить заявку">Отправить заявку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="callback-block__toggler"> <i class="fa fa-chevron-down"></i> </button>
    </section>
    

    <section class="page-equip">
        <div class="container">
            <h3 class="page-equip__title">WI-FI-роутеры (маршрутизаторы)</h3>

            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="page-equip__item">
                        <div class="page-equip__item__img">
                            <img src="/img/netis.jpg" alt="">
                        </div>
                        <div class="page-equip__item__content">
                            <div class="page-equip__item__title">WI-FI роутер Netis 2419</div>
                            <div class="page-equip__item__desc">
                                <ul>
                                    <li>Интернет без проводов</li>
                                    <li>Скорость Wi-Fi до 300 Мбит/с</li>
                                    <li>2 антенны 2.4 Hz</li>
                                </ul>
                            </div>
                            <div class="page-equip__item__price">
                                    Стоимость – <span class="page-equip__item__price__val">650 ₴</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <p class="copyright">© 2018, Apelsin.Net. Все права защищены.</p>
                    <div class="footer-info-links">
                        <a href="">Политика конфиденциальности</a><br>
                        <a href="">Отчет о структуре собственности</a><br>
                        <a href="">Согласие с рассылкой</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-block-header">Домашний интернет</div>
                    <ul class="footer-block">
                        <li><a href="">Бровары ЖК Зеленый Квартал</a></li>
                        <li><a href="">Киев ЖК Авангард</a></li>
                        <li><a href="">Киев ЖК Солнечная Брама</a></li>
                    </ul>
                    <div class="footer-block-header">Интернет в частный дом</div>
                    <ul class="footer-block">
                        <li><a href="">Гора</a></li>
                        <li><a href="">Большая Александровка</a></li>
                        <li><a href="">Малая Александровка и Безугловка</a></li>
                        <li><a href="">Чубинское</a></li>
                    </ul>
                    <div class="footer-block-header">Офисный интернет</div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <ul class="footer-menu">
                       <li><a href="">Офисный интернет</a></li>
                       <li><a href="">WI-FI роутеры (маршрутизаторы)</a></li>
                       <li><a href="">Цифровое телевидение HD</a></li>
                       <li><a href="">Дополнительные услуги</a></li>
                       <li><a href="">Акции</a></li>
                       <li><a href="">Новости</a></li>
                       <li><a href="">О компании</a></li>
                       <li><a href="">Контакты</a></li> 
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="socials">
                        <a href="tel:+380671111008"><i class="fa fa-phone"></i>+38 (067) 1111-008 (Подключение)</a>
                        <a href="tel:+380968236402"><i class="fa fa-whatsapp"></i>+38 (096) 823-64-02</a>
                        <a href=""><i class="fa fa-skype"></i>support.apelsin.net</a>
                        <a href=""><i class="fa fa-telegram"></i>ApelsinNetBot</a>
                        <a href=""><i class="fa fa-facebook"></i>ApelsinNet</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/init.js"></script>
</body>
</html>    